<div class='spacing-search'>
  <d-button class='button' bsStyle='primary' (click)='onRowNew()'>New</d-button>
  <d-search
    class='search'
    [(ngModel)]='queryParam.queryName'
    [iconPosition]="'left'"
    (searchFn)='fetchData()'
    (change)='fetchData()'
  >
  </d-search>
  <app-business-cascader #businessCascader [businessType]='businessType'
                         (onChange)='onTagChanges($event)'></app-business-cascader>
  <d-button class='button' bsStyle='common' (click)='fetchData()'>Filter</d-button>
</div>
<div class='spacing-table'>
  <d-data-table
    dLoading
    [dataSource]='table.data'
    [tableOverflowType]="'overlay'"
    [backdrop]='true'
    [scrollable]='true'
    [loadingStyle]="'infinity'"
    [loading]='table.loading'
    [checkable]='true'
  >
    <d-column header='Web Site' [width]="'300px'">
      <d-cell>
        <ng-template let-rowItem='rowItem'>
          <span dClipboard [content]="rowItem['domainRecord']">{{ rowItem['domainRecord'] }}</span>
          <br />
          <a class='devui-link-light'
             [href]="rowItem['consoleUrl']"
             target='_blank'
          >{{ rowItem['domain'] }}</a>
          <span style='margin-right: 5px; margin-left: 5px'>→</span>
          <span *ngIf='rowItem.dnsResolverInstance != null'>
               <span>DNS on </span>
               <d-tag
                 [tag]='rowItem.dnsResolverInstance.instanceName'
                 [labelStyle]="'blue-w98'"
               >
               </d-tag>
          </span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header='Record Targets'>
      <d-cell>
        <ng-template let-rowItem='rowItem'>
          <div *ngFor='let target of rowItem.recordTargets'>
            <div>
              <d-badge [showDot]='true' style='margin-right: 1em'
                       [status]="target.active?'success':'common'" />
              <span>{{ target.resourceRecord }}</span>
              <span style='margin-right: 5px; margin-left: 5px'>→</span>
              <span>[ {{ target.recordType }} ]</span>
              <span style='margin-right: 5px; margin-left: 5px'>→</span>
              <span
                *ngIf="target.targetType == 'CLOUDFLARE' && rowItem['dnsResolverInstance']?.edsType == 'CLOUDFLARE'">
                  <img *ngIf='target.dnsResourceRecord?.proxied == "" || !target.dnsResourceRecord?.proxied'
                       ngSrc='assets/icon/cloudflare-onlydns-icon.svg'
                       alt='Cloudflare'
                       style='width: 25px; height: 25px; margin-right: 5px; vertical-align: bottom' height='10'
                       width='10'>
                  <img *ngIf='target.dnsResourceRecord?.proxied != "" && target.dnsResourceRecord?.proxied'
                       ngSrc='assets/icon/cloudflare-proxied-icon.svg'
                       alt='Cloudflare'
                       style='width: 25px; height: 25px; margin-right: 5px; vertical-align: bottom' height='10'
                       width='10'>
              </span>
              <!-- 记录 -->
              <span *ngIf='!target.origin' dClipboard [content]='target.recordValue'>{{ target.recordValue }}</span>
              <d-tag *ngIf='target.origin' [tag]='target.recordValue' [labelStyle]="'blue-w98'"></d-tag>
              <span *ngIf="target.targetType == 'CLOUDFLARE'">
                <img ngSrc='assets/icon/cloudflare-icon.svg'
                     alt='Cloudflare'
                     style='width: 20px; height: 20px; margin-left: 10px; vertical-align: bottom' height='64'
                     width='64'>
              </span>
              <img *ngIf="target.targetType == 'ALIYUN_ALB'" ngSrc='assets/icon/alibabacloud-icon.svg' alt='Cloudflare'
                   style='width: 20px; height: 20px; margin-left: 10px; vertical-align: bottom' height='10' width='10'>
              <img *ngIf="target.targetType == 'AWS_ELB'" ngSrc='assets/icon/aws-icon.svg' alt='AWS'
                   style='width: 20px; height: 20px; margin-left: 10px; vertical-align: bottom' height='10' width='10'>
              <img *ngIf="target.targetType == 'HWC_ELB'" ngSrc='assets/icon/huaweicloud-icon.svg' alt='HuaweiCloud'
                   style='width: 20px; height: 20px; margin-left: 10px; vertical-align: bottom' height='10' width='10'>
              <span *ngIf='!target.origin'> →
                <d-tag *ngIf='target.originServer == null || target.originServer == ""' tag='Origin'
                       [labelStyle]="'blue-w98'"></d-tag>
                <d-tag *ngIf='target.originServer != null && target.originServer != ""' [tag]='target.originServer'
                       [labelStyle]="'blue-w98'"></d-tag>
              </span>
            </div>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column *ngIf='false' header='DNS' [width]="'150px'">
      <d-cell>
        <ng-template let-rowItem='rowItem'>
          <span>{{ rowItem['dnsResolverInstance']?.instanceName }}</span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header='Tags' [width]="'250px'">
      <d-cell>
        <ng-template let-rowItem='rowItem'>
          <app-business-tags [businessTags]="rowItem['businessTags']"></app-business-tags>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header='Actions' [width]="'250px'">
      <d-cell>
        <ng-template let-rowItem='rowItem'>
          <d-icon-group>
            <d-icon [icon]="'icon-edit'" [operable]='true' (click)='onRowEdit(rowItem)'></d-icon>
            <d-icon [icon]="'icon-directory'" [operable]='true' (click)='onRowEditTarget(rowItem)'></d-icon>
            <d-icon [icon]="'icon-switch'" [operable]='true' (click)='onRowSwitchTarget(rowItem)'></d-icon>
            <d-icon [icon]="'icon-add-label'" [operable]='true' (click)='onRowBusinessTag(rowItem)'></d-icon>
            <d-icon [icon]="'icon-go-document'" [operable]='true' (click)='onRowBusinessDoc(rowItem)'></d-icon>
            <d-icon
              [icon]="'icon-priority'"
              [operable]='true'
              [color]="getRowColor(rowItem['valid'])"
              (click)='onRowValid(rowItem)'
            >
            </d-icon>
            <span dDropDown appendToBody>
              <d-icon dDropDownToggle [icon]="'icon-more-operate'" [operable]='true'></d-icon>
              <ul dDropDownMenu>
                <li class='devui-dropdown-item' (click)='onRowDelete(rowItem)'>Delete</li>
              </ul>
            </span>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class='no-data'>Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class='spacing-pagination'>
  <div dDropDown class='batch-button'>
    <d-button-group>
      <d-button bsStyle='common' dDropDownToggle>
        Batch
        <span class='icon icon-select-arrow'></span>
      </d-button>
    </d-button-group>
    <ul dDropDownMenu class='devui-dropdown-menu' role='menu'>
      <li role='menuitem' (click)='onBatchValid()'>
        <a dDropDownMenuItem>
          <span class='icon-setup' style='padding-right: 5px; vertical-align: middle'> Valid</span>
        </a>
      </li>
      <li role='menuitem' (click)='onBatchTag()'>
        <a dDropDownMenuItem>
          <span class='icon-tag' style='padding-right: 5px; vertical-align: middle'> Tag</span>
        </a>
      </li>
      <li role='menuitem' (click)='onBatchDelete()'>
        <a dDropDownMenuItem>
          <span class='icon-delete' style='padding-right: 5px; vertical-align: middle'> Delete</span>
        </a>
      </li>
    </ul>
  </div>
  <d-pagination
    class='pagination'
    [total]='table.pager.total'
    [(pageSize)]='table.pager.pageSize'
    [(pageIndex)]='table.pager.pageIndex'
    [canViewTotal]='true'
    [canChangePageSize]='true'
    [maxItems]='5'
    (pageIndexChange)='pageIndexChange($event)'
    (pageSizeChange)='pageSizeChange($event)'
  >
  </d-pagination>
</div>
