.record-target-card-content {
  overflow: auto;
  padding: 5px 10px;

  .name {
    color: #99a9bf;
    display: inline-block;
    font-size: 12px;
  }

  .value {
    display: inline-block;
    float: right;
    font-size: 12px;
  }

}
