<div class="spacing-search">
  <d-button class="button" bsStyle="primary" (click)="onRowNew()">New</d-button>
  <d-tabs class="tabs" type="options" [activeTab]="selectedCountry" (activeTabChange)="onCountryChange($event)">
    <d-tab [id]="''" [title]="'All'"></d-tab>
    <d-tab *ngFor="let cc of countryOptions" [id]="cc.value">
      <ng-template dTabTitle>
        {{ cc.label }} <span class="count-badge">{{ cc.count }}</span>
      </ng-template>
    </d-tab>
  </d-tabs>
  <d-select
    class="select"
    style="width: 300px; max-width: 300px"
    [options]="filteredChannelOptions"
    [(ngModel)]="selectedChannel"
    [placeholder]="'Select Channel'"
    [filterKey]="'label'"
    [isSearch]="true"
    [allowClear]="true"
    [appendToBody]="true"
    (ngModelChange)="onChannelChange($event)"
  >
    <ng-template let-option="option">
      <span>{{ option.label }}</span>
      <span style="float: right; color: var(--devui-aide-text, #8a8e99); font-size: 11px;">{{ option.country }}</span>
    </ng-template>
  </d-select>
  <d-search
    class="search"
    [(ngModel)]="queryParam.queryName"
    [iconPosition]="'left'"
    (searchFn)="fetchData()"
    (change)="fetchData()"
  >
  </d-search>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter</d-button>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
    [checkable]="true"
  >
    <d-column field="businessName" header="Business Name"></d-column>
    <d-column field="type" header="Type">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <d-tag *ngIf="cellItem" [tag]="cellItem" [labelStyle]="'blue-w98'"></d-tag>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="businessDirection" header="Direction">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <d-tag *ngIf="cellItem" [tag]="cellItem" [labelStyle]="'blue-w98'"></d-tag>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Account Entity">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          {{ rowItem.accountEntity?.name }}
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Organization">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          {{ rowItem.organization?.name }}
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Channel">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          {{ rowItem.channel?.name }}
          <span *ngIf="rowItem.channel?.country" style="color: var(--devui-aide-text, #8a8e99); font-size: 11px; margin-left: 4px;">{{ rowItem.channel.country }}</span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Linked Nodes">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div *ngIf="rowItem.nodes?.length" style="display: flex; flex-wrap: wrap; gap: 4px;">
            <ng-container *ngFor="let line of rowItem.nodes">
              <d-tag *ngIf="line" [tag]="line.name" [labelStyle]="'blue-w98'"></d-tag>
            </ng-container>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="comment" header="Comment"></d-column>
    <d-column header="Actions">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon [icon]="'icon-edit'" [operable]="true" (click)="onRowEdit(rowItem)"></d-icon>
            <d-icon [icon]="'icon-link'" [operable]="true" (click)="onRowManageLines(rowItem)"></d-icon>
            <d-icon
              [icon]="'icon-priority'"
              [operable]="true"
              [color]="getRowColor(rowItem['valid'])"
              (click)="onRowValid(rowItem)"
            >
            </d-icon>
            <span dDropDown appendToBody>
              <d-icon dDropDownToggle [icon]="'icon-more-operate'" [operable]="true"></d-icon>
              <ul dDropDownMenu>
                <li class="devui-dropdown-item" (click)="onRowDelete(rowItem)">Delete</li>
              </ul>
            </span>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <div dDropDown class="batch-button">
    <d-button-group>
      <d-button bsStyle="common" dDropDownToggle>
        Batch
        <span class="icon icon-select-arrow"></span>
      </d-button>
    </d-button-group>
    <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
      <li role="menuitem" (click)="onBatchDelete()">
        <a dDropDownMenuItem>
          <span class="icon-delete" style="padding-right: 5px; vertical-align: middle"> Delete</span>
        </a>
      </li>
    </ul>
  </div>
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
