<div class="spacing-search">
  <d-button class="button" bsStyle="primary" (click)="onRowNew()">New</d-button>
  <d-search
    class="search"
    [(ngModel)]="queryParam.queryName"
    [iconPosition]="'left'"
    (searchFn)="fetchData()"
    (change)="fetchData()"
  >
  </d-search>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter</d-button>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
    [checkable]="true"
    (cellEditEnd)="onCellEditEnd($event)"
  >
    <d-column header="Name">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-row>
            <d-icon [icon]="'icon-copy'" dIconHover dClipboard [content]="rowItem['username']" [position]="'right'">
              <span iconPrefix>{{ rowItem['username'] }}</span>
            </d-icon>
          </d-row>
          <d-row>
            <span class="font-color-name">{{ rowItem['name'] }}</span>
            <span
              *ngIf="rowItem['displayName'] !== rowItem['name']"
              style="margin-left: 5px"
              class="font-color-comment">
              {{ rowItem['displayName'] }}
            </span>
          </d-row>
          <d-row>
            <d-icon [icon]="'icon-copy'" dIconHover dClipboard [content]="rowItem['email']" [position]="'right'">
              <span iconPrefix>{{ rowItem['email'] }}</span>
            </d-icon>
          </d-row>
          <d-row>
            <span>{{ rowItem['mobilePhone'] }}</span>
          </d-row>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Time">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <span class="font-color-name" style="margin-right: 5px">Last Login</span>
          <span>{{ rowItem['lastLogin'] | dSafeNullPipe }}</span>
          <strong style="margin-left: 5px">{{ rowItem['lastLogin'] | dRelativeTime: limit | async }}</strong>
          <br>
          <span class="font-color-name" style="margin-right: 5px">Create Time</span>
          <span>{{ rowItem['createTime'] }}</span>
          <strong style="margin-left: 5px">{{ rowItem['createTime'] | dRelativeTime: limit | async }}</strong>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="RBAC" [width]="'200px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div [style.width.px]="180">
            <d-tags
              [tags]="rowItem['rbacRoles']"
              [displayProperty]="'roleName'"
              [titleProperty]="'accessLevel'"
              [hideBeyondTags]="true"
            ></d-tags>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Tags" [width]="'250px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <app-business-tags [businessTags]="rowItem['businessTags']"></app-business-tags>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Actions" [width]="'200px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon [icon]="'icon-edit'" [operable]="true" (click)="onRowEdit(rowItem)"></d-icon>
            <d-icon [icon]="'icon-add-label'" [operable]="true" (click)="onRowBusinessTag(rowItem)"></d-icon>
            <d-icon [icon]="'icon-go-document'" [operable]="true" (click)="onRowBusinessDoc(rowItem)"></d-icon>
            <d-icon
              [icon]="'icon-priority'"
              [operable]="true"
              [color]="getRowColor(rowItem['valid'])"
              (click)="onRowValid(rowItem)"
            >
            </d-icon>
            <span dDropDown appendToBody>
              <d-icon dDropDownToggle [icon]="'icon-more-operate'" [operable]="true"></d-icon>
              <ul dDropDownMenu>
                <li class="devui-dropdown-item" (click)="onRowInactive(rowItem)">Inactive</li>
              </ul>
            </span>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <div dDropDown class="batch-button">
    <d-button-group>
      <d-button bsStyle="common" dDropDownToggle>
        Batch
        <span class="icon icon-select-arrow"></span>
      </d-button>
    </d-button-group>
    <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
      <li role="menuitem" (click)="onBatchValid()">
        <a dDropDownMenuItem>
          <span class="icon-setup" style="padding-right: 5px; vertical-align: middle"> Valid</span>
        </a>
      </li>
      <li role="menuitem" (click)="onBatchInactive()">
        <a dDropDownMenuItem>
          <span class="icon-delete" style="padding-right: 5px; vertical-align: middle"> Inactive</span>
        </a>
      </li>
    </ul>
  </div>
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
