<div class="spacing-search">
  <d-select
    class="select"
    [filterKey]="'name'"
    [width]="580"
    [appendToBody]="true"
    [(ngModel)]="application"
    [searchFn]="onSearchApplication"
    [allowClear]="true"
    [isSearch]="true"
    placeholder="Select application"
    (valueChange)="onApplicationChange($event)"
  >
    <ng-template let-option="option">
      <span>{{ option.name }}</span>
      <span style="float: right; padding: 3px 0">{{ option.comment }}</span>
    </ng-template>
  </d-select>
  <d-category-search
    style="width: 500px;max-width: 500px"
    class="category-search"
    [category]="category"
    [selectedTags]="selectedTags"
    [tagMaxWidth]="200"
    [extendedConfig]="extendedConfig"
    [groupOrderConfig]="groupOrderConfig"
    [toggleScrollToTail]="true"
    [categoryInGroup]="true"
    (searchEvent)="searchEvent($event)"
    (selectedTagsChange)="selectedTagsChange($event)"
  ></d-category-search>
  <d-cascader
    *ngIf="show"
    class="cascader"
    [options]="baselineTypeOptions"
    placeholder="Select member type"
    [(ngModel)]="memberType"
    (ngModelChange)="onMemberTypeChanges($event)"
    [dropdownPanelClass]="'custom-class'"
    [allowClear]="true"
  ></d-cascader>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter</d-button>
  <span class="right-button">
    <d-button bsStyle="danger" (click)="onScanAll()">Scan All</d-button>
  </span>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
    [checkable]="true"
  >
    <d-column field="applicationName" header="Appliction"></d-column>
    <d-column header="Kubernetes Resource">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <span dClipboard [content]="rowItem.instanceName">Kubernetes:&nbsp;{{ rowItem.instanceName }}</span>
          <br />
          <span dClipboard [content]="rowItem.namespace">Namespace:&nbsp;
            <span *ngIf="rowItem['env'] === null">
              {{ rowItem.namespace }}
            </span>
             <span *ngIf="rowItem['env'] !== null">
               <d-tag [tag]="rowItem.env.envName" [customColor]="rowItem.env.color"></d-tag>
            </span>
          </span>
          <br />
          <span dClipboard [content]="rowItem.name">Deployment:&nbsp;{{ rowItem.name }}</span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="framework" header="Framework">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <d-tag [tag]="cellItem" [labelStyle]="'blue-w98'"></d-tag>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Probe">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div>
            <d-badge [showDot]="true"
                     [status]="rowItem['container'].startupProbe.standard?'success':'warning'"></d-badge>
            <span
              dPopover
              [position]="'right-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="startupProbeTemplate"
              class="font-color-name"
              [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '750px' }"
            >&nbsp;Startup</span>
            <ng-template #startupProbeTemplate>
              Current
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['container'].startupProbe.content"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
              Baseline
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['container'].startupProbe.baseline.content"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
            </ng-template>
            <div>
              {{ rowItem['container'].startupProbe.path }} [:{{ rowItem['container'].startupProbe.port }}]
            </div>
          </div>
          <div>
            <d-badge [showDot]="true"
                     [status]="rowItem['container'].livenessProbe.standard?'success':'warning'"></d-badge>
            <span
              dPopover
              [position]="'right-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="livenessProbeTemplate"
              class="font-color-name"
              [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '750px' }"
            >&nbsp;Liveness</span>
            <ng-template #livenessProbeTemplate>
              Current
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['container'].livenessProbe.content"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
              Baseline
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['container'].livenessProbe.baseline.content"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
            </ng-template>
            <div>
              {{ rowItem['container'].livenessProbe.path }} [:{{ rowItem['container'].livenessProbe.port }}]
            </div>
          </div>
          <div>
            <d-badge [showDot]="true"
                     [status]="rowItem['container'].readinessProbe.standard?'success':'warning'"></d-badge>
            <span
              dPopover
              [position]="'right-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="readinessProbeTemplate"
              class="font-color-name"
              [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '750px' }"
            >&nbsp;Readiness</span>
            <ng-template #readinessProbeTemplate>
              Current
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['container'].readinessProbe.content"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
              Baseline
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['container'].readinessProbe.baseline.content"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
            </ng-template>
            <div>
              {{ rowItem['container'].readinessProbe.path }} [:{{ rowItem['container'].readinessProbe.port }}]
            </div>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Lifecycle">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-badge [showDot]="true" [status]="rowItem['container'].lifecycle.standard?'success':'warning'"></d-badge>
          <span
            dPopover
            [position]="'left-top'"
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [content]="lifecycleTemplate"
            [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '750px' }"
            class="font-color-name"
          >&nbsp;PreStop</span>
          <ng-template #lifecycleTemplate>
            Current
            <app-ace-editor
              [readonly]="true"
              [aceValue]="rowItem['container'].lifecycle.content"
              [mode]="'ace/mode/yaml'"
              [theme]="'ace/theme/tomorrow_night'"
            ></app-ace-editor>
            Baseline
            <app-ace-editor
              [readonly]="true"
              [aceValue]="rowItem['container'].lifecycle.baseline.content"
              [mode]="'ace/mode/yaml'"
              [theme]="'ace/theme/tomorrow_night'"
            ></app-ace-editor>
          </ng-template>
          <div>
            <span>{{ rowItem['container'].lifecycle.preStopExecCommand }}</span>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Env">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div *ngFor="let env of rowItem['container'].env">
            <d-badge [showDot]="true" [status]="env['standard']?'success':'warning'"></d-badge>
            <span
              dPopover
              [position]="'left-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="envTemplate"
              [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '750px' }"
              class="font-color-name"
            >&nbsp;{{ env['name'] }}</span>
            <ng-template #envTemplate>
              Current
              <app-ace-editor
                [readonly]="true"
                [aceValue]="env['content']"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
              Baseline
              <app-ace-editor
                [readonly]="true"
                [aceValue]="env['baseline']['content']"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
            </ng-template>
            <div>
              <span *ngIf="env['value']">{{ env['name'] }}:{{ env['value'] }}</span>
              <span *ngIf="!env['value']">
                <span *ngFor="let value of env['valueFrom'] | keyvalue">
                  <span>{{ value.key }} | {{ value.value['key'] }}: {{ value.value['name'] }}</span>
                </span>
              </span>
            </div>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="standard" header="Standard">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <d-icon [icon]="'icon-priority'" [color]="cellItem?'var(--devui-success)':'var(--devui-danger)'"></d-icon>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Actions" [width]="'150px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon
              [disabled]="rowItem['$rescan']"
              [icon]="'icon-synchronize'"
              [operable]="true"
              (click)="onRowRescan(rowItem)"></d-icon>
            <d-icon [icon]="'icon-merge-request'" [operable]="true" (click)="onRowMerge(rowItem)"></d-icon>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <div dDropDown class="batch-button">
    <d-button-group>
      <d-button bsStyle="common" dDropDownToggle>
        Batch
        <span class="icon icon-select-arrow"></span>
      </d-button>
    </d-button-group>
    <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
      <li role="menuitem" (click)="onBatchRescan()">
        <a dDropDownMenuItem>
          <span class="icon-synchronize" style="padding-right: 5px; vertical-align: middle"> Rescan</span>
        </a>
      </li>
      <li role="menuitem" (click)="onBatchMerge()">
        <a dDropDownMenuItem>
          <span class="icon-merge-request" style="padding-right: 5px; vertical-align: middle"> Merge</span>
        </a>
      </li>
    </ul>
  </div>
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
