.right-button {
  display: inline-flex;
  gap: 5px;
  flex-shrink: 0;
}

.button {
}

.left-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

:host ::ng-deep .devui-accordion-item-title > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
