<section>
  <form
    dForm
    ngForm
    [dValidateRules]="formRules['rule']"
    [layout]="layoutDirection"
  >
    <d-form-item>
      <d-form-label [required]="true">Business Name</d-form-label>
      <d-form-control>
        <input dTextInput name="businessName" [(ngModel)]="formData.businessName" [dValidateRules]="formRules['businessName']" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Type</d-form-label>
      <d-form-control>
        <d-tabs type="options" [activeTab]="formData.type" (activeTabChange)="onTypeChange($event)">
          <d-tab *ngFor="let item of typeOptions" [id]="item" [title]="getTypeLabel(item)"></d-tab>
        </d-tabs>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Direction</d-form-label>
      <d-form-control>
        <d-tabs type="options" [activeTab]="formData.businessDirection" (activeTabChange)="formData.businessDirection = $any($event)">
          <d-tab *ngFor="let item of directionOptions" [id]="item" [title]="item"></d-tab>
        </d-tabs>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Channel</d-form-label>
      <d-form-control>
        <d-select
          [options]="channelOptions"
          [(ngModel)]="selectedChannel"
          name="channelId"
          [placeholder]="'Search Channel'"
          [isSearch]="true"
          [filterKey]="'label'"
          [searchFn]="onSearchChannel"
          (ngModelChange)="onChannelChange($event)"
        >
          <ng-template let-option="option">
            <span>{{ option.label }}</span>
            <span style="float: right; color: var(--devui-aide-text, #8a8e99); font-size: 11px;">{{ option.country }}</span>
          </ng-template>
        </d-select>
      </d-form-control>
    </d-form-item>
    <div style="display: flex; gap: 16px;">
      <d-form-item style="flex: 1;">
        <d-form-label>Account Entity</d-form-label>
        <d-form-control>
          <d-select
            [options]="accountEntityOptions"
            [(ngModel)]="selectedAccountEntity"
            name="accountEntityId"
            [placeholder]="'Search Account Entity'"
            [isSearch]="true"
            [filterKey]="'label'"
            [allowClear]="true"
            [searchFn]="onSearchAccountEntity"
            (ngModelChange)="onAccountEntityChange($event)"
          ></d-select>
        </d-form-control>
      </d-form-item>
      <d-form-item style="flex: 1;">
        <d-form-label>Organization</d-form-label>
        <d-form-control>
          <d-select
            [options]="orgOptions"
            [(ngModel)]="selectedOrg"
            name="organizationId"
            [placeholder]="'Search Organization'"
            [isSearch]="true"
            [filterKey]="'label'"
            [searchFn]="onSearchOrg"
            (ngModelChange)="onOrgChange($event)"
          ></d-select>
        </d-form-control>
      </d-form-item>
    </div>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Seq</d-form-label>
      <d-form-control>
        <d-input-number name="seq" [(ngModel)]="formData.seq" [min]="0" [step]="1"></d-input-number>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Description</d-form-label>
      <d-form-control>
        <textarea
          dTextarea
          name="comment"
          maxlength="200"
          style="height: 80px"
          [(ngModel)]="formData.comment"
        ></textarea>
      </d-form-control>
    </d-form-item>
  </form>
</section>
