<div class="da-settings-layout">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24" [daOrder]="2">
      <div *ngIf="JSON.stringify(cloudIdentity) !== '{}'">
        <span *ngFor="let item of cloudIdentity| keyvalue">
          <h3 style="margin: 5px 0" class="font-color-comment"> {{ item.key }}</h3>
          <div class="cratos-divider" style="margin: 5px 0 10px 0"></div>
          <app-user-cloud-identity-card
            *ngFor="let identity of item.value"
            class="card-identity"
            [identity]="identity"
          ></app-user-cloud-identity-card>
        </span>
      </div>

    </da-col-item>

  </da-layout-row>
</div>
