<div class="spacing-search">
  <d-button class="button" bsStyle="primary" (click)="onRowNew()">{{ 'apiSecurityRisk.common.new' | translate }}</d-button>
  <d-search
    class="search"
    [(ngModel)]="queryParam.queryName"
    [iconPosition]="'left'"
    [placeholder]="'apiSecurityRisk.table.riskInfo' | translate"
    (searchFn)="fetchData()"
  >
  </d-search>
  <d-search
    class="search"
    style="width: 150px;"
    [(ngModel)]="queryParam.riskNo"
    [iconPosition]="'left'"
    [placeholder]="'apiSecurityRisk.form.riskNo' | translate"
    (searchFn)="fetchData()"
  >
  </d-search>
  <d-button class="button" bsStyle="common" (click)="fetchData()">{{ 'apiSecurityRisk.common.filter' | translate }}</d-button>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
  >
    <d-column [header]="'apiSecurityRisk.table.riskInfo' | translate" [width]="'450px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div>No: {{ rowItem.riskNo }}</div>
          <div *ngIf="rowItem.docUrl">
            <a [href]="rowItem.docUrl" target="_blank">
              <d-icon [icon]="'icon-go-document'" [operable]="true" title="Doc URL"></d-icon>
            </a>
          </div>
          <div><a style="color: var(--devui-brand, #5e7ce0); font-size: 12px;">{{ rowItem.apiEndpoint }}</a></div>
          <div style="border-top: 1px solid var(--devui-dividing-line, #dfe1e6); padding-top: 4px; margin-top: 4px;">{{ rowItem.riskDescription }}</div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column [header]="'apiSecurityRisk.table.analyst' | translate" [width]="'200px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div *ngIf="rowItem.analyst">
            <d-icon
              [icon]="'icon-identity-auth'"
              dPopover
              [position]="'left-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="analystUserTemplate"
              [popoverStyle]="popoverStyle" style="vertical-align: middle;margin-right: 5px"
            ></d-icon>
            <ng-template #analystUserTemplate>
              <app-user-info-card [username]="rowItem['analyst']"></app-user-info-card>
            </ng-template>
            <span>{{ rowItem.analyst }}</span>
          </div>
          <div *ngIf="rowItem.analysisDesc" style="font-size: 12px; margin-top: 4px; padding-top: 4px; border-top: 1px solid var(--devui-dividing-line, #dfe1e6);">
            <i class="fas fa-comment" style="vertical-align: middle; margin-right: 5px;"></i>{{ rowItem.analysisDesc }}
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="riskLevel" [header]="'apiSecurityRisk.table.riskLevel' | translate" [width]="'110px'">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <d-tag *ngIf="cellItem" [tag]="cellItem" [labelStyle]="getRiskLevelStyle(cellItem)"></d-tag>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="progress" [header]="'apiSecurityRisk.table.progress' | translate" [width]="'140px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-tag *ngIf="rowItem['progress']" [tag]="rowItem['progress']" [labelStyle]="getProgressStyle(rowItem['progress'])"></d-tag>
          <d-tag *ngIf="rowItem['completed']" [tag]="'DONE'" [labelStyle]="'green-w98'" style="margin-left: 4px;"></d-tag>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="securityOfficer" [header]="'apiSecurityRisk.table.securityOfficer' | translate" [width]="'130px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div *ngIf="rowItem.securityOfficer">
            <d-icon
              [icon]="'icon-identity-auth'"
              dPopover
              [position]="'left-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="securityOfficerTemplate"
              [popoverStyle]="popoverStyle" style="vertical-align: middle;margin-right: 5px"
            ></d-icon>
            <ng-template #securityOfficerTemplate>
              <app-user-info-card [username]="rowItem['securityOfficer']"></app-user-info-card>
            </ng-template>
            <span>{{ rowItem.securityOfficer }}</span>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="contactPerson" [header]="'apiSecurityRisk.table.contact' | translate" [width]="'120px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div *ngIf="rowItem.contactPerson">
            <d-icon
              [icon]="'icon-identity-auth'"
              dPopover
              [position]="'left-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="contactPersonTemplate"
              [popoverStyle]="popoverStyle" style="vertical-align: middle;margin-right: 5px"
            ></d-icon>
            <ng-template #contactPersonTemplate>
              <app-user-info-card [username]="rowItem['contactPerson']"></app-user-info-card>
            </ng-template>
            <span>{{ rowItem.contactPerson }}</span>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="followUpGroup" [header]="'apiSecurityRisk.table.group' | translate" [width]="'100px'">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <a *ngIf="cellItem" [href]="cellItem" target="_blank" title="Open DingTalk Group">
            <d-icon [icon]="'icon-link'" [operable]="true"></d-icon>
          </a>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column [header]="'apiSecurityRisk.table.timeline' | translate" [width]="'180px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div *ngIf="rowItem['discoveredTime']">
            {{ 'apiSecurityRisk.table.discovered' | translate }}: {{ rowItem['discoveredTime'] | dDatePipe: 'y-MM-dd' }}
          </div>
          <div *ngIf="rowItem['expectedTime']">
            {{ 'apiSecurityRisk.table.expected' | translate }}: {{ rowItem['expectedTime'] | dDatePipe: 'y-MM-dd' }}
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column [header]="'apiSecurityRisk.table.tags' | translate" [width]="'200px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <app-business-tags [businessTags]="rowItem['businessTags']"></app-business-tags>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column [header]="'apiSecurityRisk.table.actions' | translate" [width]="'80px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon [icon]="'icon-edit'" [operable]="true" (click)="onRowEdit(rowItem)" [title]="'apiSecurityRisk.common.edit' | translate"></d-icon>
            <d-icon [icon]="'icon-delete'" [operable]="true" (click)="onRowDelete(rowItem)" [title]="'apiSecurityRisk.common.delete' | translate"></d-icon>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
