<form dForm #editorForm="dForm" [layout]="layoutDirection" [formGroup]="formGroup">
  <d-form-item>
    <d-form-label [required]="true">Key</d-form-label>
    <d-form-control>
      <input dTextInput formControlName="key" placeholder="Project Key" />
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label [required]="true">Name</d-form-label>
    <d-form-control>
      <input dTextInput formControlName="name" placeholder="Project Name" />
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label>Comment</d-form-label>
    <d-form-control>
      <textarea dTextarea formControlName="comment" placeholder="Comment"></textarea>
    </d-form-control>
  </d-form-item>
</form>
