<app-work-order-base-ticket
  #workOrderBaseTicket
  [ticketDetails]="ticketDetails"
  [editTicketEntryTemplate]="editTicketEntryTemplate"
  [showTicketEntryTemplate]="showTicketEntryTemplate"
  (onGetTicket)="onGetTicketDetail($event)"
  (onHideDialog)="onCancel()"
></app-work-order-base-ticket>

<ng-template #editTicketEntryTemplate>
  <h3 *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    this work order only support one entry , you should remove entry first
  </h3>

  <form dForm ngForm [layout]="FormLayout.Vertical" *ngIf="JSON.stringify(ticketDetails.entries) === '[]'">
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.applicationFrontend.labels.applicationName' | translate }}</d-form-label>
      <d-form-control>
        <input dTextInput name="applicationName" [(ngModel)]="applicationName" />
        <d-alert [type]="'info'" [closeable]="false" style="margin-top: 5px">
          Regex: <strong>{{ applicationNameRegex }}</strong>
          <br />
          {{ 'workOrderTicket.applicationFrontend.applicationName.tips' | translate }}
        </d-alert>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.applicationFrontend.labels.level' | translate }}</d-form-label>
      <d-form-control>
        <d-tabs
          style="height: 20px"
          name="level"
          type="options"
          [(activeTab)]="tabActiveId"
          (activeTabChange)="onLevelChange($event)"
        >
          <d-tab
            *ngFor="let item of levelOptions"
            [id]="item.id"
            [title]="item.title"
          ></d-tab>
        </d-tabs>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>{{ 'workOrderTicket.applicationFrontend.labels.cloneOf' | translate }}</d-form-label>
      <d-form-control>
        <d-select
          name="application"
          [filterKey]="'name'"
          [appendToBody]="true"
          [(ngModel)]="copyFromApplication"
          [searchFn]="onSearchApplication"
          [isSearch]="true"
          placeholder="Search and select application"
          [allowClear]="true"
        >
          <ng-template let-option="option">
            <span>{{ option.name }}</span>
            <span style="float: right; padding: 3px 0">{{ option.comment }}</span>
          </ng-template>
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.applicationFrontend.labels.gitlabInstance' | translate }}</d-form-label>
      <d-form-control>
        <d-select
          name="instance"
          [filterKey]="'instanceName'"
          [appendToBody]="true"
          [(ngModel)]="gitLabInstance"
          [searchFn]="onSearchGitLabInstance"
          [isSearch]="true"
          placeholder="Search and select gitlab instance"
        >
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item *ngIf="gitLabInstance !== undefined">
      <d-form-label [required]="true">{{ 'workOrderTicket.applicationFrontend.labels.gitlabProject' | translate }}</d-form-label>
      <d-form-control>
        <d-select
          name="gitLabProject"
          [appendToBody]="true"
          [valueParser]="gitLabProjectValueParser"
          [(ngModel)]="gitLabProject"
          [searchFn]="onSearchGitLabProject"
          [isSearch]="true"
          placeholder="Search and select gitlab project"
          dLoading
          [loading]="loading"
        >
          <ng-template let-option="option">
            <span>{{ option.name }}</span>
            <span style="float: right; padding: 3px 0">{{ option.originalAsset?.sshUrlToRepo }}</span>
          </ng-template>
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.applicationFrontend.labels.domain' | translate }}</d-form-label>
      <d-form-control>
        <d-select
          name="domain"
          [filterKey]="'domain'"
          [appendToBody]="true"
          [(ngModel)]="trafficLayerDomain"
          [searchFn]="onSearchTrafficLayerDomain"
          [isSearch]="true"
          placeholder="Search and select domain"
          (valueChange)="onTrafficLayerDomainChange($event)"
        >
          <ng-template let-option="option">
            <span>{{ option.domain }}</span>
            <span style="float: right; padding: 3px 0">{{ option.name }}</span>
          </ng-template>
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.applicationFrontend.labels.mappingsPath' | translate }}</d-form-label>
      <d-form-control>
        <input dTextInput name="mappingsPath" [(ngModel)]="mappingsPath" />
        <d-alert [type]="'info'" [closeable]="false" style="margin-top: 5px">
          {{ 'workOrderTicket.applicationFrontend.mappingsPath.tips1' | translate }}
          <br />
          {{ 'workOrderTicket.applicationFrontend.mappingsPath.tips2' | translate }}
          <br />
          {{ 'workOrderTicket.applicationFrontend.mappingsPath.tips3' | translate }}
          <br />
          {{ 'workOrderTicket.applicationFrontend.mappingsPath.tips4' | translate }}
          <br />
          {{ 'workOrderTicket.applicationFrontend.mappingsPath.tips5' | translate }}
        </d-alert>
      </d-form-control>
    </d-form-item>
    <d-form-item *ngIf="trafficLayerDomain !== undefined && mappingsPath !== ''">
      <d-form-label>{{ 'workOrderTicket.applicationFrontend.labels.urlPreview' | translate }}</d-form-label>
      <d-form-control>
        <d-alert [type]="'info'" [closeable]="false" style="margin-top: 5px" [showIcon]="false">
          <div *ngFor="let domain of TrafficLayerRecordList">
            <span class="name">
              <strong>{{ onGetConvertUrl(domain.recordName,mappingsPath) }}</strong>
            </span>
            <span class="value">
              <d-tag [tag]="domain.envName" [customColor]="domain.env.color"></d-tag>
            </span>
          </div>
        </d-alert>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.applicationFrontend.labels.comment' | translate }}</d-form-label>
      <d-form-control>
        <textarea dTextarea name="comment" maxlength="200" style="height: 80px" [(ngModel)]="comment"></textarea>
      </d-form-control>
    </d-form-item>
    <d-form-operation>
      <d-button bsStyle="primary" (click)="onRowAdd()">Add Entry</d-button>
    </d-form-operation>
  </form>
</ng-template>

<ng-template #showTicketEntryTemplate>
  <div *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    <d-data-table
      [dataSource]="ticketDetails.entries"
      [tableOverflowType]="'overlay'"
    >
      <d-column field="displayName" [header]="'workOrderTicket.applicationFrontend.headers.applicationName' | translate"></d-column>
      <d-column field="detail" [header]="'workOrderTicket.applicationFrontend.headers.cloneOf' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span>{{ cellItem['copyFromApplication'] | dSafeNullPipe }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.applicationFrontend.headers.level' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span>{{ cellItem['tags'].Level }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.applicationFrontend.headers.domain' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span>{{ cellItem['domain'] }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.applicationFrontend.headers.mappingsPath' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span>{{ cellItem['mappingsPath'] }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.applicationFrontend.headers.repositorySshUrl' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span>{{ cellItem['repository']?.sshUrl }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.applicationFrontend.headers.description' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span>{{ cellItem.comment }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column [header]="'workOrderTicket.applicationFrontend.headers.actions' | translate" [width]="'80px'" *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.NEW">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-icon-group>
              <d-icon [icon]="'icon-delete'" [operable]="true" (click)="onRowRemove(rowItem)"></d-icon>
            </d-icon-group>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column
        [header]="'workOrderTicket.applicationFrontend.headers.result' | translate"
        *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.COMPLETED
        || ticketDetails.ticket.ticketState === WorkOrderStatus.IN_PROGRESS"
      >
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-tag
              *ngIf="rowItem['success']"
              style="margin:0 5px 5px 0"
              [tag]="'success'"
              [labelStyle]="'green-w98'"
            ></d-tag>
            <span>{{ rowItem.result }}</span>
          </ng-template>
        </d-cell>
      </d-column>
    </d-data-table>
  </div>

</ng-template>
