<d-card style="padding: 8px;width: 500px">
  <d-card-header>
    <d-card-title>{{ identity.instance.instanceName }}</d-card-title>
  </d-card-header>
  <d-card-content>
    <div>

      <div class="card-content">
        <span class="name">Username</span>
        <span class="value" dClipboard [content]="identity.username">
          {{ identity.username }}
        </span>
      </div>

      <div class="card-content">
        <span class="name">Mobile</span>
        <span class="value" dClipboard [content]="identity.mobile">
          {{ identity.mobile | dSafeNullPipe }}
        </span>
      </div>

      <div class="card-content">
        <span class="name">Email</span>
        <span class="value" dClipboard [content]="identity.email">
          {{ identity.email | dSafeNullPipe }}
        </span>
      </div>

      <div class="card-content">
        <span class="name">Description</span>
        <span class="value">
          {{ identity.account.description | dSafeNullPipe }}
        </span>
      </div>

    </div>
  </d-card-content>
</d-card>
