<da-layout-row [daGutter]="[12, 12]">
  <da-col-item [daSpan]="24" [daXs]="24">
    <div class="app-data-table">
      <div class="spacing-search">
        <d-tabs class="tabs" type="options" [activeTab]="activeCountry" (activeTabChange)="onCountryChange($event)">
          <d-tab *ngFor="let cc of countryOptions" [id]="cc" [title]="cc"></d-tab>
        </d-tabs>
        <d-tabs class="tabs" *ngIf="comparisons.length > 0" type="options" [activeTab]="activeComparisonId" (activeTabChange)="onComparisonChange($event)">
          <d-tab *ngFor="let c of comparisons" [id]="c.id" [title]="c.name"></d-tab>
        </d-tabs>
        <d-search
          class="search"
          [ngModel]="filterText"
          (ngModelChange)="onFilterChange($event)"
          [iconPosition]="'left'"
          placeholder="Filter by app name"
        ></d-search>
        <d-checkbox
          class="checkbox"
          [label]="'DIFF Only'"
          [isShowTitle]="false"
          [ngModel]="showDiffOnly"
          (ngModelChange)="onDiffOnlyChange($event)"
        ></d-checkbox>
        <d-checkbox
          class="checkbox"
          [label]="'Both Sides Only'"
          [isShowTitle]="false"
          [ngModel]="bothSidesOnly"
          (ngModelChange)="onBothSidesChange($event)"
        ></d-checkbox>
        <d-checkbox
          class="checkbox"
          [label]="'Ignore Domain'"
          [isShowTitle]="false"
          [ngModel]="ignoreDomain"
          (ngModelChange)="onIgnoreDomainChange($event)"
        ></d-checkbox>
        <d-button class="button" bsStyle="common" (click)="compare()">Refresh</d-button>
      </div>
      <div class="spacing-table" dLoading [loading]="loading" [backdrop]="true">
        <d-data-table
          [dataSource]="pagedVersions"
          [scrollable]="true"
          [tableOverflowType]="'overlay'"
        >
          <d-column header="Application" field="appName">
            <d-cell>
              <ng-template let-rowItem="rowItem">
                <strong>{{ rowItem.appName }}</strong>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column [header]="result?.dcTitle || 'DC Version'">
            <d-cell>
              <ng-template let-rowItem="rowItem">
                <div class="deploy-cards">
                  <div class="deploy-card" *ngFor="let img of rowItem.dcDeploymentImages; trackBy: trackByImage">
                    <div class="deploy-card-header">
                      <span class="deploy-name" [title]="img.name">{{ img.name }}</span>
                      <d-badge [count]="img.replicas" [style]="img.$replicasStyle" [status]="'warning'" [maxCount]="9999"></d-badge>
                    </div>
                    <div class="deploy-card-divider"></div>
                    <div class="card-row">
                      <span class="card-label">Image</span>
                      <span class="card-value">
                        <d-tag [tag]="img.$tag" [titleContent]="img.image" [labelStyle]="'blue-w98'"></d-tag>
                      </span>
                    </div>
                    <div class="card-row" *ngIf="img.$hasResources">
                      <span class="card-label">Resources</span>
                      <span class="card-value"><i class="fa-solid fa-microchip res-icon"></i>{{ img.$limits }}</span>
                    </div>
                  </div>
                </div>
                <span *ngIf="!rowItem.dcDeploymentImages?.length" class="deploy-empty">-</span>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column *ngIf="hasDrInfo" [header]="result?.drTitle || 'DR Version'">
            <d-cell>
              <ng-template let-rowItem="rowItem">
                <div class="deploy-cards">
                  <div class="deploy-card" *ngFor="let img of rowItem.drDeploymentImages; trackBy: trackByImage">
                    <div class="deploy-card-header">
                      <span class="deploy-name" [title]="img.name">{{ img.name }}</span>
                      <d-badge [count]="img.replicas" [style]="img.$replicasStyle" [status]="'warning'" [maxCount]="9999"></d-badge>
                    </div>
                    <div class="deploy-card-divider"></div>
                    <div class="card-row">
                      <span class="card-label">Image</span>
                      <span class="card-value">
                        <d-tag [tag]="img.$tag" [titleContent]="img.image" [labelStyle]="'blue-w98'"></d-tag>
                      </span>
                    </div>
                    <div class="card-row" *ngIf="img.$hasResources">
                      <span class="card-label">Resources</span>
                      <span class="card-value"><i class="fa-solid fa-microchip res-icon"></i>{{ img.$limits }}</span>
                    </div>
                  </div>
                </div>
                <span *ngIf="!rowItem.drDeploymentImages?.length" class="deploy-empty">-</span>
              </ng-template>
            </d-cell>
          </d-column>
          <d-column *ngIf="hasDrInfo" header="Status">
            <d-cell>
              <ng-template let-rowItem="rowItem">
                <d-tag *ngIf="rowItem.$match" tag="MATCH" [labelStyle]="'green-w98'"></d-tag>
                <d-tag *ngIf="!rowItem.$match" tag="DIFF" [labelStyle]="'red-w98'"></d-tag>
              </ng-template>
            </d-cell>
          </d-column>
        </d-data-table>
      </div>
      <div class="spacing-pagination" *ngIf="filteredVersions.length > 0">
        <d-pagination
          [total]="filteredVersions.length"
          [(pageSize)]="pageSize"
          [(pageIndex)]="pageIndex"
          [canViewTotal]="true"
          [canChangePageSize]="true"
          [pageSizeOptions]="[10, 20, 50, 100]"
          [maxItems]="5"
          (pageIndexChange)="onPageIndexChange($event)"
          (pageSizeChange)="onPageSizeChange($event)"
        ></d-pagination>
      </div>
    </div>
  </da-col-item>
</da-layout-row>
