<section>
  <d-splitter class="splitter-border" orientation="vertical">
    <d-splitter-pane size="30px" [resizable]="false">
      <div style="display: flex">
        <h2 style="margin: 0 20px 0 0">
          {{ kubernetesDeployment.metadata.name }}@{{ kubernetesDeployment.kubernetesCluster.name }}
        </h2>
        <d-tag
          style="vertical-align: bottom;align-items: end;display: flex"
          [tag]="kubernetesDeployment.spec.replicas"
          [customViewTemplate]="replicasTag"
          [labelStyle]="'blue-w98'"
        >
        </d-tag>
        <ng-template #replicasTag let-tag="tag">
          <strong style="margin-right: 3px">replicas x{{tag}}</strong>
        </ng-template>
      </div>
    </d-splitter-pane>
    <d-splitter-pane>
      <d-splitter orientation="horizontal">
        <d-splitter-pane [resizable]="false" size="300px">
          <div>
            <h3 class="h3-deployment">Containers</h3>
            <d-radio-group
              [name]="'container-name-radio'"
              [values]="kubernetesDeployment['$containers']"
              [direction]="'row'"
              [(ngModel)]="kubernetesDeployment['$chosenItem']"
              (change)="valueChange($event)"
            >
            </d-radio-group>
            <h3 class="h3-deployment">Image</h3>
            <p style="overflow: auto" dClipboard [content]="kubernetesDeployment['$chosenItemImage']">
              {{ kubernetesDeployment['$chosenItemImage'] | dSafeNullPipe }}
            </p>
            <h3 class="h3-deployment">{{ kubernetesDeployment.spec.strategy.type }}</h3>
            <p>
              MaxSurge: {{ kubernetesDeployment.spec.strategy.rollingUpdate.maxSurge }} /
              MaxUnavailable: {{ kubernetesDeployment.spec.strategy.rollingUpdate.maxUnavailable }}
            </p>
          </div>
        </d-splitter-pane>
        <d-splitter-pane>
          <div class="da-list-content">
            <app-kubernetes-pod-card
              [containerName]="kubernetesDeployment['$chosenItem']"
              *ngFor="let pod of kubernetesDeployment.pods"
              [kubernetesPod]="pod"
              [kubernetesDeployment]="kubernetesDeployment"
              class="card-item"
            ></app-kubernetes-pod-card>
          </div>
        </d-splitter-pane>
      </d-splitter>
    </d-splitter-pane>
  </d-splitter>
</section>
