<div class="risk-event-card">
  <d-card>
    <d-card-header>
      <d-avatar
        dCardAvatar
        [name]="riskEvent.name"
        [isRound]="true"
        [width]="28"
        [height]="28"
      ></d-avatar>
      <d-card-title>
        <h3 class="font-color-name" style="margin: 0">{{ riskEvent.name }}</h3>
      </d-card-title>
      <d-card-subtitle>
        <span class="font-color-comment">{{ riskEvent.eventTime | dDatePipe: 'y/M/d HH:mm:ss z' }}</span>
        <strong style="margin-left: 10px">{{ riskEvent.eventTime | dRelativeTime: limit | async }}</strong>
        <d-tag
          style="margin-left: 10px"
          *ngIf="riskEvent?.totalCost?.costDesc && riskEvent?.totalCost?.cost !== 0"
          [tag]="getSla(riskEvent)"
          [labelStyle]="'red-w98'"
        ></d-tag>
      </d-card-subtitle>
    </d-card-header>
    <d-card-content>
      <div class="spacing-card-content">
        <d-row [dGutter]="[10,10]">
          <d-col [dSpan]="14">
            <div class="impact">
              <app-risk-event-impact [riskImpacts]="riskEvent.impacts"></app-risk-event-impact>
            </div>
          </d-col>
          <d-col [dSpan]="10">
            <div class="tips" *ngIf="JSON.stringify(riskEvent.businessDocs) !=='[]'">
              <d-sticky [view]="stickyView" *ngFor="let doc of riskEvent.businessDocs">
                <div class="tip-content">
                  <h4 style="margin: 10px 0 5px 0" class="font-color-name">{{ doc.name }}</h4>
                  <div style="white-space: pre-wrap">
                    <markdown lineHighlight mermaid [data]="doc.content"></markdown>
                  </div>
                </div>
              </d-sticky>
            </div>
          </d-col>
        </d-row>
        <div class="card-tags">
          <app-business-tags [businessTags]="riskEvent.businessTags"></app-business-tags>
        </div>
      </div>
    </d-card-content>
    <d-card-actions [align]="'end'">
      <div>
        <d-icon-group>
          <d-icon [icon]="'icon-edit'" [operable]="true" (click)="onRowEdit(riskEvent)"></d-icon>
          <d-icon [icon]="'icon-directory'" [operable]="true" (click)="onRowImpact(riskEvent)"></d-icon>
          <d-icon [icon]="'icon-add-label'" [operable]="true" (click)="onRowBusinessTag(riskEvent)"></d-icon>
          <d-icon [icon]="'icon-go-document'" [operable]="true" (click)="onRowBusinessDoc(riskEvent)"></d-icon>
          <d-icon
            [icon]="'icon-priority'"
            [operable]="true"
            [color]="getRowColor(riskEvent.valid)"
            (click)="onRowValid(riskEvent)"
          >
          </d-icon>
          <span dDropDown appendToBody>
              <d-icon dDropDownToggle [icon]="'icon-more-operate'" [operable]="true"></d-icon>
              <ul dDropDownMenu>
                <li class="devui-dropdown-item" (click)="onRowDelete(riskEvent)">Delete</li>
              </ul>
            </span>
        </d-icon-group>
      </div>
    </d-card-actions>
  </d-card>
</div>
