<app-work-order-base-ticket
  #workOrderBaseTicket
  [ticketDetails]="ticketDetails"
  [editTicketEntryTemplate]="editTicketEntryTemplate"
  [showTicketEntryTemplate]="showTicketEntryTemplate"
  (onGetTicket)="onGetTicketDetail($event)"
  (onHideDialog)="onCancel()"
></app-work-order-base-ticket>

<ng-template #editTicketEntryTemplate>
  <h3 *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    this work order only support one entry , you should remove entry first
  </h3>

  <form dForm ngForm [layout]="FormLayout.Vertical" *ngIf="JSON.stringify(ticketDetails.entries) === '[]'">
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecretUpdate.labels.instance' | translate }}
      </d-form-label>
      <d-form-control>
        <d-select
          name="instance"
          [filterKey]="'instanceName'"
          [appendToBody]="true"
          [(ngModel)]="aliyunInstance"
          [searchFn]="onSearchCloudInstance"
          [isSearch]="true"
          placeholder="Select aliyun instance"
        >
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item *ngIf="aliyunInstance !== undefined">
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecretUpdate.labels.kmsSecret' | translate }}
      </d-form-label>
      <d-form-control>
        <d-select
          name="kmsSecret"
          [filterKey]="'name'"
          [appendToBody]="true"
          [(ngModel)]="kmsSecret"
          [searchFn]="onSearchKmsSecret"
          [isSearch]="true"
          placeholder="Select aliyun ons instance"
          dLoading
          [loading]="loading"
          (valueChange)="onKmsSecretChange($event)"
        >
        </d-select>
        <d-alert [type]="'danger'" [closeable]="false" style="margin-top: 5px" *ngIf="showAlert">
          {{ 'workOrderTicket.aliyunKmsSecretUpdate.riskTips' | translate }}
        </d-alert>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecretUpdate.labels.secretData' | translate }}
      </d-form-label>
      <d-form-control>
        <input dTextInput name="secretData" [(ngModel)]="secretData" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecretUpdate.labels.version' | translate }}
      </d-form-label>
      <d-form-control>
        <input dTextInput name="versionId" [(ngModel)]="versionId" />
      </d-form-control>
    </d-form-item>
    <d-form-operation>
      <d-checkbox [label]="'workOrderTicket.aliyunKmsSecretUpdate.tips' | translate" [isShowTitle]="false"
                  [ngModel]="riskCheck" (change)="onRiskCheckChange($event)"></d-checkbox>
      <br/>
      <d-button bsStyle="primary" (click)="onRowAdd()" [disabled]="!riskCheck">Add Entry</d-button>
    </d-form-operation>
  </form>
</ng-template>

<ng-template #showTicketEntryTemplate>
  <d-alert [type]="'info'" [closeable]="false" style="margin-bottom: 5px">
    <a class="devui-link-light" [routerLink]="['/pages/workbench/application-credential']" target="_blank">
      {{ 'workOrderTicket.aliyunKmsSecret.tips' | translate }}
    </a>
  </d-alert>
  <div *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    <d-data-table
      [dataSource]="ticketDetails.entries"
      [tableOverflowType]="'overlay'"
    >
      <d-column field="instance" [header]="'workOrderTicket.aliyunKmsSecretUpdate.headers.aliyunInstance' | translate">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <span>{{ rowItem['instance']?.instanceName | dSafeNullPipe }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.aliyunKmsSecretUpdate.headers.secretName' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            {{ cellItem['secretName'] }}
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.aliyunKmsSecretUpdate.headers.version' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            {{ cellItem['versionId'] }}
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.aliyunKmsSecretUpdate.headers.configCenterValue' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span dClipboard [content]="'KMS#' + cellItem['secretName']">KMS#{{ cellItem['secretName'] }}</span>
          </ng-template>
        </d-cell>
      </d-column>

      <d-column [header]="'workOrderTicket.aliyunKmsSecretUpdate.headers.actions' | translate" [width]="'80px'"
                *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.NEW">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-icon-group>
              <d-icon [icon]="'icon-delete'" [operable]="true" (click)="onRowRemove(rowItem)"></d-icon>
            </d-icon-group>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column
        [header]="'workOrderTicket.aliyunKmsSecretUpdate.headers.result' | translate"
        *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.COMPLETED
        || ticketDetails.ticket.ticketState === WorkOrderStatus.IN_PROGRESS"
      >
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-tag
              *ngIf="rowItem['success']"
              style="margin:0 5px 5px 0"
              [tag]="'success'"
              [labelStyle]="'green-w98'"
            ></d-tag>
            <span>{{ rowItem.result }}</span>
          </ng-template>
        </d-cell>
      </d-column>
    </d-data-table>
  </div>
</ng-template>
