<div class="spacing-search">
  <d-button class="button" bsStyle="primary" (click)="onRowNew()">New</d-button>
  <d-category-search
    style="width: 800px;max-width: 800px"
    class="category-search"
    [category]="category"
    [selectedTags]="selectedTags"
    [tagMaxWidth]="200"
    [extendedConfig]="extendedConfig"
    [groupOrderConfig]="groupOrderConfig"
    [toggleScrollToTail]="true"
    [categoryInGroup]="true"
    (searchEvent)="searchEvent($event)"
    (selectedTagsChange)="selectedTagsChange($event)"
  ></d-category-search>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter</d-button>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
    [checkable]="true"
  >
    <d-column field="id" header="ID" [width]="'100px'"></d-column>
    <d-column field="username" header="Info">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div>
            <span>Applicant:&nbsp;</span>
            <d-icon
              [icon]="'icon-identity-auth'"
              dPopover
              [position]="'left-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="userInfoCardTemplate"
              [popoverStyle]="getPopoverStyle()"
              style="vertical-align: middle;margin-right: 5px"
            ></d-icon>
            <ng-template #userInfoCardTemplate>
              <app-user-info-card [username]="rowItem['username']"></app-user-info-card>
            </ng-template>
            <span>{{ rowItem['username'] }}</span>
          </div>

          <div>
            <span>Apply Remark:&nbsp;</span>
            <span>{{ rowItem['applyRemark'] }}</span>
          </div>

          <div>
            <span>{{ rowItem['createTime'] | dDatePipe: 'y/M/d HH:mm:ss z' }}</span>&nbsp;
            <strong>{{ rowItem['createTime'] | dRelativeTime: limit | async }}</strong>
          </div>

          <div class="cratos-divider" style="margin: 5px 0 5px 0"></div>

          <div>
            <span>Approver:&nbsp;</span>
            <d-icon
              [icon]="'icon-identity-auth'"
              dPopover
              [position]="'left-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="userInfoCardTemplate"
              [popoverStyle]="getPopoverStyle()"
              style="vertical-align: middle;margin-right: 5px"
            ></d-icon>
            <ng-template #userInfoCardTemplate>
              <app-user-info-card [username]="rowItem['approvedBy']"></app-user-info-card>
            </ng-template>
            <span>{{ rowItem['approvedBy'] }}</span>
            <d-tag
              *ngIf="rowItem['approvals']['APPROVER']['approvalStatus'] !== null"
              dPopover
              style="margin-left: 5px"
              [tag]="rowItem['approvals']['APPROVER']['approvalStatus']"
              [labelStyle]="rowItem['approvals']['APPROVER']['approvalStatus']==='AGREE'?'green-w98':'red-w98'"
            ></d-tag>
          </div>

          <div *ngIf="rowItem['approvals']['APPROVER']['approvalStatus'] !== null">
            <span>Approver Remark:&nbsp;</span>
            <span>{{ rowItem['approvals']['APPROVER']['approveRemark'] }}</span>
          </div>

          <div *ngIf="rowItem['ccTo'] !==''">
            <span>CC:&nbsp;</span>
            <span>{{ rowItem['ccTo'] }}</span>
          </div>

        </ng-template>
      </d-cell>
    </d-column>

    <d-column field="execTarget" header="Exec Target" [width]="'200px'">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <div>
            <span>Instance:&nbsp;</span>
            <span>{{ cellItem['instance']['name'] }}</span>
          </div>
          <div>
            <span>Namespace:&nbsp;</span>
            <span>{{ cellItem['instance']['namespace'] }}</span>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="commandMask" header="Command">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <app-xterm-logs [logs]="cellItem"></app-xterm-logs>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Output" [width]="'200px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-tag
            *ngIf="rowItem['outMsg']"
            dPopover
            style="margin:0 5px 5px 0"
            [position]="'left-top'"
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [content]="outMsgTemplate"
            [tag]="'stdout'"
            [labelStyle]="'green-w98'"
            [popoverStyle]="getPopoverStyle({width: '600px'})"
          ></d-tag>
          <ng-template #outMsgTemplate>
            <app-xterm-logs [logs]="rowItem['outMsg']"></app-xterm-logs>
          </ng-template>

          <d-tag
            *ngIf="rowItem['errorMsg']"
            dPopover
            style="margin:0 5px 5px 0"
            [position]="'left-top'"
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [content]="errorMsgTemplate"
            [tag]="'stderr'"
            [labelStyle]="'red-w98'"
            [popoverStyle]="getPopoverStyle({width: '600px'})"
          ></d-tag>
          <ng-template #errorMsgTemplate>
            <app-xterm-logs [logs]="rowItem['errorMsg']"></app-xterm-logs>
          </ng-template>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Status" [width]="'200px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-tag
            *ngIf="rowItem['completed']"
            style="margin:0 5px 5px 0"
            [tag]="'completed'"
            [labelStyle]="'green-w98'"
          ></d-tag>
          <d-tag
            *ngIf="rowItem['success']"
            style="margin:0 5px 5px 0"
            [tag]="'success'"
            [labelStyle]="'green-w98'"
          ></d-tag>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Actions" [width]="'100px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon
              *ngIf="rowItem['approvalInfo']['approvalRequired']"
              [icon]="'icon-classroom-approve'"
              [operable]="true"
              (click)="onRowApprove(rowItem)"
            ></d-icon>
            <d-icon
              *ngIf="rowItem['applicantInfo']['execCommand']"
              [icon]="'icon-run'"
              [operable]="true"
              (click)="onRowExec(rowItem)"
            ></d-icon>
            <span dDropDown appendToBody>
              <d-icon dDropDownToggle [icon]="'icon-more-operate'" [operable]="true"></d-icon>
              <ul dDropDownMenu>
                <li class="devui-dropdown-item" (click)="onRowDelete(rowItem)">Delete</li>
                <li class="devui-dropdown-item" (click)="onRowAdminDo(rowItem)">AdminDo</li>
              </ul>
            </span>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <div dDropDown class="batch-button">
    <d-button-group>
      <d-button bsStyle="common" dDropDownToggle>
        Batch
        <span class="icon icon-select-arrow"></span>
      </d-button>
    </d-button-group>
    <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
      <li role="menuitem" (click)="onBatchDelete()">
        <a dDropDownMenuItem>
          <span class="icon-delete" style="padding-right: 5px; vertical-align: middle"> Delete</span>
        </a>
      </li>
    </ul>
  </div>
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
