<app-work-order-base-ticket
  #workOrderBaseTicket
  [ticketDetails]="ticketDetails"
  [editTicketEntryTemplate]="editTicketEntryTemplate"
  [showTicketEntryTemplate]="showTicketEntryTemplate"
  (onGetTicket)="onGetTicketDetail($event)"
  (onHideDialog)="onCancel()"
></app-work-order-base-ticket>

<ng-template #editTicketEntryTemplate>
  <h3 *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    this work order only support one entry , you should remove entry first
  </h3>

  <form dForm ngForm [layout]="FormLayout.Vertical" *ngIf="JSON.stringify(ticketDetails.entries) === '[]'">
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.riskChange.labels.applicant' | translate }}</d-form-label>
      <d-form-control>
        <d-select
          name="applicant"
          [filterKey]="'displayName'"
          [appendToBody]="true"
          [(ngModel)]="applicant"
          [searchFn]="onSearchUser"
          [isSearch]="true"
          placeholder="Search and select user"
        >
          <ng-template let-option="option">
            <span>{{ option.username }} : {{ option.name }}</span>
            <span style="float: right; padding: 3px 0">{{ option.email }}</span>
          </ng-template>
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.riskChange.labels.title' | translate }}</d-form-label>
      <d-form-control>
        <input dTextInput name="title" [(ngModel)]="title" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.riskChange.labels.content' | translate }}</d-form-label>
      <d-form-control>
        <app-ace-editor
          [minLines]="20"
          [maxLines]="30"
          [mode]="'ace/mode/markdown'"
          [aceValue]="content"
          (onChange)="onContentChange($event)"
        >
        </app-ace-editor>
      </d-form-control>
    </d-form-item>
    <d-form-operation>
      <d-button bsStyle="primary" (click)="onRowAdd()">Add Entry</d-button>
    </d-form-operation>
  </form>
</ng-template>

<ng-template #showTicketEntryTemplate>

  <div *ngIf="JSON.stringify(ticketDetails.entries) === '[]'">

    <h3 style="display: inline-block;margin: 0">
      <strong>
        {{ title }}
      </strong>
    </h3>
    <div class="cratos-divider" style="margin: 5px 0 10px 0"></div>
    <div>
      <markdown lineNumbers lineHighlight mermaid [data]="content"></markdown>
    </div>
  </div>


  <div *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">

    <div *ngFor="let entry of ticketDetails.entries">
      <h3 style="display: inline-block;margin: 0">
        <strong>
          {{ entry.detail.title }}
        </strong>
      </h3>
      <span style="float: right">
        <span style="margin-right: 2em">Applicant</span>
        <d-icon
          [icon]="'icon-identity-auth'"
          dPopover
          [position]="'left-top'"
          [trigger]="'hover'"
          [controlled]="true"
          [mouseEnterDelay]="500"
          [content]="userInfoCardTemplate"
          [popoverStyle]="getPopoverStyle()"
          style="vertical-align: middle;margin-right: 5px"
        ></d-icon>
        <ng-template #userInfoCardTemplate>
          <app-user-info-card [user]="entry.detail.applicant"></app-user-info-card>
        </ng-template>
        <span>{{ entry.detail.applicant.displayName }}</span>
      </span>
      <div class="cratos-divider" style="margin: 5px 0 10px 0"></div>
      <div>
        <markdown lineNumbers lineHighlight mermaid [data]="entry.detail.content"></markdown>
      </div>
      <br />
      <div *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.NEW">
        <d-button bsStyle="primary" (click)="onRowRemove(entry)">Remove Entry</d-button>
      </div>
    </div>
  </div>
</ng-template>
