<section>
  <span
    dPopover
    [position]="'right-top'"
    [trigger]="'hover'"
    [controlled]="true"
    [mouseEnterDelay]="500"
    [content]="postStartTemplate"
  >
    postStart
  </span>
  <ng-template #postStartTemplate>
    <span>
     {{ lifecycle.postStart?.exec?.command | dSafeNullPipe }}
    </span>
  </ng-template>
  <span
    dPopover
    [position]="'right-top'"
    [trigger]="'hover'"
    [controlled]="true"
    [mouseEnterDelay]="500"
    [content]="preStopTemplate"
  >
    preStop
  </span>
  <ng-template #preStopTemplate>
    <span>
    {{ lifecycle.preStop?.exec?.command | dSafeNullPipe }}
    </span>
  </ng-template>
</section>
