.spacing-card-content {
  height: 80px;
  display: flex;
  position: relative;
  overflow: auto;

  .card-content-comment {
  }

  .card-content-tags {
    position: absolute;
    bottom: 5%;
    right: 0;
    opacity: 0.8;
  }
}

.spacing-card-header {
  position: relative;

  .pod-status {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
  }
}
