<app-work-order-cloud-identity-reset-ticket
  #workOrderCloudIdentityResetTicket
  [ticketDetails]="ticketDetails"
  [edsType]="'ALIYUN'"
  (onAddTicketEntry)="onAddTicketEntry($event)"
  (onGetTicket)="onGetTicketDetail($event)"
  (onHideDialog)="onCancel()"
  [editTicketEntryExtTemplate]="editTicketEntryExtTemplate"
>
</app-work-order-cloud-identity-reset-ticket>

<ng-template #editTicketEntryExtTemplate>
  <d-form-item>
    <d-form-label [required]=" true">{{ 'workOrderTicket.cloudIdentityReset.labels.password' | translate }}</d-form-label>
    <d-form-control>
      <d-toggle name="Password" [(ngModel)]="resetPassword"></d-toggle>
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label [required]="true">{{ 'workOrderTicket.cloudIdentityReset.labels.mfa' | translate }}</d-form-label>
    <d-form-control>
      <d-toggle name="mfa" [(ngModel)]="unbindMFA"></d-toggle>
      <d-alert [type]="'info'" [closeable]="false" style="margin-top: 5px" *ngIf="unbindMFA">
        {{ 'workOrderTicket.cloudIdentityReset.mfa.tips' | translate }}
      </d-alert>
    </d-form-control>
  </d-form-item>
</ng-template>
