<section>
  <d-card style="padding: 5px 10px">
    <d-card-header style="position: relative">
      <d-card-subtitle>
        <span class="font-color-name">{{ kubernetesPod.metadata.name }}</span>
        <d-button style="position: absolute;margin: auto;right: 0" bsStyle="text" (click)="onRowExit()">exit</d-button>
      </d-card-subtitle>
    </d-card-header>
    <d-card-content>
      <div class="kubernetes-pod-exec" id="kubernetesPodExec" (window:resize)="onResize($event)"></div>
    </d-card-content>
  </d-card>
</section>
