<div class="spacing-search">
  <d-button
    [disabled]="queryParam.applicationName ===''"
    class="button"
    bsStyle="common"
    (click)="onFavoriteClick()"
  >
    <i class="icon" [ngClass]="isFavorite?'icon-star':'icon-star-o'" ></i>
    {{ 'kubernetes.actions.favorite' | translate }}
  </d-button>
  <d-select
    class="select"
    style="width: 300px;max-width: 300px"
    [filterKey]="'name'"
    [width]="580"
    [appendToBody]="true"
    [(ngModel)]="application"
    [searchFn]="onSearchApplication"
    [isSearch]="true"
    [placeholder]="'kubernetes.form.selectApplication' | translate"
    (valueChange)="onApplicationChange($event)"
  >
    <ng-template let-option="option">
      <span>{{ option.name }}</span>
      <span style="float: right; padding: 3px 0">{{ option.comment }}</span>
    </ng-template>
  </d-select>
  <d-tabs
    *ngIf="first"
    class="tabs"
    type="options"
    [activeTab]="queryParam.namespace"
    (activeTabChange)="onResourceNamespaceChange($event)"
    dLoading
    [loading]="nameSpaceLoading"
  >
    <d-tab
      *ngFor="let item of resourceNamespaceOptions"
      [id]="item.value"
      [title]="item.label"
    ></d-tab>
  </d-tabs>
  <d-select
    class="select"
    [placeholder]="'kubernetes.form.selectResourceName' | translate"
    style="max-width: 250px;width: 250px"
    [allowClear]="true"
    [searchFn]="onSelectResourceName"
    [isSearch]="true"
    [(ngModel)]="queryParam.name"
    (valueChange)="onResourceNameChange($event)"
  ></d-select>
  <d-button class="button" bsStyle="common" (click)="fetchData()"
            [disabled]="queryParam.applicationName ==='' || queryParam.namespace ===''"
  >{{ 'kubernetes.actions.filter' | translate }}
  </d-button>
  <span class="right-button">
      <d-button class="button" bsStyle="primary" (click)="onScanData()"
                [disabled]="queryParam.applicationName ==='' "
      >{{ 'kubernetes.actions.scan' | translate }}
  </d-button>
  </span>
</div>

<d-panel #anotherPanel [isCollapsed]="isCollapsed" [hasLeftPadding]="false" [showAnimation]="true"
         *ngIf="JSON.stringify(favoriteApplicationList) !== '[]'" style="margin-bottom: 10px">
  <d-panel-header>
    <em class="icon icon-select-arrow" [ngClass]="{ open: anotherPanel.isCollapsed }"></em>
    {{ 'kubernetes.messages.myFavorites' | translate }}
  </d-panel-header>
  <d-panel-body style="padding: 5px">
    <d-tag
      *ngFor="let application of favoriteApplicationList"
      style="margin: 5px 5px 0 0"
      [tag]="application"
      [customViewTemplate]="customTag"
      [labelStyle]="'blue-w98'"
    >
    </d-tag>
    <ng-template #customTag let-tag="tag">
      <span (click)="onClick(tag)">{{ tag.applicationName }}</span>
      <span class="icon-close" style="vertical-align: center; padding-left: 4px"
            (click)="onRemoveApplicationFavorite(tag.id)"></span>
    </ng-template>
  </d-panel-body>
</d-panel>

<div class="spacing-table" dLoading [loading]="loading">
  <div *ngIf="show">
    <d-tabs type="pills" [(activeTab)]="tabActiveId">
      <d-tab [id]="'workloads'" [title]="'kubernetes.tabs.workloads' | translate">
        <div>
          <app-kubernetes-workloads
            [deploymentList]="deploymentList"
            [application]="kubernetesApplication"
            [accessControl]="kubernetesDetails.accessControl"
            [banner]="kubernetesDetails.banner"
          ></app-kubernetes-workloads>
        </div>
      </d-tab>
      <d-tab [id]="'network'" [title]="'kubernetes.tabs.network' | translate">
        <div>
          <app-kubernetes-network [serviceList]="serviceList"></app-kubernetes-network>
        </div>
      </d-tab>
    </d-tabs>
  </div>
</div>
