<div class="spacing-search">
  <d-button
    *ngIf="!effectiveMobile"
    [disabled]="queryParam.applicationName ===''"
    class="button"
    bsStyle="common"
    (click)="onFavoriteClick()"
  >
    <i class="icon" [ngClass]="isFavorite?'icon-star':'icon-star-o'" ></i>
    {{ 'kubernetes.actions.favorite' | translate }}
  </d-button>
  <d-button
    *ngIf="!effectiveMobile && canOps"
    class="button"
    bsStyle="common"
    (click)="openMyOpsFiles()"
    title="My Ops Task Files (jstack / dumps)"
  >
    <i class="icon icon-file"></i>
    Ops Files
  </d-button>
  <d-select
    class="select"
    style="width: 300px;max-width: 300px"
    [filterKey]="'name'"
    [width]="580"
    [appendToBody]="true"
    [(ngModel)]="application"
    [searchFn]="onSearchApplication"
    [isSearch]="true"
    [placeholder]="'kubernetes.form.selectApplication' | translate"
    (valueChange)="onApplicationChange($event)"
  >
    <ng-template let-option="option">
      <span>{{ option.name }}</span>
      <span style="float: right; padding: 3px 0">{{ option.comment }}</span>
    </ng-template>
  </d-select>
  <d-tabs
    *ngIf="first"
    class="tabs"
    type="options"
    [activeTab]="queryParam.namespace"
    (activeTabChange)="onResourceNamespaceChange($event)"
    dLoading
    [loading]="nameSpaceLoading"
  >
    <d-tab
      *ngFor="let item of resourceNamespaceOptions"
      [id]="item.value"
      [title]="item.label"
    ></d-tab>
  </d-tabs>
  <d-tabs
    *ngIf="first"
    class="tabs"
    type="options"
    [activeTab]="queryParam.countryCode"
    (activeTabChange)="queryParam.countryCode = $any($event); onCountryCodeChange()"
  >
    <d-tab [id]="''" [title]="'All'"></d-tab>
    <d-tab *ngFor="let cc of countryCodeOptions.slice(1)" [id]="cc" [title]="cc.toUpperCase()"></d-tab>
  </d-tabs>
  <!-- 隐藏「选择资源名称」查询项（按需可恢复）
  <d-select
    *ngIf="!effectiveMobile"
    class="select"
    [placeholder]="'kubernetes.form.selectResourceName' | translate"
    style="max-width: 450px;width: 450px"
    [allowClear]="true"
    [filterKey]="'label'"
    [(ngModel)]="resourceName"
    [searchFn]="onSelectResourceName"
    [isSearch]="true"
    (valueChange)="onResourceNameChange($event)"
  ></d-select>
  -->
  <d-checkbox
    *ngIf="!isMobile"
    class="checkbox"
    style="margin: 0 8px;"
    [label]="'kubernetes.actions.compactMode' | translate"
    [isShowTitle]="false"
    [(ngModel)]="forceMobile"
    (ngModelChange)="onForceMobileChange()"
  ></d-checkbox>
  <d-button class="button" bsStyle="common" (click)="fetchData()"
            [disabled]="queryParam.applicationName ==='' || queryParam.namespace ===''"
  >{{ 'kubernetes.actions.filter' | translate }}
  </d-button>


  <d-button *ngIf="!effectiveMobile" class="button" bsStyle="common" dClipboard [content]="onGetShareUrl()"
            [disabled]="queryParam.applicationName ==='' || queryParam.namespace ===''"
  ><i class="icon icon-share" style="margin-right: 4px;"></i>{{ 'kubernetes.actions.share' | translate }}
  </d-button>


  <span
    class="ws-status"
    [ngClass]="'ws-status--' + wsStatus"
    title="Socket 实时收发（应用层 payload 近似，不含压缩/帧头/TLS）"
  >
    <span class="ws-status-dot"></span>
    <span class="ws-status-text">{{ wsStatus === 'connected' ? 'Socket' : wsStatus === 'connecting' ? 'Connecting' : 'Offline' }}</span>
    <i
      *ngIf="wsStatus === 'connected'"
      class="ws-traffic-toggle"
      [ngClass]="wsTrafficExpanded ? 'icon-chevron-up' : 'icon-chevron-down'"
      (click)="wsTrafficExpanded = !wsTrafficExpanded"
      title="展开/收起实时流量"
    ></i>
    <span class="ws-traffic" *ngIf="wsStatus === 'connected' && wsTrafficExpanded">
      <span class="ws-traffic-rate">↓ {{ formatWsBytes(wsRateIn) }}/s</span>
      <span class="ws-traffic-rate">↑ {{ formatWsBytes(wsRateOut) }}/s</span>
      <span class="ws-traffic-total">Σ ↓ {{ formatWsBytes(wsBytesIn) }} · ↑ {{ formatWsBytes(wsBytesOut) }}</span>
    </span>
  </span>

  <span class="right-button" *ngIf="!effectiveMobile">
      <d-button class="button" bsStyle="primary" (click)="onScanData()"
                [disabled]="queryParam.applicationName ==='' "
      >{{ 'kubernetes.actions.scan' | translate }}
  </d-button>
  </span>
</div>

<d-panel #anotherPanel [isCollapsed]="isCollapsed" [hasLeftPadding]="false" [showAnimation]="true"
         *ngIf="JSON.stringify(favoriteApplicationList) !== '[]'" style="margin-bottom: 10px">
  <d-panel-header>
    <em class="icon icon-select-arrow" [ngClass]="{ open: anotherPanel.isCollapsed }"></em>
    {{ 'kubernetes.messages.myFavorites' | translate }}
  </d-panel-header>
  <d-panel-body style="padding: 5px">
    <d-tag
      *ngFor="let application of favoriteApplicationList"
      style="margin: 5px 5px 0 0"
      [tag]="application"
      [customViewTemplate]="customTag"
      [labelStyle]="'blue-w98'"
    >
    </d-tag>
    <ng-template #customTag let-tag="tag">
      <span (click)="onClick(tag)">{{ tag.applicationName }}</span>
      <span class="icon-close" style="vertical-align: center; padding-left: 4px"
            (click)="onRemoveApplicationFavorite(tag.id)"></span>
    </ng-template>
  </d-panel-body>
</d-panel>

<div class="spacing-table" dLoading [loading]="loading">
  <div *ngIf="show">
    <d-tabs *ngIf="!effectiveMobile" type="pills" [(activeTab)]="tabActiveId">
      <d-tab [id]="'workloads'" [title]="'kubernetes.tabs.workloads' | translate">
        <div>
          <app-kubernetes-workloads
            [deploymentList]="deploymentList"
            [application]="kubernetesApplication"
            [accessControl]="kubernetesDetails.accessControl"
            [banner]="kubernetesDetails.banner"
            [forceMobile]="effectiveMobile"
          ></app-kubernetes-workloads>
        </div>
      </d-tab>
      <d-tab [id]="'network'" [title]="'kubernetes.tabs.network' | translate">
        <div>
          <app-kubernetes-network [serviceList]="serviceList"></app-kubernetes-network>
        </div>
      </d-tab>
      <d-tab *ngIf="canViewTopology" [id]="'topology'" [title]="'Topology'">
        <div>
          <app-kubernetes-topology
            [serviceName]="queryParam.applicationName"
            [namespace]="queryParam.namespace"
            [active]="tabActiveId === 'topology'"
          ></app-kubernetes-topology>
        </div>
      </d-tab>
    </d-tabs>
    <div *ngIf="effectiveMobile">
      <app-kubernetes-workloads
        [deploymentList]="deploymentList"
        [application]="kubernetesApplication"
        [accessControl]="kubernetesDetails.accessControl"
        [banner]="kubernetesDetails.banner"
        [forceMobile]="effectiveMobile"
      ></app-kubernetes-workloads>
    </div>
  </div>
</div>

<ng-template #myOpsFilesTpl>
  <div dLoading [loading]="myOpsTasksLoading" style="min-height: 120px;">
    <div *ngIf="!myOpsTasksLoading && myOpsTasks.length === 0" class="ops-files-empty">
      No task files.
    </div>
    <table class="ops-files-table" *ngIf="myOpsTasks.length">
      <thead>
      <tr>
        <th>Task No</th>
        <th>OpsType</th>
        <th>Application</th>
        <th>Kubernetes</th>
        <th>Time</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of myOpsTasks">
        <td class="ops-files-mono" [title]="task.taskNo">{{ task.taskNo }}</td>
        <td>
          <d-tag
            [tag]="task.opsType"
            [labelStyle]="task.opsType === 'OPS_HEAP_DUMP' ? 'blue-w98' : task.opsType === 'OPS_JSTACK' ? 'green-w98' : 'default'"
          ></d-tag>
        </td>
        <td [title]="task.applicationName">{{ task.applicationName }}</td>
        <td>
          <div [title]="task.instanceName"><span class="ops-files-label">cluster:</span>{{ task.instanceName }}</div>
          <div class="ops-files-sub" [title]="task.namespace"><span class="ops-files-label">ns:</span>{{ task.namespace }}</div>
          <div class="ops-files-mono" [title]="task.podName"><span class="ops-files-label">pod:</span>{{ task.podName }}</div>
        </td>
        <td>
          <div>Created {{ task.createTime | dDatePipe: 'y/M/d HH:mm:ss' }}</div>
          <div class="ops-files-expire" [class.expired]="!task.valid">{{ expireText(task.expiredTime) }}</div>
        </td>
        <td>
          <span *ngIf="isTaskExpired(task)" class="ops-files-invalid">失效</span>
          <div *ngIf="!isTaskExpired(task)" class="ops-files-actions">
            <d-button
              bsStyle="text"
              [disabled]="opsTaskDownloading[task.taskNo]"
              (click)="copyOpsTaskDownloadUrl(task)"
              title="点击复制下载地址"
            ><i class="icon icon-copy" style="margin-right: 4px;"></i>复制下载地址<span class="ops-files-size" *ngIf="task.fileSize">{{ humanFileSize(task.fileSize) }}</span></d-button>
            <d-button
              bsStyle="text"
              [disabled]="opsTaskAnalyzing[task.taskNo]"
              (click)="onOpsTaskAnalyze(task)"
              title="在 Jifa 平台在线分析"
            ><i class="icon icon-jump" style="margin-right: 4px;"></i>在线分析</d-button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="ops-files-footer">
      <span class="ops-files-footer-tip">前往 (Java Issues Finding Assistant)</span>
      <a
        href="https://jifa.palmpay-inc.com"
        target="_blank"
        rel="noopener noreferrer"
        class="ops-files-jifa-link"
      >
        <i class="icon icon-jump" style="margin-right: 4px;"></i>JIFA 在线分析平台
      </a>
    </div>
  </div>
</ng-template>
