<span class="user-popover"
  dPopover
  [position]="'left-top'"
  [trigger]="'hover'"
  [controlled]="true"
  [mouseEnterDelay]="500"
  [content]="userInfoCardTemplate"
  [popoverStyle]="getPopoverStyle()"
>
  <i class="fas fa-user"></i>
  <span>{{ username }}</span>
  <i *ngIf="deletable" class="fas fa-times" style="margin-left: 6px; cursor: pointer; font-size: 10px;"
     (click)="onDelete.emit(username); $event.stopPropagation()"></i>
</span>
<ng-template #userInfoCardTemplate>
  <app-user-info-card [username]="username"></app-user-info-card>
</ng-template>
