<div class="spacing-search">
  <d-search
    class="search"
    [(ngModel)]="queryParam.queryName"
    [iconPosition]="'left'"
    (searchFn)="fetchData()"
    (change)="fetchData()"
  >
  </d-search>
  <d-select
    class="select"
    style="width: 300px;max-width: 300px"
    [width]="580"
    [filterKey]="'username'"
    [appendToBody]="true"
    [(ngModel)]="user"
    [searchFn]="onSearchUser"
    [isSearch]="true"
    placeholder="Search and select user"
    (valueChange)="onUserChange($event)"
    [allowClear]="true"
  >
    <ng-template let-option="option">
      <span>{{ option.username }} : {{ option.name }}</span>
      <span style="float: right; padding: 3px 0">{{ option.email }}</span>
    </ng-template>
  </d-select>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter</d-button>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
  >
    <d-column field="edsInstance" header="EDS Instance">
      <d-cell>
        <ng-template let-cellItem="cellItem">          <span>{{ cellItem['instanceName'] }}</span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="kmsInstanceId" header="KMS Instance ID"></d-column>\
    <d-column field="secretName" header="Secret Name"></d-column>
    <d-column field="secretType" header="Secret Type"></d-column>
    <d-column field="encryptionKeyId" header="Encryption Key ID"></d-column>
    <d-column field="arn" header="ARN"></d-column>
    <d-column field="description" header="Description"></d-column>
    <d-column header="Tags" [width]="'250px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <app-business-tags [businessTags]="rowItem['businessTags']"></app-business-tags>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
