<div class="spacing-search">
  <d-button class="button" bsStyle="primary" (click)="onRowNew()">New</d-button>
  <d-search
    class="search"
    [(ngModel)]="queryParam.queryName"
    [iconPosition]="'left'"
    (searchFn)="fetchData()"
    (change)="fetchData()"
  >
  </d-search>
  <d-select
    class="select"
    [options]="certificateTypeOptions"
    [filterKey]="'label'"
    [valueKey]="'value'"
    [isSearch]="true"
    [allowClear]="true"
    [appendToBody]="true"
    placeholder="Select certificate type"
    [(ngModel)]="queryParam.certificateType"
    (valueChange)="onCertificateTypeChange($event)"
  >
  </d-select>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter</d-button>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
    [checkable]="true"
  >
    <d-column field="certificateId" header="Certificate ID"></d-column>
    <d-column header="Instance / Type">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div>{{ rowItem.instanceName }}</div>
          <hr style="border:none;border-top:1px solid var(--devui-dividing-line,#dfe1e6);margin:4px 0;">
          <div><d-tag [tag]="rowItem.certificateType" [labelStyle]="'blue-w98'"></d-tag></div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Name / Domain">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div>{{ rowItem.name }}</div>
          <hr style="border:none;border-top:1px solid var(--devui-dividing-line,#dfe1e6);margin:4px 0;">
          <div style="font-size:12px;color:var(--devui-text-weak,#8a8e99);">{{ rowItem.domainName }}</div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Validity" [width]="'200px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div style="font-size: 12px;">
            <span>Not Before: {{ rowItem.notBefore | dDatePipe: 'yyyy/MM/dd' }}</span>
          </div>
          <div style="font-size: 12px;">
            <span>Not After: {{ rowItem.notAfter | dDatePipe: 'yyyy/MM/dd' }}</span>
            <span class="count-badge" style="margin-left: 6px;"
              [style.background]="getDaysRemaining(rowItem.notAfter) <= 0 ? '#555' : getDaysRemaining(rowItem.notAfter) < 15 ? '#991111' : getDaysRemaining(rowItem.notAfter) < 30 ? '#cc6414' : '#518519'"
            >{{ getDaysRemaining(rowItem.notAfter) }}d</span>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Tags" [width]="'250px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <app-business-tags [businessTags]="rowItem['businessTags']"></app-business-tags>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Actions" [width]="'200px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon [icon]="'icon-edit'" [operable]="true" (click)="onRowEdit(rowItem)"></d-icon>
            <d-icon [icon]="'icon-add-label'" [operable]="true" (click)="onRowBusinessTag(rowItem)"></d-icon>
            <d-icon [icon]="'icon-go-document'" [operable]="true" (click)="onRowBusinessDoc(rowItem)"></d-icon>
            <d-icon
              [icon]="'icon-priority'"
              [operable]="true"
              [color]="getRowColor(rowItem['valid'])"
              (click)="onRowValid(rowItem)"
            >
            </d-icon>
            <span dDropDown appendToBody>
              <d-icon dDropDownToggle [icon]="'icon-more-operate'" [operable]="true"></d-icon>
              <ul dDropDownMenu>
                <li class="devui-dropdown-item" (click)="onRowDelete(rowItem)">Delete</li>
              </ul>
            </span>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <div dDropDown class="batch-button">
    <d-button-group>
      <d-button bsStyle="common" dDropDownToggle>
        Batch
        <span class="icon icon-select-arrow"></span>
      </d-button>
    </d-button-group>
    <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
      <li role="menuitem" (click)="onBatchValid()">
        <a dDropDownMenuItem>
          <span class="icon-setup" style="padding-right: 5px; vertical-align: middle"> Valid</span>
        </a>
      </li>
      <li role="menuitem" (click)="onBatchTag()">
        <a dDropDownMenuItem>
          <span class="icon-tag" style="padding-right: 5px; vertical-align: middle"> Tag</span>
        </a>
      </li>
      <li role="menuitem" (click)="onBatchDelete()">
        <a dDropDownMenuItem>
          <span class="icon-delete" style="padding-right: 5px; vertical-align: middle"> Delete</span>
        </a>
      </li>
    </ul>
  </div>
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
