<div>
  <d-card style="padding: 6px 8px">
    <d-card-header class="spacing-card-header">
      <d-card-title>
        <div class="spacing-card-header-title">
          <span
            class="font-color-name"
            dClipboard
            [content]="kubernetesPod.metadata.name"
            [title]="kubernetesPod.metadata.name"
          >{{ subPodName() | dSafeNullPipe }}
          </span>

          <span
            dPopover
            [position]="'right-top'"
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [content]="podLabelsTemplate"
          >
            <i class="fa-solid fa-tags"></i>
          </span>
          <ng-template #podLabelsTemplate>
            <div *ngFor="let label of kubernetesPod.metadata.labels | keyvalue">
              <span>{{ label.key }}: {{ label.value }}</span>
            </div>
          </ng-template>

          <d-tag
            dPopover
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [content]="podStatusTemplate"
            [position]="'left-top'"
            [appendToBody]="true"
            class="pod-status"
            [tag]="kubernetesPod.status.phase"
            [labelStyle]="getContainerPhaseStyle(kubernetesPod.status)">
          </d-tag>
          <ng-template #podStatusTemplate>
            <div *ngFor="let condition of kubernetesPod.status.conditions | keyvalue">
              <span>{{ condition.key }}: {{ condition.value.status }}</span>
            </div>
          </ng-template>
        </div>
      </d-card-title>
      <d-card-subtitle>
        <div class="spacing-card-header-subtitle">
          <div class="font-color-comment">
            {{ kubernetesPod.status.startTime | dDatePipe: 'y/M/d HH:mm:ss z' }}
            <strong style="margin-left: 3px">
              {{ kubernetesPod.status.startTime | dRelativeTime: limit | async }}
            </strong>
          </div>
        </div>
      </d-card-subtitle>
    </d-card-header>
    <d-card-content style="margin: 0">
      <div class="spacing-card-content">
        <app-kubernetes-pod-containers
          [containerName]="containerName"
          [containerStatuses]="kubernetesPod.containerStatuses"
          [podStatus]="kubernetesPod.status"
        ></app-kubernetes-pod-containers>
      </div>
    </d-card-content>
    <d-card-actions [align]="'end'" style="margin: 0">
      <div>
        <d-button bsStyle="text" style="margin-right: 8px" (click)="onRowExec()"> Exec</d-button>
        <d-button bsStyle="text" (click)="onRowLogs()">Logs</d-button>
      </div>
    </d-card-actions>
  </d-card>
</div>
