<section [style.height]="sectionHeight" style="min-height: 400px;">
  <d-card style="padding: 5px 10px; height: 100%;">

    <d-card-header style="margin-bottom: 5px; height: 28px;">
      <d-card-title>
        <div style="display: flex; align-items: center; gap: 12px; font-size: 12px;">
          <span style="color: #666">Login:</span>
          <d-select
            [filterKey]="'name'"
            [options]="serverAccounts"
            [(ngModel)]="selectedServerAccount"
            (valueChange)="onServerAccountChange($event)"
            style="width: 120px">
          </d-select>
          <span style="color: #666">|</span>
          <span style="color: #666">{{ formData.name }}</span>
          <span style="color: #666" dClipboard [content]="formData.assetKey">{{ formData.assetKey }}</span>
        </div>
      </d-card-title>
    </d-card-header>

    <d-card-content style="height: calc(100% - 40px); padding: 0;">
      <div class="eds-asset-ssh-terminal" #termEl id="edsAssetSshTerminal" (window:resize)="onResize()"></div>
    </d-card-content>
  </d-card>
</section>
