<da-layout-row [daGutter]="[24, 24]">
  <da-col-item [daSpan]="24" [daXs]="24">
    <ng-container *ngIf="showRecord">
      <ng-template [ngTemplateOutlet]="globalNetworkDetailsTemplate"></ng-template>
    </ng-container>
  </da-col-item>
</da-layout-row>

<ng-template #globalNetworkDetailsTemplate>
  <section>
    <div>
      <h2>{{ globalNetworkDetails?.network?.name | dSafeNullPipe }}</h2>
    </div>
    <div class="spacing-table">
      <div dLoading [loading]="loading">
        <div *ngIf="!loading && showRecord">
          <div *ngFor="let planningDetail of globalNetworkDetails.planningDetails">
            <h3 style="margin-bottom: 5px">
              <span class="font-color-name" style="margin-right: 5px">{{ planningDetail.name }}</span>
              <span class="font-color-comment" style="margin-right: 5px">{{ planningDetail.comment }}</span>
              <d-tag [tag]="planningDetail.cidrBlock" style="padding: 0;margin-right: 5px"></d-tag>
            </h3>
            <app-ace-editor
              [readonly]="true"
              [aceValue]="planningDetail.subnetTable"
              [mode]="'ace/mode/text'"
              [theme]="'ace/theme/tomorrow'"
            ></app-ace-editor>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
