<div *ngIf="show">
  <d-time-axis [data]="timeAxisTemplate" [contentTemplate]="customTemplate" [mode]="'alternative'"></d-time-axis>
</div>

<ng-template #customTemplate let-data="data">
  <div style="position: relative">
    <div [style.border-color]="data.color" class="approve-node">
      <div style="padding-bottom: 8px; font-size: 14px; font-weight: bold">{{ data.nodeName }}</div>
      <div style="padding-bottom: 8px" *ngIf="data.username">
        <app-user-popover [username]="data.username"></app-user-popover>
        &nbsp;
        <d-tag
          *ngIf="data.approvalStatus"
          [tag]="data.approvalStatus"
          [labelStyle]="data.approvalStatus === APPROVAL_AGREE?'green-w98':'red-w98'"
        ></d-tag>
      </div>
      <div class="remark-content" style="padding-bottom: 8px" *ngIf="data.approveRemark">
        <span [title]="data.approveRemark">
          <d-icon [icon]="'icon-comment'" style="vertical-align: middle"></d-icon>
          &nbsp;{{ data.approveRemark }}
        </span>
      </div>

      <div style="padding-bottom: 8px" *ngIf="data.nodeName === 'End'">
        <span [title]="data.ticketResult">
          <d-icon [icon]="'icon-suggestion'" style="vertical-align: middle"></d-icon>
          &nbsp; <d-tag [tag]="data.ticketState" [labelStyle]="onGetTicketStateColor()"></d-tag>
        </span>
      </div>

      <div style="padding-bottom: 8px" *ngIf="data.nodeName === 'Start' || data.nodeName === 'End'">
        <span [title]="data.time | dRelativeTime: limit | async">
          <d-icon [icon]="'icon-time'" style="vertical-align: middle"></d-icon>
          &nbsp;<span>{{ data.time | dDatePipe: 'y/M/d HH:mm:ss z' }}</span>
        </span>
      </div>

    </div>
  </div>
</ng-template>
