<div *ngIf="show">
  <d-time-axis [data]="timeAxisTemplate" [contentTemplate]="customTemplate" [mode]="'alternative'"></d-time-axis>
</div>

<ng-template #customTemplate let-data="data">
  <div style="position: relative">
    <div [style.border-color]="data.color" class="approve-node">
      <div style="padding-bottom: 8px; font-size: 14px; font-weight: bold">{{ data.nodeName }}</div>
      <div style="padding-bottom: 8px" *ngIf="data.approvalStatus">
        <i class="fa-solid fa-circle-user"></i>
        &nbsp;{{ data.username }}&nbsp;
        <d-tag
          [tag]="data.approvalStatus"
          [labelStyle]="data.approvalStatus === APPROVAL_AGREE?'green-w98':'red-w98'"
        ></d-tag>
      </div>
      <div class="remark-content" style="padding-bottom: 8px" *ngIf="data.approveRemark">
        <span [title]="data.approveRemark">
          <i class="fa-solid fa-comment-dots"></i>
          &nbsp;{{ data.approveRemark }}
        </span>
      </div>
    </div>
  </div>
</ng-template>
