.card-content {
  display: flex;
  line-height: 25px;

  .name {
    color: #99a9bf;
    font-size: 12px;
    width: 100px;
    flex: 0 0 auto;
  }

  .value {
    font-size: 12px;
    flex: 1;
  }

}

.card-identity {
  padding: 5px 5px;
  margin: 0 10px 10px 0;
  width: 500px;
  display: inline-block
}
