<div class="spacing-search">
  <d-select
    class="select"
    [filterKey]="'name'"
    [width]="580"
    [appendToBody]="true"
    [(ngModel)]="application"
    [searchFn]="onSearchApplication"
    [isSearch]="true"
    placeholder="Select application"
    (valueChange)="onApplicationChange($event)"
  >
    <ng-template let-option="option">
      <span>{{ option.name }}</span>
      <span style="float: right; padding: 3px 0">{{ option.comment }}</span>
    </ng-template>
  </d-select>
  <d-select
    class="select"
    [options]="resourceNamespaceOptions"
    [filterKey]="'label'"
    [valueKey]="'value'"
    [appendToBody]="true"
    placeholder="Select namespace"
    [(ngModel)]="queryParam.namespace"
    (valueChange)="onResourceNamespaceChange($event)"
  >
  </d-select>
  <d-button class="button" bsStyle="common" (click)="fetchData()"
            [disabled]="queryParam.applicationName ==='' || queryParam.namespace ===''">Filter
  </d-button>
</div>
<div class="spacing-table" dLoading [loading]="loading">
  <div *ngIf="show">
    <d-tabs type="pills" [(activeTab)]="tabActiveId">
      <d-tab [id]="'workloads'" [title]="'Workloads'">
        <div>
          <app-kubernetes-workload [deploymentList]="deploymentList"></app-kubernetes-workload>
        </div>
      </d-tab>
      <d-tab [id]="'network'" [title]="'Network'">
        <div>
          <app-kubernetes-network [serviceList]="serviceList"></app-kubernetes-network>
        </div>
      </d-tab>
    </d-tabs>
  </div>

</div>






