<div class="spacing-search">
  <d-button class="button" bsStyle="primary" (click)="onRowNew()" [disabled]="!selectedChannel">New</d-button>
  <d-select
    class="select"
    [options]="channelOptions"
    [(ngModel)]="selectedChannel"
    [placeholder]="'Select Channel'"
    [filterKey]="'label'"
    [isSearch]="true"
    [allowClear]="true"
    [appendToBody]="true"
    (ngModelChange)="onChannelChange($event)"
  ></d-select>
  <d-search
    class="search"
    [(ngModel)]="queryParam.queryName"
    [iconPosition]="'left'"
    (searchFn)="fetchData()"
    (change)="fetchData()"
  ></d-search>
  <d-button class="button" bsStyle="common" (click)="fetchData()" [disabled]="!selectedChannel">Filter</d-button>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
    [checkable]="true"
  >
    <d-column field="name" header="Name"></d-column>
    <d-column field="lineType" header="Type">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <d-tag *ngIf="cellItem" [tag]="cellItem" [labelStyle]="'blue-w98'"></d-tag>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="sourceEndpoint" header="Source Endpoint"></d-column>
    <d-column field="channelName" header="Channel"></d-column>
    <d-column field="monitorUrl" header="Monitor URL">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <a *ngIf="cellItem" [href]="cellItem" target="_blank">
            <d-icon [icon]="'icon-link'" [operable]="true"></d-icon>
          </a>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="comment" header="Comment"></d-column>
    <d-column header="Actions">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon [icon]="'icon-edit'" [operable]="true" (click)="onRowEdit(rowItem)"></d-icon>
            <d-icon [icon]="'icon-priority'" [operable]="true" [color]="getRowColor(rowItem['valid'])" (click)="onRowValid(rowItem)"></d-icon>
            <span dDropDown appendToBody>
              <d-icon dDropDownToggle [icon]="'icon-more-operate'" [operable]="true"></d-icon>
              <ul dDropDownMenu>
                <li class="devui-dropdown-item" (click)="onRowDelete(rowItem)">Delete</li>
              </ul>
            </span>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <div dDropDown class="batch-button">
    <d-button-group>
      <d-button bsStyle="common" dDropDownToggle>Batch<span class="icon icon-select-arrow"></span></d-button>
    </d-button-group>
    <ul dDropDownMenu class="devui-dropdown-menu" role="menu">
      <li role="menuitem" (click)="onBatchDelete()"><a dDropDownMenuItem><span class="icon-delete" style="padding-right: 5px; vertical-align: middle"> Delete</span></a></li>
    </ul>
  </div>
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  ></d-pagination>
</div>
<!-- Line Graph -->
<div class="line-graph" *ngIf="lineLevels.length">
  <h5 class="graph-title">Line Topology</h5>
  <div class="graph-content">
    <div class="graph-column" *ngFor="let level of lineLevels">
      <div *ngFor="let line of level" class="graph-item" [id]="'graph-line-' + getLineIndex(line)">
        <i class="fas fa-sitemap" style="margin-right: 6px;"></i>
        <span class="graph-name">{{ line.name }}</span>
        <d-tag *ngIf="line.lineType" [tag]="line.lineType" [labelStyle]="'blue-w98'" style="margin-left: 6px;"></d-tag>
      </div>
    </div>
  </div>
</div>
