<div>
  <d-card>
    <d-card-header (click)="onRouteInstanceAsset(edsInstance.id)" class="spacing-card-header">
      <d-avatar
        dCardAvatar
        [name]="edsInstance.instanceName"
        [isRound]="true"
        [width]="28"
        [height]="28"
      ></d-avatar>
      <d-card-title>
        <h3 class="font-color-name" style="margin: 0">{{ edsInstance.instanceName }}</h3>
        <d-tag
          *ngIf="edsInstance.version"
          [tag]=edsInstance.version
          [labelStyle]="'blue-w98'"
          class="version-tag"
        ></d-tag>
      </d-card-title>
      <d-card-subtitle>
        <span class="font-color-comment">{{ edsInstance.edsType }}</span>
      </d-card-subtitle>
    </d-card-header>
    <d-card-content>
      <div class="spacing-card-content">
        <div class="card-content-comment font-color-comment">{{ edsInstance.comment | dSafeNullPipe }}</div>
        <div class="card-content-tags">
          <app-business-tags [businessTags]="edsInstance.businessTags"></app-business-tags>
        </div>
      </div>
    </d-card-content>
    <d-card-actions [align]="'end'">
      <div>
        <d-icon-group>
          <d-icon [icon]="'icon-edit'" [operable]="true" (click)="onRowInstanceEdit(edsInstance)"></d-icon>
          <d-icon [icon]="'icon-op-task'" [operable]="true" (click)="onRowInstanceSchedule(edsInstance)"></d-icon>
          <d-icon [icon]="'icon-setting'" [operable]="true" (click)="onRowConfigEdit(edsInstance)"></d-icon>
          <d-icon [icon]="'icon-add-label'" [operable]="true" (click)="onRowBusinessTag(edsInstance)"></d-icon>
          <d-icon [icon]="'icon-go-document'" [operable]="true" (click)="onRowBusinessDoc(edsInstance)"></d-icon>
          <d-icon
            [icon]="'icon-priority'"
            [operable]="true"
            [color]="getRowColor(edsInstance.valid)"
            (click)="onRowValid(edsInstance)"
          >
          </d-icon>
          <span dDropDown appendToBody>
              <d-icon dDropDownToggle [icon]="'icon-more-operate'" [operable]="true"></d-icon>
              <ul dDropDownMenu>
                <li class="devui-dropdown-item" (click)="onRowUnregister(edsInstance)">Unregister</li>
              </ul>
            </span>
        </d-icon-group>
      </div>
    </d-card-actions>
  </d-card>
</div>
