<section>
  <d-tag
    (click)="fetchData()"
    dLoading
    [loading]="loading"
    dPopover
    style="margin:0 5px 5px 0"
    [position]="'bottom-left'"
    [trigger]="'hover'"
    [controlled]="true"
    [mouseEnterDelay]="500"
    [content]="dingtalkIdentitiesTemplate"
    [tag]="'Dingtalk Identity'"
    [labelStyle]="JSON.stringify(dingtalkIdentities) === '[]'?'':'green-w98'"
    [popoverStyle]="getPopoverStyle()"
  ></d-tag>
  <ng-template #dingtalkIdentitiesTemplate>
    <div>
      <app-user-dingtalk-identity-card
        *ngFor="let identity of dingtalkIdentities"
        [identity]="identity"
        style="padding: 5px 5px;margin-bottom: 10px"
      >
      </app-user-dingtalk-identity-card>
    </div>
    <div *ngIf="JSON.stringify(dingtalkIdentities) === '[]'">no data</div>
  </ng-template>
</section>
