<section>
  <d-splitter class="splitter-border" orientation="vertical">
    <d-splitter-pane size="30px" [resizable]="false">
      <div class="splitter-header">
        <h2 style="margin: 0 10px 0 8px">
          {{ kubernetesDeployment.metadata.name }}@{{ kubernetesDeployment.kubernetesCluster.name }}
        </h2>
        <div class="layout-bottom" style="margin-right: 10px">
          <span
            dPopover
            [position]="'right-top'"
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [content]="nodeLabelsTemplate"
          >
            <i class="fa-solid fa-tags" style="font-size: 16px"></i>
          </span>
          <ng-template #nodeLabelsTemplate>
            <div *ngFor="let label of kubernetesDeployment.metadata.labels | keyvalue">
              <span>{{ label.key }}: {{ label.value }}</span>
            </div>
          </ng-template>
        </div>

        <div class="layout-bottom" style="margin-right: 5px">
          <d-tag [tag]="'env:'+ kubernetesDeployment.env.envName" [customColor]="kubernetesDeployment.env.color"></d-tag>
        </div>

        <div class="layout-bottom" style="margin-right: 5px">
          <d-tag [tag]="'replicas x' + kubernetesDeployment.spec.replicas" [labelStyle]="'blue-w98'"></d-tag>
        </div>

        <div class="layout-bottom" style="margin-right: 5px">
          <d-tag
            dPopover
            [position]="'right-top'"
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [content]="strategyTemplate"
            [tag]="'strategy'"
            [labelStyle]="'blue-w98'"
          >
          </d-tag>
          <ng-template #strategyTemplate>
            <div>{{ kubernetesDeployment.spec.strategy.type }}</div>
            <div style="margin-left: 1em">
              maxSurge: {{ kubernetesDeployment.spec.strategy.rollingUpdate.maxSurge | dSafeNullPipe }}
              <br />
              maxUnavailable: {{ kubernetesDeployment.spec.strategy.rollingUpdate.maxUnavailable | dSafeNullPipe }}
            </div>
          </ng-template>
        </div>
      </div>
    </d-splitter-pane>
    <d-splitter-pane>
      <d-splitter orientation="horizontal">
        <d-splitter-pane [resizable]="false" size="350px">
          <div style="padding: 8px" class="splitter-left">

            <span class="name">Containers</span>
            <d-radio-group
              [name]="'container-name-radio'"
              [values]="kubernetesDeployment['$containers']"
              [direction]="'row'"
              [(ngModel)]="kubernetesDeployment['$chosenItem']"
              (change)="valueChange($event)"
            >
            </d-radio-group>

            <div>
              <span class="name">Image</span>
              <span class="value inline-value"
                    [title]="kubernetesDeployment['$container'].image"
                    dClipboard [content]="kubernetesDeployment['$container'].image"
              >{{ kubernetesDeployment['$container'].image | shortContainerImage | dSafeNullPipe }}</span>
            </div>

            <div>
              <span class="name">Resources</span>
              <span class="value">
                <span
                  dPopover
                  [position]="'right-top'"
                  [trigger]="'hover'"
                  [controlled]="true"
                  [mouseEnterDelay]="500"
                  [content]="resourcesTemplate"
                >
                  <i class="fa-solid fa-microchip"></i>&nbsp;{{ getResourcesLimits() }}
                </span>
                <ng-template #resourcesTemplate>
                  <span>
                    Requests:&nbsp;{{ getResourcesRequests() }}
                    <br />
                    Limits:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ getResourcesLimits() }}
                  </span>
                </ng-template>
              </span>
            </div>

            <div class="drawer" style="margin: 3px 0"></div>
            <div>
              <d-tag
                dPopover
                [position]="'right-top'"
                [trigger]="'hover'"
                [controlled]="true"
                [mouseEnterDelay]="500"
                [content]="lifecycleTemplate"
                [tag]="'lifecycle'"
                [labelStyle]="'blue-w98'"
              ></d-tag>
              <ng-template #lifecycleTemplate>
                <app-kubernetes-container-lifecycle
                  [lifecycle]="kubernetesDeployment['$container'].lifecycle"
                ></app-kubernetes-container-lifecycle>
              </ng-template>

              <d-tag
                dPopover
                [position]="'right-top'"
                [trigger]="'hover'"
                [controlled]="true"
                [mouseEnterDelay]="500"
                [content]="probeTemplate"
                [tag]="'probe'"
                [labelStyle]="'blue-w98'"
              ></d-tag>
              <ng-template #probeTemplate>
                <app-kubernetes-container-probe
                  [startupProbe]="kubernetesDeployment['$container'].startupProbe"
                  [livenessProbe]="kubernetesDeployment['$container'].livenessProbe"
                  [readinessProbe]="kubernetesDeployment['$container'].readinessProbe"
                >
                </app-kubernetes-container-probe>
              </ng-template>
            </div>

          </div>
        </d-splitter-pane>
        <d-splitter-pane>
          <div class="da-list-content">
            <app-kubernetes-pod-card
              [containerName]="kubernetesDeployment['$chosenItem']"
              *ngFor="let pod of kubernetesDeployment.pods"
              [kubernetesPod]="pod"
              [kubernetesDeployment]="kubernetesDeployment"
              class="card-item"
            ></app-kubernetes-pod-card>
          </div>
        </d-splitter-pane>
      </d-splitter>
    </d-splitter-pane>
  </d-splitter>
</section>
