<section>
  <d-splitter class="splitter-border" orientation="vertical">
    <d-splitter-pane size="30px" [resizable]="false">
      <div class="splitter-header">

        <h2 style="margin: 0 10px">
          {{ kubernetesDeployment.metadata.name }}@{{ kubernetesDeployment.kubernetesCluster.name }}
        </h2>

        <div class="layout-bottom" style="margin-left: 10px">
          <span
            dPopover
            [content]="nodeLabelsTemplate"
            [position]="'right-top'"
            [controlled]="true">
            <i class="fa-solid fa-tags"></i>
          </span>
          <ng-template #nodeLabelsTemplate>
            <div *ngFor="let label of kubernetesDeployment.metadata.labels | keyvalue">
              <span>{{ label.key }}: {{ label.value }}</span>
            </div>
          </ng-template>
        </div>

        <div class="layout-bottom" style="margin-left: 10px">
          <strong>{{ kubernetesDeployment.spec.strategy.type }}:&nbsp;</strong>
          <span>
            MaxSurge: {{ kubernetesDeployment.spec.strategy.rollingUpdate.maxSurge | dSafeNullPipe }} /
            MaxUnavailable: {{ kubernetesDeployment.spec.strategy.rollingUpdate.maxUnavailable | dSafeNullPipe }}
          </span>
        </div>

        <d-tag
          class="replicas-tag"
          [tag]="kubernetesDeployment.spec.replicas"
          [customViewTemplate]="replicasTag"
          [labelStyle]="'blue-w98'"
        >
        </d-tag>
        <ng-template #replicasTag let-tag="tag">
          <span style="margin-right: 3px">replicas x{{ tag }}</span>
        </ng-template>
      </div>
    </d-splitter-pane>
    <d-splitter-pane>
      <d-splitter orientation="horizontal">
        <d-splitter-pane [resizable]="false" size="350px">
          <div style="padding: 8px" class="splitter-left">
            <span class="name">Containers</span>
            <d-radio-group
              [name]="'container-name-radio'"
              [values]="kubernetesDeployment['$containers']"
              [direction]="'row'"
              [(ngModel)]="kubernetesDeployment['$chosenItem']"
              (change)="valueChange($event)"
            >
            </d-radio-group>

            <div>
              <span class="name">Image</span>
              <span class="value inline-value"
                    [title]="kubernetesDeployment['$container'].image"
                    dClipboard [content]="kubernetesDeployment['$container'].image"
              >{{ kubernetesDeployment['$container'].image | shortContainerImage | dSafeNullPipe }}</span>
            </div>

            <div>
              <span class="name">Resources</span>
              <span class="value">
                <span
                  dPopover
                  [position]="'right-top'"
                  [trigger]="'hover'"
                  [controlled]="true"
                  [mouseEnterDelay]="500"
                  [content]="resourcesTemplate"
                >
                  <i class="fa-solid fa-microchip"></i>&nbsp;{{ getResourcesLimits() }}
                </span>
                <ng-template #resourcesTemplate>
                  <span>
                    Requests:&nbsp;{{ getResourcesRequests() }}
                    <br />
                    Limits:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ getResourcesLimits() }}
                  </span>
                </ng-template>
              </span>
            </div>

            <div>
              <span class="name">Lifecycle</span>
              <span class="value">
               <app-kubernetes-container-lifecycle
                 [lifecycle]="kubernetesDeployment['$container'].lifecycle"
               >
               </app-kubernetes-container-lifecycle>
              </span>
            </div>

            <div>
              <span class="name">Probe</span>
              <span class="value">
                <app-kubernetes-container-probe
                  [startupProbe]="kubernetesDeployment['$container'].startupProbe"
                  [livenessProbe]="kubernetesDeployment['$container'].livenessProbe"
                  [readinessProbe]="kubernetesDeployment['$container'].readinessProbe"
                >
                </app-kubernetes-container-probe>
              </span>
            </div>

          </div>
        </d-splitter-pane>
        <d-splitter-pane>
          <div class="da-list-content">
            <app-kubernetes-pod-card
              [containerName]="kubernetesDeployment['$chosenItem']"
              *ngFor="let pod of kubernetesDeployment.pods"
              [kubernetesPod]="pod"
              [kubernetesDeployment]="kubernetesDeployment"
              class="card-item"
            ></app-kubernetes-pod-card>
          </div>
        </d-splitter-pane>
      </d-splitter>
    </d-splitter-pane>
  </d-splitter>
</section>
