<section>
  <form
    dForm
    ngForm
    [dValidateRules]="formRules['rule']"
    [layout]="layoutDirection"
  >
    <d-form-item>
      <d-form-label [required]="true">Instances</d-form-label>
      <d-form-control>
        <d-checkbox-group
          name="instances"
          [options]="instanceOptions"
          [(ngModel)]="selectedInstances"
          [filterKey]="'name'"
          [direction]="'row'"
        ></d-checkbox-group>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">Namespaces</d-form-label>
      <d-form-control>
        <d-checkbox-group
          name="namespaces"
          [options]="namespaceOptions"
          [(ngModel)]="formData.namespaces"
          [direction]="'row'"
        ></d-checkbox-group>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">Kinds</d-form-label>
      <d-form-control>
        <d-checkbox-group
          name="kinds"
          [options]="kindOptions"
          [(ngModel)]="formData.kinds"
          [direction]="'row'"
        ></d-checkbox-group>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">Custom</d-form-label>
      <d-form-control>
        <app-ace-editor
          [minLines]="20"
          [maxLines]="40"
          [mode]="'ace/mode/yaml'"
          [aceValue]="formData.custom"
          (onChange)="onCustomChange($event,formData)"
        >
        </app-ace-editor>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Description</d-form-label>
      <d-form-control>
        <textarea
          dTextarea
          name="comment"
          maxlength="200"
          style="height: 80px"
          [(ngModel)]="formData.comment"
        ></textarea>
      </d-form-control>
    </d-form-item>
  </form>
</section>

