<app-work-order-base-ticket
  #workOrderBaseTicket
  [ticketDetails]="ticketDetails"
  [editTicketEntryTemplate]="editTicketEntryTemplate"
  [showTicketEntryTemplate]="showTicketEntryTemplate"
  (onGetTicket)="onGetTicketDetail($event)"
  (onHideDialog)="onCancel()"
></app-work-order-base-ticket>

<ng-template #editTicketEntryTemplate>
  <form dForm ngForm [layout]="FormLayout.Vertical">
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecret.labels.instance' | translate }}</d-form-label>
      <d-form-control>
        <d-select
          name="instance"
          [filterKey]="'instanceName'"
          [appendToBody]="true"
          [(ngModel)]="aliyunInstance"
          [searchFn]="onSearchCloudInstance"
          [isSearch]="true"
          placeholder="Select aliyun instance"
        >
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item *ngIf="aliyunInstance !== undefined">
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecret.labels.kmsInstance' | translate }}</d-form-label>
      <d-form-control>
        <d-select
          name="kmsInstance"
          [filterKey]="'assetId'"
          [appendToBody]="true"
          [(ngModel)]="kmsInstance"
          [searchFn]="onSearchKmsInstance"
          [isSearch]="true"
          placeholder="Select aliyun kms instance"
          dLoading
          [loading]="loading.kmsInstance"
        >
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item *ngIf="kmsInstance !== undefined">
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecret.labels.kmsEncryptionKey' | translate }}</d-form-label>
      <d-form-control>
        <d-select
          name="encryptionKey"
          [filterKey]="'assetId'"
          [appendToBody]="true"
          [(ngModel)]="encryptionKey"
          [searchFn]="onSearchKmsEncryptionKey"
          [isSearch]="true"
          placeholder="Select kms encryption key"
          dLoading
          [loading]="loading.encryptionKey"
        >
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecret.labels.application' | translate }}</d-form-label>
      <d-form-control>
        <d-select
          name="application"
          [filterKey]="'name'"
          [appendToBody]="true"
          [(ngModel)]="application"
          [searchFn]="onSearchApplication"
          [isSearch]="true"
          placeholder="Select application"
          [allowClear]="true"
          (valueChange)="onApplicationChange($event)"
        >
          <ng-template let-option="option">
            <span>{{ option.name }}</span>
            <span style="float: right; padding: 3px 0">{{ option.comment }}</span>
          </ng-template>
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecret.labels.env' | translate }}</d-form-label>
      <d-form-control>
        <d-tabs
          style="height: 20px"
          type="options"
          [activeTab]="namespace"
          (activeTabChange)="onEnvChange($event)"
        >
          <d-tab
            *ngFor="let env of envOptions"
            [id]="env.envName"
            [title]="env.envName"
          ></d-tab>
        </d-tabs>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecret.labels.secretName' | translate }}</d-form-label>
      <d-form-control>
        <input dTextInput name="secretName" [(ngModel)]="secretName" />
        <d-alert [type]="'info'" [closeable]="false" style="margin-top: 5px">
          {{ 'workOrderTicket.aliyunKmsSecret.secretName.tips' | translate }}
          <br />
          {{ 'workOrderTicket.aliyunKmsSecret.secretName.envTips' | translate }}
          <br />
          {{ 'workOrderTicket.aliyunKmsSecret.secretName.countryCodeTips' | translate }}
          <br />
          {{ 'workOrderTicket.aliyunKmsSecret.secretName.cloudServiceTips' | translate }}
          <br />
          {{ 'workOrderTicket.aliyunKmsSecret.secretName.secretTypeTips' | translate }}
          <br />
          {{ 'workOrderTicket.aliyunKmsSecret.secretName.userCustomTips' | translate }}
        </d-alert>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecret.labels.secretData' | translate }}</d-form-label>
      <d-form-control>
        <input dTextInput name="secretData" [(ngModel)]="secretData" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecret.labels.version' | translate }}</d-form-label>
      <d-form-control>
        <input dTextInput name="versionId" [(ngModel)]="versionId" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunKmsSecret.labels.description' | translate }}</d-form-label>
      <d-form-control>
        <textarea
          dTextarea
          name="description"
          maxlength="200"
          style="height: 80px"
          [(ngModel)]="description"
        ></textarea>
      </d-form-control>
    </d-form-item>
    <d-form-operation>
      <d-button bsStyle="primary" (click)="onRowAdd()">Add Entry</d-button>
    </d-form-operation>
  </form>
</ng-template>

<ng-template #showTicketEntryTemplate>
  <div *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    <d-data-table
      [dataSource]="ticketDetails.entries"
      [tableOverflowType]="'overlay'"
    >
      <d-column field="instance" [header]="'workOrderTicket.aliyunKmsSecret.headers.aliyunInstance' | translate">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <span>{{ rowItem['instance']?.instanceName | dSafeNullPipe }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.aliyunKmsSecret.headers.secretName' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            {{ cellItem['secretName'] }}
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.aliyunKmsSecret.headers.version' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            {{ cellItem['versionId'] }}
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.aliyunKmsSecret.headers.encryptionKeyId' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            {{ cellItem['encryptionKeyId'] }}
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.aliyunKmsSecret.headers.configCenterValue' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span dClipboard [content]="'KMS#' + cellItem['secretName']">KMS#{{ cellItem['secretName'] }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" [header]="'workOrderTicket.aliyunKmsSecret.headers.description' | translate">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            {{ cellItem['description'] }}
          </ng-template>
        </d-cell>
      </d-column>
      <d-column [header]="'workOrderTicket.aliyunKmsSecret.headers.actions' | translate" [width]="'80px'" *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.NEW">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-icon-group>
              <d-icon [icon]="'icon-delete'" [operable]="true" (click)="onRowRemove(rowItem)"></d-icon>
            </d-icon-group>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column
        [header]="'workOrderTicket.aliyunKmsSecret.headers.result' | translate"
        *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.COMPLETED
        || ticketDetails.ticket.ticketState === WorkOrderStatus.IN_PROGRESS"
      >
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-tag
              *ngIf="rowItem['success']"
              style="margin:0 5px 5px 0"
              [tag]="'success'"
              [labelStyle]="'green-w98'"
            ></d-tag>
            <span>{{ rowItem.result }}</span>
          </ng-template>
        </d-cell>
      </d-column>
    </d-data-table>
  </div>
  <d-alert [type]="'info'" [closeable]="false" style="margin-top: 5px">
    <a class="devui-link-light" [routerLink]="['/pages/workbench/application-credential']" target="_blank">
      {{ 'workOrderTicket.aliyunKmsSecret.tips' | translate }}
    </a>
  </d-alert>
</ng-template>
