<app-work-order-base-ticket
  #workOrderBaseTicketComponent
  [ticketDetails]="ticketDetails"
  [editTicketEntryTemplate]="editTicketEntryTemplate"
  [showTicketEntryTemplate]="showTicketEntryTemplate"
  (onGetTicket)="onGetTicketDetail($event)"
  (onHideDialog)="onCancel()"
></app-work-order-base-ticket>

<ng-template #editTicketEntryTemplate>
  <form dForm ngForm [layout]="FormLayout.Vertical">
    <d-form-item>
      <d-form-label [required]="true">Instance</d-form-label>
      <d-form-control>
        <d-select
          name="instance"
          [filterKey]="'instanceName'"
          [appendToBody]="true"
          [(ngModel)]="gitLabInstance"
          [searchFn]="onSearchGitLabInstance"
          [isSearch]="true"
          placeholder="Select gitlab instance"
          [allowClear]="true"
          (valueChange)="onGitLabInstanceChange($event)"
        >
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item *ngIf="gitLabInstance !== null">
      <d-form-label [required]="true">GitLab Permission</d-form-label>
      <d-form-control>
        <d-select
          name="gitLabPermission"
          [filterKey]="'name'"
          [appendToBody]="true"
          [(ngModel)]="gitLabPermission"
          [searchFn]="onSearchGitLabPermission"
          [isSearch]="true"
          placeholder="Select gitlab permission"
          [allowClear]="true"
          (valueChange)="onGitLabPermissionChange($event)"
        >
          <ng-template let-option="option">
            <span>{{ option.name }}</span>
            <span style="float: right; padding: 3px 0">{{ option.originalAsset?.webUrl }}</span>
          </ng-template>
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">Role</d-form-label>
      <d-form-control>
        <d-select
          name="gitlabRole"
          [filterKey]="'name'"
          [valueKey]="'value'"
          [optionDisabledKey]="'disabled'"
          [options]="gitlabRoleOptions"
          [(ngModel)]="gitlabRole"
        >
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-operation>
      <d-button bsStyle="primary" (click)="onRowAdd()">Add Entry</d-button>
    </d-form-operation>
  </form>
</ng-template>

<ng-template #showTicketEntryTemplate>
  <div *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    <d-data-table
      [dataSource]="ticketDetails.entries"
      [tableOverflowType]="'overlay'"
    >
      <d-column field="instance" header="Instance">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <span>{{ rowItem['instance']?.instanceName | dSafeNullPipe }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="displayName" header="Ssh URL"></d-column>
      <d-column field="detail" header="Role">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span>{{ cellItem.role }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column header="Actions" [width]="'80px'" *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.NEW">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-icon-group>
              <d-icon [icon]="'icon-delete'" [operable]="true" (click)="onRowRemove(rowItem)"></d-icon>
            </d-icon-group>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column
        header="Result"
        *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.COMPLETED
        || ticketDetails.ticket.ticketState === WorkOrderStatus.IN_PROGRESS"
      >
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-tag
              *ngIf="rowItem['success']"
              style="margin:0 5px 5px 0"
              [tag]="'success'"
              [labelStyle]="'green-w98'"
            ></d-tag>
            <span>{{ rowItem.result }}</span>
          </ng-template>
        </d-cell>
      </d-column>
    </d-data-table>
  </div>
</ng-template>
