<section>
  <span *ngFor="let permission of permissions| keyvalue" >
    <div class="permissions">
      <d-card *ngFor="let item of permission.value" class="permissions-card">
        <d-card-content>
          <app-user-popover
            [username]="permission.key"
            style="margin-right: 8px"
          ></app-user-popover>
          <d-tag
            *ngFor="let role of item.userPermissions"
            style="margin-right: 5px;"
            [tag]="role"
            [customViewTemplate]="customTag"
            [labelStyle]="role.id !== null?'green-w98':''"
          >
          </d-tag>
          <ng-template #customTag let-tag="tag">
            <div>
              <span class="progress-container circle-type">
                <d-progress
                  [type]="'circle'"
                  [strokeWidth]="18"
                  [percentage]="tag.lifeCycleExpires?.survivalRate"
                  [strokeColor]="'#50d4ab'"
                  [showContent]="false"
                  style="display: inline-block"
                  *ngIf="tag.id !== null"
                ></d-progress>
                <span>&nbsp;{{ tag.role }}</span>
              </span>
            </div>
          </ng-template>
        </d-card-content>
      </d-card>
    </div>
  </span>
  <d-tag [tag]="'No permissions'" *ngIf="JSON.stringify(permissions) === '{}'"></d-tag>
</section>
