<section>

  <div>
    <span class="name">Pod IP:</span>
    <span
      class="value"
      dClipboard
      [content]="podStatus.podIP"
    >
      {{ podStatus.podIP | dSafeNullPipe }}
      <span
        dPopover
        [trigger]="'hover'"
        [controlled]="true"
        [mouseEnterDelay]="500"
        [content]="'Worker IP: ' + podStatus.hostIP"
      >
        <i class="fa-solid fa-location-dot"></i>
      </span>
    </span>
  </div>

  <div>
    <span class="name">Image Tag:</span>
    <span class="value">
      {{ container.image | containerImageTag | dSafeNullPipe }}
    </span>
  </div>

  <div>
    <span class="name">Restart Count:</span>
    <span class="value">
      {{ container.restartCount | dSafeNullPipe }}
      <i class="fa-solid fa-triangle-exclamation"
         *ngIf="container.restartCount !== 0"
         style="color: #f66f6a;margin-left: 5px"></i>
    </span>
  </div>

</section>
