<div class="drawer-menu">
  <div [style.margin]="'20px 20px 0 0'" [style.text-align]="'right'" [style.cursor]="'pointer'">
    <span [style.margin-right]="'12px'" title="More" class="icon icon-more-operate"> </span>
    <span
      [style.margin-right]="'8px'"
      title="Fullscreen"
      (click)="toggleFullScreen()"
      class="icon"
      [ngClass]="{ 'icon-maxmize': !isFullScreen, 'icon-minimize': isFullScreen }"
    >
    </span>
    <span (click)="close($event)" title="Close" class="icon icon-close"> </span>
  </div>
  <div class="operation-area">
    <p>{{ deploymentList | json}}</p>
    <p>{{ application | json}}</p>
  </div>
</div>

