<section>

  <div>
    <span class="name">Pod IP:</span>
    <span class="value" dClipboard [content]="podStatus.podIP">{{ podStatus.podIP | dSafeNullPipe }}</span>
  </div>

  <div>
    <span class="name">Image Tag:</span>
    <span class="value">
      {{ container.image | containerImageTag | dSafeNullPipe }}
    </span>
  </div>

  <div>
    <span class="name">Restart Count:</span>
    <span class="value" [style.color]="container.restartCount === 0 ? '':'#f66f6a'">
      {{ container.restartCount | dSafeNullPipe }}
    </span>
  </div>

</section>
