<form dForm #editorForm="dForm" [layout]="layoutDirection" [formGroup]="formGroup">
  <d-form-item>
    <d-form-label>Name</d-form-label>
    <d-form-control>
      <input dTextInput formControlName="name" placeholder="Name" />
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label [required]="true">Domain</d-form-label>
    <d-form-control>
      <input dTextInput formControlName="domain" placeholder="e.g. example.com" [disabled]="!operationType" />
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label>Domains</d-form-label>
    <d-form-control>
      <input dTextInput formControlName="domains" placeholder="*.example.com,example.com" [disabled]="!operationType" />
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label [required]="true">DNS Resolver Instance</d-form-label>
    <d-form-control>
      <d-select
        [options]="dnsResolverInstances"
        [filterKey]="'instanceName'"
        [allowClear]="true"
        [isSearch]="true"
        [(ngModel)]="selectedDnsResolver"
        [ngModelOptions]="{standalone: true}"
        placeholder="Select DNS Resolver Instance"
        (valueChange)="onDnsResolverChange($event)"
      ></d-select>
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label>Zone ID <span style="color: #999; font-weight: normal; font-size: 12px;">(auto-filled if left empty)</span></d-form-label>
    <d-form-control>
      <input dTextInput formControlName="zoneId" placeholder="Auto-filled by DNS Resolver" />
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label [required]="true">ACME Account</d-form-label>
    <d-form-control>
      <d-select
        [filterKey]="'name'"
        [appendToBody]="true"
        [searchFn]="onSearchAccount"
        [isSearch]="true"
        [(ngModel)]="selectedAccount"
        [ngModelOptions]="{standalone: true}"
        placeholder="Search and select account"
        (valueChange)="onAccountChange($event)"
      >
        <ng-template let-option="option">
          <span>{{ option.name }}</span>
          <span style="float: right; padding: 3px 0; color: #999;">{{ option.acmeProvider }}</span>
        </ng-template>
      </d-select>
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label>DCV Type</d-form-label>
    <d-form-control>
      <d-select
        [options]="dcvTypeOptions"
        [allowClear]="true"
        formControlName="dcvType"
        placeholder="Select DCV Type"
      ></d-select>
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label>DCV Delegation Target</d-form-label>
    <d-form-control>
      <input dTextInput formControlName="dcvDelegationTarget" placeholder="Delegation target" />
    </d-form-control>
  </d-form-item>
  <d-form-item>
    <d-form-label>Comment</d-form-label>
    <d-form-control>
      <textarea dTextarea formControlName="comment" placeholder="Comment"></textarea>
    </d-form-control>
  </d-form-item>
</form>
