<d-tabs
  *ngIf="instanceTabs.length"
  type="options"
  [(activeTab)]="activeInstance"
  (activeTabChange)="onInstanceTabChange($any($event))"
  class="instance-tabs"
>
  <d-tab [id]="''">
    <ng-template dTabTitle>
      All<d-badge [count]="totalCount" [maxCount]="9999" style="margin-left: 6px;"></d-badge>
    </ng-template>
  </d-tab>
  <d-tab *ngFor="let t of instanceTabs" [id]="t.name">
    <ng-template dTabTitle>
      {{ t.name }}<d-badge [count]="t.count" [maxCount]="9999" style="margin-left: 6px;"></d-badge>
    </ng-template>
  </d-tab>
</d-tabs>
<div class="spacing-search">
  <d-search
    class="search"
    [(ngModel)]="queryParam.queryName"
    [iconPosition]="'left'"
    placeholder="Name"
    (searchFn)="fetchData()"
    (change)="fetchData()"
  >
  </d-search>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter</d-button>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
  >
    <d-column field="instanceName" header="Instance"></d-column>
    <d-column field="kind" header="Kind">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <d-tag *ngIf="cellItem" [tag]="cellItem" [labelStyle]="'blue-w98'"></d-tag>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="name" header="Name"></d-column>
    <d-column field="reconciliation" header="Reconciliation">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <span class="font-color-name">{{ cellItem }}</span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="cnt" header="Count" [width]="'100px'">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <d-badge [count]="cellItem || 0" [maxCount]="9999"
                   [status]="'warning'" [style]="'--devui-warning: var(--devui-brand, #5e7ce0)'"></d-badge>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="updateTime" header="Update Time" [fieldType]="'date'">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <span>{{ cellItem | dDatePipe: 'yyyy/MM/dd HH:mm:ss' }}</span>
          <br>
          <strong>{{ cellItem | dRelativeTime: limit | async }}</strong>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
