<div class="spacing-search">
  <d-search
    class="search"
    [(ngModel)]="queryParam.ticketNo"
    [iconPosition]="'left'"
    (searchFn)="fetchData()"
    (change)="fetchData()"
    [placeholder]="'workOrderTicket.dataTable.searchPlaceholder' | translate"
  >
  </d-search>
  <d-select
    class="select"
    style="width: 250px;max-width: 250px"
    [filterKey]="'name'"
    [appendToBody]="true"
    [(ngModel)]="workOrder"
    [searchFn]="onSearchWorkOrder"
    [isSearch]="true"
    [placeholder]="'workOrderTicket.dataTable.selectWorkOrder' | translate"
    (valueChange)="onWorkOrderChange($event)"
    [allowClear]="true"
  >
  </d-select>
  <d-select
    class="select"
    style="width: 300px;max-width: 300px"
    [width]="580"
    [filterKey]="'username'"
    [appendToBody]="true"
    [(ngModel)]="user"
    [searchFn]="onSearchUser"
    [isSearch]="true"
    [placeholder]="'workOrderTicket.dataTable.selectUser' | translate"
    (valueChange)="onUserChange($event)"
    [allowClear]="true"
  >
    <ng-template let-option="option">
      <span>{{ option.username }} : {{ option.name }}</span>
      <span style="float: right; padding: 3px 0">{{ option.email }}</span>
    </ng-template>
  </d-select>
  <d-checkbox
    class="checkbox"
    [label]="'workOrderTicket.dataTable.showOnlyMySubmit' | translate"
    [isShowTitle]="false"
    [(ngModel)]="queryParam.mySubmitted"
    (change)="fetchData()"
  ></d-checkbox>
  <d-button class="button" bsStyle="common" (click)="fetchData()">{{ 'workOrderTicket.dataTable.filter' | translate }}</d-button>
  <br />
  <d-tabs
    style="margin-top: 5px"
    class="tabs"
    type="options"
    [activeTab]="queryParam.ticketState"
    (activeTabChange)="onTicketStateChange($event)"
  >
    <d-tab
      *ngFor="let item of ticketStateOptions"
      [id]="item.id"
      [title]="item.title"
    ></d-tab>
  </d-tabs>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
  >
    <d-column field="ticketNo" [header]="'workOrderTicket.dataTable.headers.no' | translate">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <span dClipboard [content]="onGetTicketUrl(cellItem)">{{ cellItem }}&nbsp;<i class='fa-solid fa-share-from-square'></i></span>
        </ng-template>
      </d-cell>
    </d-column>
        <d-column field="workOrder" [header]="'workOrderTicket.dataTable.headers.name' | translate">
          <d-cell>
            <ng-template let-cellItem="cellItem">
              <span>{{ cellItem.i18nData['langMap'] | i18nTran }}</span>
            </ng-template>
          </d-cell>
        </d-column>
    <d-column field="username" [header]="'workOrderTicket.dataTable.headers.applicant' | translate">
      <d-cell>
        <ng-template let-cellItem="cellItem">
          <d-icon
            [icon]="'icon-identity-auth'"
            dPopover
            [position]="'left-top'"
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [content]="userInfoCardTemplate"
            [popoverStyle]="getPopoverStyle()"
            style="vertical-align: middle;margin-right: 5px"
          ></d-icon>
          <ng-template #userInfoCardTemplate>
            <app-user-info-card [username]="cellItem"></app-user-info-card>
          </ng-template>
          <span>{{ cellItem }}</span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column [header]="'workOrderTicket.dataTable.headers.abstract' | translate">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon
            dPopover
            [icon]="'icon-view'"
            [content]="ticketAbstractTemplate"
            [position]="'left-top'"
            [controlled]="true"
            [popoverStyle]="getPopoverStyle({width: '1200px'})"
            [operable]="true"
          ></d-icon>
          <ng-template #ticketAbstractTemplate>
            <markdown lineNumbers lineHighlight mermaid
                      [data]="rowItem['ticketAbstract']['markdown']"></markdown>
          </ng-template>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column [header]="'workOrderTicket.dataTable.headers.state' | translate">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <span>
            <d-tag [tag]="rowItem['ticketState'] | ticketState" [labelStyle]="onGetTicketStateColor(rowItem)"></d-tag>
            <d-icon
              *ngIf="rowItem['ticketState']===WorkOrderStatus.COMPLETED && rowItem.success === false"
              [icon]="'icon-warning-o'"
              [color]="'var(--devui-danger)'"
              dPopover
              [position]="'left-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="failTemplate"
              style="vertical-align: middle;margin-left: 5px"
            ></d-icon>
            <ng-template #failTemplate>
              <span>{{ rowItem.ticketResult }}</span>
            </ng-template>
          </span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column [header]="'workOrderTicket.dataTable.headers.time' | translate" [fieldType]="'date'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div *ngIf="rowItem['submittedAt'] !== null && rowItem['completedAt'] === null">
            <span class="font-color-name">{{ 'workOrderTicket.dataTable.timeLabels.submit' | translate }}</span>
            <br/>
            <span>{{ rowItem['submittedAt'] | dDatePipe: 'y/M/d HH:mm:ss z' }}</span>
            <br/>
            <strong>{{ rowItem['submittedAt'] | dRelativeTime: limit | async }}</strong>
          </div>
          <div *ngIf="rowItem['completedAt'] !== null">
            <span class="font-color-name">{{ 'workOrderTicket.dataTable.timeLabels.complete' | translate }}</span>
            <br/>
            <span>{{ rowItem['completedAt'] | dDatePipe: 'y/M/d HH:mm:ss z' }}</span>
            <br/>
            <strong>{{ rowItem['completedAt'] | dRelativeTime: limit | async }}</strong>
          </div>

        </ng-template>
      </d-cell>
    </d-column>
    <d-column [header]="'workOrderTicket.dataTable.headers.actions' | translate" [width]="'120px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon
              *ngIf="rowItem['ticketState']===WorkOrderStatus.NEW"
              [icon]="'icon-edit'"
              [operable]="true"
              (click)="onRowEdit(rowItem)"
            ></d-icon>
            <d-icon
              class="fa-shake"
              *ngIf="rowItem['ticketState']===WorkOrderStatus.IN_APPROVAL
                && rowItem.approvalInfo?.currentApprover === true"
              [icon]="'icon-classroom-approve'"
              [operable]="true"
              (click)="onRowEdit(rowItem)"
            ></d-icon>
            <d-icon
              *ngIf="(rowItem['ticketState']!==WorkOrderStatus.NEW
               && rowItem['ticketState']!==WorkOrderStatus.IN_APPROVAL)
               || (rowItem['ticketState']===WorkOrderStatus.IN_APPROVAL
               && rowItem.approvalInfo?.currentApprover !== true)"
              [icon]="'icon-go-document'"
              [operable]="true"
              (click)="onRowEdit(rowItem)"
            ></d-icon>
            <d-icon
              *ngIf="rowItem['ticketState']===WorkOrderStatus.NEW"
              [icon]="'icon-close'"
              [operable]="true"
              (click)="onRowClose(rowItem)"
            ></d-icon>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">{{ 'workOrderTicket.dataTable.fetchData' | translate }}</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
