<div class="da-settings-layout">
  <da-layout-row [daGutter]="[12, 12]">
    <da-col-item [daSpan]="12" [daXs]="10" [daOrder]="2">
      <form dForm [layout]="verticalLayout" autocomplete="off" (dSubmit)="submitForm($event)">
        <d-form-item>
          <d-form-label [required]="true">
            {{ 'registerPage.password' | translate }}:
          </d-form-label>
          <d-form-control [suffixTemplate]="suffixTemplate">
            <input
              dTextInput
              dValidateSyncKey="password"
              [type]="showPassword ? 'text' : 'password'"
              name="password"
              placeholder="Password"
              [(ngModel)]="formData.password"
              [dValidateRules]="formRules['password']"
            />
          </d-form-control>
        </d-form-item>
        <d-form-item>
          <d-form-label [required]="true">
            {{ 'registerPage.confirmPassword' | translate }}:
          </d-form-label>
          <d-form-control [suffixTemplate]="suffixTemplate2">
            <input
              dTextInput
              dValidateSyncKey="password"
              [type]="showConfirmPassword ? 'text' : 'password'"
              name="confirmPassword"
              placeholder="Confirm Password"
              [(ngModel)]="formData.confirmPassword"
              [dValidateRules]="formRules['confirmPassword']"
            />
          </d-form-control>
        </d-form-item>
        <d-form-operation>
          <d-button style="margin-right: 8px" dFormSubmit>Confirm</d-button>
        </d-form-operation>
        <ng-template #suffixTemplate>
          <i [class]="showPassword ? 'icon icon-preview' : 'icon icon-preview-forbidden'" (click)="showPassword = !showPassword"></i>
        </ng-template>
        <ng-template #suffixTemplate2>
          <i [class]="showConfirmPassword ? 'icon icon-preview' : 'icon icon-preview-forbidden'" (click)="showConfirmPassword = !showConfirmPassword"></i>
        </ng-template>
      </form>
    </da-col-item>
  </da-layout-row>
</div>


