<section>
  <form
    dLoading
    dForm
    ngForm
    [layout]="layoutDirection"
    [loading]="loading"
    (dSubmit)="submitForm($event)"
  >
    <d-form-item>
      <d-form-label>Domain Record</d-form-label>
      <d-form-control>
        <h3 style="margin: 0" class="font-color-name">{{ trafficRoute.domainRecord }}</h3>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Record Targets</d-form-label>
      <d-form-control>
        <d-radio-group name="channelStatus" [(ngModel)]="recordTarget">
          <d-radio *ngFor="let item of recordTargets" [name]="'resourceRecord'" [value]="item">
            <d-badge [showDot]="true"
                     [status]="item.active?'success':'warning'"></d-badge>
            <span style="margin-left: 10px">[ {{ item.recordType }} ]</span>
            <span> -> </span>
              <span dClipboard [content]="item.recordValue">{{ item.recordValue }}</span>
            <img *ngIf="item.targetType == 'ALIYUN_ALB'"
                 ngSrc='assets/icon/alibabacloud-icon.svg' alt='Cloudflare'
                 style='width: 20px; height: 20px; margin-left: 10px; vertical-align: middle' height='10' width='10'>
            <img *ngIf="item.targetType == 'AWS_ELB'"
                 ngSrc='assets/icon/aws-icon.svg' alt='AWS'
                 style='width: 20px; height: 20px; margin-left: 10px; vertical-align: middle' height='10' width='10'>
            <img *ngIf="item.targetType == 'HWC_ELB'"
                 ngSrc='assets/icon/huaweicloud-icon.svg' alt='HuaweiCloud'
                 style='width: 20px; height: 20px; margin-left: 10px; vertical-align: middle' height='10' width='10'>
            <img *ngIf="item.targetType == 'CLOUDFLARE'"
                 ngSrc='assets/icon/cloudflare-icon.svg'
                 alt='Cloudflare'
                 style='width: 20px; height: 20px; margin-left: 10px; vertical-align: middle' height='64' width='64'>
          </d-radio>
        </d-radio-group>
      </d-form-control>
    </d-form-item>
    <d-form-item *ngIf="needProxyParam()">
      <d-form-label [required]="true">Proxied</d-form-label>
      <d-form-control>
        <d-toggle name="proxied" [(ngModel)]="proxied"></d-toggle>
      </d-form-control>
    </d-form-item>
    <d-form-operation>
      <d-button
        [disabled]="recordTarget === undefined"
        style="margin-right: 8px"
        dFormSubmit>Confirm
      </d-button>
    </d-form-operation>
  </form>
</section>
