<da-layout-row [daGutter]="[24, 24]">
  <da-col-item [daSpan]="24" [daXs]="24">
    <ng-container *ngIf="JSON.stringify(edsInstance) !== '{}'; else noInstanceAsset">
      <ng-template [ngTemplateOutlet]="edsInstanceAsset"></ng-template>
    </ng-container>
  </da-col-item>
</da-layout-row>

<ng-template #noInstanceAsset>
  <h3 dLoading [loading]="loading">Fetch Eds Instance Asset</h3>
</ng-template>

<ng-template #edsInstanceAsset>
  <h2 style="margin: 6px 0">
    <a
      class="devui-dropdown-item"
      [routerLink]="['/pages', 'eds', 'instance']"
    ><i class="icon icon-module" style="margin-right: 5px"></i>{{ edsInstance?.instanceName }}</a>
  </h2>
  <d-tabs type="pills" [(activeTab)]="tabActiveId" (activeTabChange)="onActiveTabChange($event)">
    <d-tab *ngFor="let item of instanceAssetTypes" [id]="item.type">
      <ng-template dTabTitle>
        {{ item | edsAssetType }}
      </ng-template>
      <div class="app-data-table">
        <app-eds-asset-data-table
          [instanceId]="edsInstance.id"
          [currentType]="item.type"
          [assetType]="assetType"
        ></app-eds-asset-data-table>
      </div>
    </d-tab>
  </d-tabs>
</ng-template>
