<div class="spacing-search">
  <d-category-search
    style="width: 800px"
    class="category-search"
    [category]="category"
    [selectedTags]="selectedTags"
    [tagMaxWidth]="200"
    [extendedConfig]="extendedConfig"
    [groupOrderConfig]="groupOrderConfig"
    [toggleScrollToTail]="true"
    [categoryInGroup]="true"
    (searchEvent)="searchEvent($event)"
    (selectedTagsChange)="selectedTagsChange($event)"
  ></d-category-search>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter</d-button>
  <span class="right-button">
    <d-button bsStyle="danger" (click)="onScanAll()">Scan All</d-button>
  </span>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
    [checkable]="true"
  >
    <d-column header="Info">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          applicationName:&nbsp;{{ rowItem.applicationName }}
          <br/>
          deploymentName:&nbsp;{{ rowItem.name }}
          <br/>
          namespace:&nbsp;{{ rowItem.namespace }}
          <br/>
          framework:&nbsp;{{ rowItem.framework }}
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Asset">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          {{ rowItem.applicationName }}@{{ rowItem.instanceName }}
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Probe">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div>
            <span class="font-color-name" style="margin-right: 10px">startupProbe:</span>
            <d-icon
              dPopover
              style="vertical-align: sub"
              [icon]="'icon-view'"
              [content]="startupProbeTemplate"
              [position]="'left-top'"
              [controlled]="true"
              [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '700px' }"
            >
            </d-icon>
            <ng-template #startupProbeTemplate>
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['startupProbe']"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
            </ng-template>
            <div style="margin-left: 2em">
              <span>port:&nbsp;{{ rowItem['container'].startupProbe.port }}</span>
              <br />
              <span>path:&nbsp;{{ rowItem['container'].startupProbe.path }}</span>
            </div>
          </div>
          <div>
            <span class="font-color-name" style="margin-right: 10px">livenessProbe:</span>
            <d-icon
              dPopover
              style="vertical-align: sub"
              [icon]="'icon-view'"
              [content]="livenessProbeTemplate"
              [position]="'left-top'"
              [controlled]="true"
              [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '700px' }"
            >
            </d-icon>
            <ng-template #livenessProbeTemplate>
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['livenessProbe']"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
            </ng-template>
            <div style="margin-left: 2em">
              <span>port:&nbsp;{{ rowItem['container'].livenessProbe.port }}</span>
              <br />
              <span>path:&nbsp;{{ rowItem['container'].livenessProbe.path }}</span>
            </div>
          </div>
          <div>
            <span class="font-color-name" style="margin-right: 10px">readinessProbe:</span>
            <d-icon
              dPopover
              style="vertical-align: sub"
              [icon]="'icon-view'"
              [content]="readinessProbeTemplate"
              [position]="'left-top'"
              [controlled]="true"
              [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '700px' }"
            >
            </d-icon>
            <ng-template #readinessProbeTemplate>
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['readinessProbe']"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
            </ng-template>
            <div style="margin-left: 2em">
              <span>port:&nbsp;{{ rowItem['container'].readinessProbe.port }}</span>
              <br />
              <span>path:&nbsp;{{ rowItem['container'].readinessProbe.path }}</span>
            </div>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Lifecycle">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <span class="font-color-name" style="margin-right: 10px">preStop:</span>
          <d-icon
            dPopover
            style="vertical-align: sub"
            [icon]="'icon-view'"
            [content]="lifecycleTemplate"
            [position]="'left-top'"
            [controlled]="true"
            [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '700px' }"
          >
          </d-icon>
          <ng-template #lifecycleTemplate>
            <app-ace-editor
              [readonly]="true"
              [aceValue]="rowItem['lifecycle']"
              [mode]="'ace/mode/yaml'"
              [theme]="'ace/theme/tomorrow_night'"
            ></app-ace-editor>
          </ng-template>
          <div style="margin-left: 2em">
            <span>{{ rowItem['container'].lifecycle.preStopExecCommand }}</span>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Actions" [width]="'150px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon [icon]="'icon-publish'" [operable]="true" (click)="onRowFix(rowItem)"></d-icon>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
