<div class="spacing-search">
  <d-select
    class="select"
    [filterKey]="'name'"
    [width]="580"
    [appendToBody]="true"
    [(ngModel)]="application"
    [searchFn]="onSearchApplication"
    [allowClear]="true"
    [isSearch]="true"
    placeholder="Select application"
    (valueChange)="onApplicationChange($event)"
  >
    <ng-template let-option="option">
      <span>{{ option.name }}</span>
      <span style="float: right; padding: 3px 0">{{ option.comment }}</span>
    </ng-template>
  </d-select>
  <d-category-search
    style="width: 800px;max-width: 800px"
    class="category-search"
    [category]="category"
    [selectedTags]="selectedTags"
    [tagMaxWidth]="200"
    [extendedConfig]="extendedConfig"
    [groupOrderConfig]="groupOrderConfig"
    [toggleScrollToTail]="true"
    [categoryInGroup]="true"
    (searchEvent)="searchEvent($event)"
    (selectedTagsChange)="selectedTagsChange($event)"
  ></d-category-search>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter</d-button>
  <span class="right-button">
    <d-button bsStyle="danger" (click)="onScanAll()">Scan All</d-button>
  </span>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
  >
    <d-column field="applicationName" header="Appliction"></d-column>
    <d-column header="Kubernetes Resource">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <span dClipboard [content]="rowItem.instanceName">Kubernetes:&nbsp;{{ rowItem.instanceName }}</span>
          <br />
          <span dClipboard [content]="rowItem.namespace">Namespace:&nbsp;{{ rowItem.namespace }}</span>
          <br />
          <span dClipboard [content]="rowItem.name">Deployment:&nbsp;{{ rowItem.name }}</span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column field="framework" header="Framework"></d-column>
    <d-column header="Probe">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div>
            <d-badge [showDot]="true"
                     [status]="rowItem['container'].startupProbe.standard?'success':'warning'"></d-badge>
            <span class="font-color-name" style="margin-right: 10px">&nbsp;Startup</span>
            <d-icon
              dPopover
              style="vertical-align: sub"
              [icon]="'icon-view'"
              [content]="startupProbeTemplate"
              [position]="'left-top'"
              [controlled]="true"
              [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '700px' }"
            >
            </d-icon>
            <ng-template #startupProbeTemplate>
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['startupProbe']"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
            </ng-template>
            <div style="margin-left: 2em">
              {{ rowItem['container'].startupProbe.path }} [:{{ rowItem['container'].startupProbe.port }}]
            </div>
          </div>
          <div>
            <d-badge [showDot]="true"
                     [status]="rowItem['container'].livenessProbe.standard?'success':'warning'"></d-badge>
            <span class="font-color-name" style="margin-right: 10px">&nbsp;Liveness</span>
            <d-icon
              dPopover
              style="vertical-align: sub"
              [icon]="'icon-view'"
              [content]="livenessProbeTemplate"
              [position]="'left-top'"
              [controlled]="true"
              [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '700px' }"
            >
            </d-icon>
            <ng-template #livenessProbeTemplate>
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['livenessProbe']"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
            </ng-template>
            <div style="margin-left: 2em">
              {{ rowItem['container'].livenessProbe.path }} [:{{ rowItem['container'].livenessProbe.port }}]
            </div>
          </div>
          <div>
            <d-badge [showDot]="true"
                     [status]="rowItem['container'].readinessProbe.standard?'success':'warning'"></d-badge>
            <span class="font-color-name" style="margin-right: 10px">&nbsp;Readiness</span>
            <d-icon
              dPopover
              style="vertical-align: sub"
              [icon]="'icon-view'"
              [content]="readinessProbeTemplate"
              [position]="'left-top'"
              [controlled]="true"
              [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '700px' }"
            >
            </d-icon>
            <ng-template #readinessProbeTemplate>
              <app-ace-editor
                [readonly]="true"
                [aceValue]="rowItem['readinessProbe']"
                [mode]="'ace/mode/yaml'"
                [theme]="'ace/theme/tomorrow_night'"
              ></app-ace-editor>
            </ng-template>
            <div style="margin-left: 2em">
              {{ rowItem['container'].readinessProbe.path }} [:{{ rowItem['container'].readinessProbe.port }}]
            </div>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Lifecycle">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-badge [showDot]="true" [status]="rowItem['container'].lifecycle.standard?'success':'warning'"></d-badge>
          <span class="font-color-name" style="margin-right: 10px">&nbsp;PreStop:</span>
          <d-icon
            dPopover
            style="vertical-align: sub"
            [icon]="'icon-view'"
            [content]="lifecycleTemplate"
            [position]="'left-top'"
            [controlled]="true"
            [popoverStyle]="{ backgroundColor: 'white', color: 'black',width: '700px' }"
          >
          </d-icon>
          <ng-template #lifecycleTemplate>
            <app-ace-editor
              [readonly]="true"
              [aceValue]="rowItem['lifecycle']"
              [mode]="'ace/mode/yaml'"
              [theme]="'ace/theme/tomorrow_night'"
            ></app-ace-editor>
          </ng-template>
          <div style="margin-left: 2em">
            <span>{{ rowItem['container'].lifecycle.preStopExecCommand }}</span>
          </div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Standard">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-badge [showDot]="true"
                   [status]="rowItem['actuatorStandard']?'success':'warning'"></d-badge>
          <span class="font-color-name" style="margin-right: 10px">&nbsp;Actuator</span>
          <br />
          <d-badge [showDot]="true"
                   [status]="rowItem['lifecycleStandard']?'success':'warning'"></d-badge>
          <span class="font-color-name" style="margin-right: 10px">&nbsp;Lifecycle</span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Actions" [width]="'150px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon [icon]="'icon-publish'" [operable]="true" (click)="onRowFix(rowItem)"></d-icon>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>
