<section>
  <d-tag
    (click)="fetchData()"
    dLoading
    [loading]="loading"
    dPopover
    style="margin:0 5px 5px 0"
    [position]="'bottom-left'"
    [trigger]="'hover'"
    [controlled]="true"
    [mouseEnterDelay]="500"
    [content]="ldapIdentitiesTemplate"
    [tag]="'LDAP Identity'"
    [labelStyle]="JSON.stringify(ldapIdentities) === '[]'?'':'green-w98'"
    [popoverStyle]="getPopoverStyle()"
  ></d-tag>
  <ng-template #ldapIdentitiesTemplate>
    <div>
      <app-user-ldap-identity-card
        *ngFor="let identity of ldapIdentities"
        [identity]="identity"
        style="padding: 5px 5px;margin-bottom: 10px"
      ></app-user-ldap-identity-card>
    </div>
    <div *ngIf="JSON.stringify(ldapIdentities) === '[]'">no data</div>
  </ng-template>
</section>
