<div class="spacing-search">
  <d-button class="button" bsStyle="primary" (click)="onRowNew()">New</d-button>
  <d-search
    class="search"
    [(ngModel)]="queryParam.queryName"
    [iconPosition]="'left'"
    [placeholder]="'Search route channel'"
    (searchFn)="onSearch()"
  >
  </d-search>
  <d-button class="button" bsStyle="common" (click)="onSearch()">Filter</d-button>
</div>
<div class="spacing-table">
  <d-data-table
    dLoading
    [dataSource]="table.data"
    [tableOverflowType]="'overlay'"
    [backdrop]="true"
    [scrollable]="true"
    [loadingStyle]="'infinity'"
    [loading]="table.loading"
  >
    <d-column header="Channel" [width]="'180px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <span>{{ rowItem['channel'] ? rowItem['channel']['name'] : rowItem['channelId'] }}</span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Country Code" [width]="'140px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-tag *ngIf="rowItem['country']" [tag]="rowItem['country']" [labelStyle]="'blue-w98'"></d-tag>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Application" [width]="'180px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <span>{{ rowItem['application'] ? rowItem['application']['name'] : '' }}</span>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="API" [width]="'260px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div><span style="color: #8a8e99;">save:</span> {{ rowItem['saveApi'] }}</div>
          <div><span style="color: #8a8e99;">query:</span> {{ rowItem['queryApi'] }}</div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Deployed On" [width]="'240px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <div><span style="color: #8a8e99;">instance:</span> {{ rowItem['instanceName'] }}</div>
          <div><span style="color: #8a8e99;">namespace:</span> {{ rowItem['namespace'] }}</div>
        </ng-template>
      </d-cell>
    </d-column>
    <d-column header="Actions" [width]="'120px'">
      <d-cell>
        <ng-template let-rowItem="rowItem">
          <d-icon-group>
            <d-icon [icon]="'icon-edit'" [operable]="true" (click)="onRowEdit(rowItem)" title="Edit"></d-icon>
            <d-icon [icon]="'icon-switch'" [operable]="true" (click)="onOpenRouteSwitch(rowItem)" title="Route Switch"></d-icon>
          </d-icon-group>
        </ng-template>
      </d-cell>
    </d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">Fetch Data</div>
    </ng-template>
  </d-data-table>
</div>
<div class="spacing-pagination">
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [canChangePageSize]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  >
  </d-pagination>
</div>

<!-- Route Switch Dialog Template -->
<ng-template #routeSwitchTemplate>
  <div class="route-config-dialog" dLoading [loading]="routeSwitchLoading">
    <div *ngIf="!routeSwitchLoading && routeLineGroups.length === 0" class="rc-empty">No route config data</div>

    <div class="rc-section" *ngIf="routeLineGroups.length">
      <h4 class="rc-section-title">线路 / Lines
        <span class="rc-hash-hint">线路故障可整体关闭 / toggle a failed line off</span>
      </h4>
      <div class="rc-line-card" *ngFor="let line of routeLineGroups" [class.rc-disabled]="!line.enable">
        <div class="rc-line-head">
          <span class="rc-line-tag">{{ line.lineTag }}</span>
          <d-toggle [(ngModel)]="line.enable" (change)="onLineEnableChange(line, $event)"></d-toggle>
        </div>
        <div class="rc-line-actions" *ngIf="line.actionTypes.length">
          <d-tag *ngFor="let at of line.actionTypes" [tag]="at" [labelStyle]="'blue-w98'"></d-tag>
        </div>
      </div>
    </div>

    <div class="rc-section" *ngIf="routeBusinessList.length">
      <h4 class="rc-section-title">业务流量分配 / Business Traffic
        <span class="rc-hash-hint">hash ∈ 0 - {{ rangeSpace }} 左开右闭</span>
      </h4>
      <div class="rc-biz-card" *ngFor="let biz of routeBusinessList">
        <div class="rc-biz-name">{{ biz }}</div>
        <div class="rc-biz-line" *ngFor="let g of getServingGroups(biz)" [class.rc-disabled]="!g.enable">
          <span class="rc-biz-line-tag" [class.rc-off]="!g.enable">{{ g.lineTag }}</span>
          <d-slider class="rc-biz-slider" [(ngModel)]="g.weights[biz]" [min]="0" [max]="100" [step]="1" [disabled]="!g.enable"></d-slider>
          <span class="rc-biz-weight">{{ g.weights[biz] }}</span>
          <span class="rc-biz-percent">{{ getBizRange(biz, g).percent }}%</span>
          <span class="rc-biz-range" [class.rc-off]="!g.enable">{{ getBizRange(biz, g).start }} - {{ getBizRange(biz, g).end }}</span>
        </div>
        <div class="rc-biz-empty" *ngIf="getServingGroups(biz).length === 0">No line</div>
      </div>
    </div>
  </div>
</ng-template>
