<da-layout-row [daGutter]="[24, 24]">
  <da-col-item [daSpan]="24" [daXs]="24">
    <d-tabs type="pills" [(activeTab)]="tabActiveId" (activeTabChange)="onActiveTabChange($event)">
      <d-tab [id]="'domain'" [title]="'Domain'">
        <div class="app-data-table">
          <app-traffic-layer-domain-data-table #domainDataTable></app-traffic-layer-domain-data-table>
        </div>
      </d-tab>
      <d-tab [id]="'record'" [title]="'Record'">
        <div class="app-data-table">
          <app-traffic-layer-record-data-table #recordDataTable></app-traffic-layer-record-data-table>
        </div>
      </d-tab>
    </d-tabs>
  </da-col-item>
</da-layout-row>
