<div class="drawer-header">
  <div class="header-content">
    <h3>{{ 'webTerminal.selectAsset' | translate }}</h3>
    <p class="header-hint">{{ 'webTerminal.multiSelectHint' | translate }}</p>
  </div>
</div>

<div class="asset-search-container" [ngClass]="{'compact-mode': isCompactMode}">
  <!-- 搜索和筛选 -->
  <div class="search-filters">
    <d-button
      [disabled]="queryParam.tagGroup  ===''"
      bsStyle="common"
      (click)="onFavoriteClick()"
    >
      <i class="icon" [ngClass]="isFavorite?'icon-star':'icon-star-o'"></i>
      {{ 'kubernetes.actions.favorite' | translate }}
    </d-button>
    <d-search
      class="search"
      [(ngModel)]="queryParam.queryName"
      [iconPosition]="'left'"
      (searchFn)="fetchData()"
      (change)="fetchData()"
    >
    </d-search>

    <input
      dTextInput
      [allowEmptyValueSearch]="true"
      [delay]="1000"
      [appendToBody]="true"
      name="tagGroup"
      [valueParser]="valueParser"
      [(ngModel)]="queryParam.tagGroup"
      (ngModelChange)="onTagGroupChange($event)"
      placeholder="Input key select tag group"
      dAutoComplete
      [searchFn]="onSearchTagGroup.bind(this)"
    />

    <d-button
      bsStyle="common"
      (click)="fetchData()"
    >
      {{ 'webTerminal.filter' | translate }}
    </d-button>

    <d-button
      bsStyle="primary"
      (click)="onBatchSelect()"
      [disabled]="getCheckedRowsCount() === 0">
      {{ 'webTerminal.open' | translate }}
    </d-button>
  </div>

  <d-panel #anotherPanel [isCollapsed]="isCollapsed" [hasLeftPadding]="false" [showAnimation]="true"
           *ngIf="JSON.stringify(favoriteGroupList) !== '[]'" style="margin-bottom: 10px">
    <d-panel-header>
      <em class="icon icon-select-arrow" [ngClass]="{ open: anotherPanel.isCollapsed }"></em>
      {{ 'kubernetes.messages.myFavorites' | translate }}
    </d-panel-header>
    <d-panel-body style="padding: 5px">
      <d-tag
        *ngFor="let group of favoriteGroupList"
        style="margin: 5px 5px 0 0"
        [tag]="group"
        [customViewTemplate]="customTag"
        [labelStyle]="'blue-w98'"
      >
      </d-tag>
      <ng-template #customTag let-tag="tag">
        <span (click)="onClick(tag)">{{ tag.name }}</span>
        <span class="icon-close" style="vertical-align: center; padding-left: 4px"
              (click)="onRemoveGroupFavorite(tag.name)"></span>
      </ng-template>
    </d-panel-body>
  </d-panel>

  <!-- 资产表格 -->
  <div class="asset-table-container">
    <d-data-table
      #datatable
      dLoading
      [dataSource]="table.data"
      [tableOverflowType]="'overlay'"
      [backdrop]="true"
      [scrollable]="true"
      [tableHeight]="'calc(100vh - 350px)'"
      [loadingStyle]="'infinity'"
      [loading]="table.loading"
      [checkable]="true">

      <d-column field="name" header="Name" [width]="'180px'">
        <d-cell>
          <ng-template let-rowItem="rowItem" let-cellItem="cellItem">
            <div class="asset-name-container">
              <span
                class="asset-name-link"
                (click)="onAssetClick(rowItem)"
                [title]="cellItem">
                {{ cellItem }}
              </span>
              <d-tag
                *ngIf="isTerminalOpened(rowItem)"
                class="opened-tag"
                [labelStyle]="'green-w98'"
                [tag]="'webTerminal.opened' | translate">
              </d-tag>
            </div>
          </ng-template>
        </d-cell>
      </d-column>

      <d-column field="assetKey" header="IP" [width]="'180px'">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span class="asset-key" [title]="cellItem">{{ cellItem }}</span>
          </ng-template>
        </d-cell>
      </d-column>

      <d-column header="Tags" [width]="'300px'">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <app-business-tags [businessTags]="rowItem['businessTags']"></app-business-tags>
          </ng-template>
        </d-cell>
      </d-column>

      <ng-template #noResultTemplateRef>
        <div class="no-data">
          <div class="empty-icon">
            <i class="icon icon-server" style="font-size: 48px; color: #ccc;"></i>
          </div>
          <h4>{{ 'webTerminal.noAssetsFound' | translate }}</h4>
          <p>{{ 'webTerminal.tryDifferentSearch' | translate }}</p>
        </div>
      </ng-template>
    </d-data-table>
  </div>

  <div class="asset-pagination">
    <d-pagination
      class="pagination"
      [total]="table.pager.total"
      [(pageSize)]="table.pager.pageSize"
      [(pageIndex)]="table.pager.pageIndex"
      [canViewTotal]="true"
      [canChangePageSize]="false"
      [maxItems]="5"
      (pageIndexChange)="onPageIndexChange($event)"
      (pageSizeChange)="onPageSizeChange($event)">
    </d-pagination>
  </div>
</div>
