.card-content {
  display: flex;
  line-height: 25px;

  .name {
    color: var(--devui-text-weak, #99a9bf);
    font-size: 12px;
    width: 100px;
    flex: 0 0 auto;
  }

  .value {
    font-size: 12px;
    flex: 1;
  }

}
