<app-work-order-base-ticket
  #workOrderBaseTicketComponent
  [ticketDetails]="ticketDetails"
  [editTicketEntryTemplate]="editTicketEntryTemplate"
  [showTicketEntryTemplate]="showTicketEntryTemplate"
  (onGetTicket)="onGetTicketDetail($event)"
  (onHideDialog)="onCancel()"
></app-work-order-base-ticket>

<ng-template #editTicketEntryTemplate>
  <h3 *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    this work order only support one entry , you should remove entry first
  </h3>

  <form dForm ngForm [layout]="FormLayout.Vertical" *ngIf="JSON.stringify(ticketDetails.entries) === '[]'">
    <d-form-item>
      <d-form-label [required]="true">Instance</d-form-label>
      <d-form-control>
        <d-select
          name="user"
          [filterKey]="'instanceName'"
          [appendToBody]="true"
          [(ngModel)]="instance"
          [searchFn]="onSearchInstance"
          [isSearch]="true"
          placeholder="Select instance"
          (valueChange)="onInstanceChange($event)"
        >
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item *ngIf="instance !== undefined">
      <d-form-label [required]="true">Transfer Server</d-form-label>
      <d-form-control>
        <d-select
          name="awsTransfer"
          [filterKey]="'name'"
          [appendToBody]="true"
          [(ngModel)]="awsTransfer"
          [searchFn]="onSearchAwsTransfer"
          [isSearch]="true"
          placeholder="Select aws transfer"
          [allowClear]="true"
        >
          <ng-template let-option="option">
            <span>{{ option.name }}</span>
            <span style="float: right; padding: 3px 0">{{ option.originalAsset?.webUrl }}</span>
          </ng-template>
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">Username</d-form-label>
      <d-form-control>
        <input dTextInput name="username" [(ngModel)]="username" />
        <d-alert [type]="'info'" [closeable]="false" style="margin-top: 5px">
          Regex: <strong>{{ usernameRegex }}</strong>
          <br />
          {{ 'workOrderTicket.awsTransferSftp.tips1' | translate }}
          <br />
          {{ 'workOrderTicket.awsTransferSftp.tips2' | translate }}
          <br />
          {{ 'workOrderTicket.awsTransferSftp.tips3' | translate }}
        </d-alert>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">Public Key</d-form-label>
      <d-form-control>
        <textarea dTextarea name="publicKey" style="height: 100px" [(ngModel)]="publicKey"></textarea>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">Description</d-form-label>
      <d-form-control>
        <textarea dTextarea name="description" maxlength="200" style="height: 80px"  [(ngModel)]="description"></textarea>
      </d-form-control>
    </d-form-item>
    <d-form-operation>
      <d-button bsStyle="primary" (click)="onRowAdd()">Add Entry</d-button>
    </d-form-operation>
  </form>
</ng-template>

<ng-template #showTicketEntryTemplate>
  <div *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    <d-data-table
      [dataSource]="ticketDetails.entries"
      [tableOverflowType]="'overlay'"
    >
      <d-column field="instance" header="Aliyun Instance">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <span>{{ rowItem['instance']?.instanceName | dSafeNullPipe }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="displayName" header="Transfer Username@Server"></d-column>
      <d-column field="detail" header="Key Fingerprint">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span>{{ cellItem.keyFingerprint }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="detail" header="description">
        <d-cell>
          <ng-template let-cellItem="cellItem">
            <span>{{ cellItem.description }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column header="Actions" [width]="'80px'" *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.NEW">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-icon-group>
              <d-icon [icon]="'icon-delete'" [operable]="true" (click)="onRowRemove(rowItem)"></d-icon>
            </d-icon-group>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column
        header="Result"
        *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.COMPLETED
        || ticketDetails.ticket.ticketState === WorkOrderStatus.IN_PROGRESS"
      >
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-tag
              *ngIf="rowItem['success']"
              style="margin:0 5px 5px 0"
              [tag]="'success'"
              [labelStyle]="'green-w98'"
            ></d-tag>
            <span>{{ rowItem.result }}</span>
          </ng-template>
        </d-cell>
      </d-column>
    </d-data-table>
  </div>

</ng-template>
