<da-layout-row [daGutter]="[24, 24]">
  <da-col-item [daSpan]="24" [daXs]="24">
    <d-tabs type="pills" [(activeTab)]="tabActiveId" (activeTabChange)="onActiveTabChange($event)">
      <d-tab [id]="'kubernetes-resources-template'" [title]="'Kubernetes Resources Template'">
        <div class="app-data-table">
          <app-kubernetes-resources-template-data-table
            #kubernetesResourcesTemplateDataTable></app-kubernetes-resources-template-data-table>
        </div>
      </d-tab>
      <d-tab [id]="'kubernetes-resources-member'" [title]="'Kubernetes Resources Member'">
        <div class="app-data-table">
          <app-kubernetes-resources-member-data-table
            #kubernetesResourcesMemberDataTable></app-kubernetes-resources-member-data-table>
        </div>
      </d-tab>
      <d-tab [id]="'kubernetes-resources'" [title]="'Kubernetes Resources'">
        <div class="app-data-table">
          <app-kubernetes-resources-data-table #kubernetesResourcesDataTable></app-kubernetes-resources-data-table>
        </div>
      </d-tab>
    </d-tabs>
  </da-col-item>
</da-layout-row>
