@import "../../../../../../../styles.less";

.spacing-card-content {
  height: 72px;
  overflow: auto;

  .name {
    color: #99a9bf;
    display: inline-block;
    font-size: 12px;
  }

  .value {
    display: inline-block;
    float: right;
    font-size: 12px;
  }
}

.spacing-card-header {
  margin: 0;

  .spacing-card-header-title {
    position: relative;
    width: 304px;

    h4 {
      margin: 0 5px 0 0;
      display: inline-block;
    }

    .node-status {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 0;
      opacity: 0.8;
    }
  }

  .spacing-card-header-subtitle {
    position: relative;

    .node-labels {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.8;
    }
    //.icon-host {
    //  position: absolute;
    //  bottom: 0;
    //  top: 0;
    //  right: 0;
    //  opacity: 0.8;
    //  margin: auto;
    //}
  }

}
