<div>
  <d-card style="padding: 6px 8px">
    <d-card-header class="spacing-card-header">
      <d-card-title>
        <div class="spacing-card-header-title">
          <d-badge [showDot]="true" [status]="getNodeStatus()">
          </d-badge>
          <h4 class="font-color-name" dClipboard [content]="kubernetesNode.metadata.name">
            &nbsp;{{ kubernetesNode.status.addresses['Hostname']['address'] | dSafeNullPipe }}
          </h4>
          <span
            *ngIf="showNodeStatusConditions()"
            dPopover
            [content]="nodeStatusTemplate"
            [position]="'right-top'"
            [appendToBody]="true"
            [controlled]="true"
            [style.color]="'#cc6414'"
          >
            <i class="fa-solid fa-triangle-exclamation"></i>
          </span>
          <ng-template #nodeStatusTemplate>
            <div *ngFor="let condition of kubernetesNode.status.conditions | keyvalue">
              <span>{{ condition.key }}: {{ condition.value.message }}({{ condition.value.status }})</span>
            </div>
          </ng-template>
        </div>
      </d-card-title>
      <d-card-subtitle>
        <div class="spacing-card-header-subtitle">
          <span class="font-color-comment">
            {{ kubernetesNode.metadata.creationTimestamp | dDatePipe: 'y/M/d HH:mm:ss z' }}
            <strong style="margin-left: 3px">
              {{ kubernetesNode.metadata.creationTimestamp | dRelativeTime: limit | async }}
            </strong>
          </span>
          <span
            class="node-labels"
            dPopover
            [content]="nodeLabelsTemplate"
            [position]="'right-top'"
            [controlled]="true"
          >
            <i class="fa-solid fa-tags"></i>
          </span>
          <ng-template #nodeLabelsTemplate>
            <div *ngFor="let label of kubernetesNode.metadata.labels | keyvalue">
              <span>{{ label.key }}: {{ label.value }}</span>
            </div>
          </ng-template>
        </div>
      </d-card-subtitle>
    </d-card-header>
    <d-card-content style="margin: 0">
      <div class="spacing-card-content">
        <div>
          <span class="name">Node IP</span>
          <span class="value"
                dClipboard [content]="kubernetesNode.status.addresses['InternalIP']['address']"
          >
            {{ kubernetesNode.status.addresses['InternalIP']['address'] | dSafeNullPipe }}
          </span>
        </div>

        <div>
          <span class="name">Arch</span>
          <span class="value">
            {{ kubernetesNode.metadata.labels['kubernetes.io/os'] | dSafeNullPipe }}
            {{ kubernetesNode.metadata.labels['kubernetes.io/arch'] | dSafeNullPipe }}
          </span>
        </div>

        <div>
          <span class="name">Instance Type</span>
          <span class="value">
            {{ kubernetesNode.metadata.labels['node.kubernetes.io/instance-type'] | dSafeNullPipe }}
          </span>
        </div>

        <div>
          <span class="name">Instance Info</span>
          <span class="value">
            <i class="fa-solid fa-microchip"></i>
            cpu&nbsp;{{ kubernetesNode.attributes['status.capacity.cpu'] |stringReplace:'/':'' }}&nbsp;
            mem&nbsp;{{ kubernetesNode.attributes['status.capacity.memory'] | unitTran }}&nbsp;
            <i class="fa-solid fa-hard-drive"></i>
            {{ kubernetesNode.attributes['status.capacity.ephemeral-storage'] | unitTran }}
          </span>
        </div>

        <div>
          <span class="name">OS Image</span>
          <span class="value inline-value"
                [title]="kubernetesNode.status.nodeInfo.osImage">
            {{ kubernetesNode.status.nodeInfo.osImage | dSafeNullPipe }}</span>
        </div>

        <div style="line-height: 20px">
          <span class="name">Kubelet Version</span>
          <span
            class="value"
            [style.color]="kubernetesNode.status.nodeInfo.kubeletVersion !== kubeletVersion?'var(--devui-danger)':''"
          >
            <d-tag
              [tag]="kubernetesNode.status.nodeInfo.kubeletVersion"
              [labelStyle]="kubernetesNode.status.nodeInfo.kubeletVersion !== kubeletVersion?'red-w98':'green-w98'"
            ></d-tag>
          </span>
        </div>

        <div>
          <span class="name">Container Runtime</span>
          <span class="value">{{ kubernetesNode.status.nodeInfo.containerRuntimeVersion | dSafeNullPipe }}</span>
        </div>
      </div>

    </d-card-content>
  </d-card>
</div>
