<div>
  <d-card style="padding: 6px 8px">
    <d-card-header class="spacing-card-header">
      <d-card-title>
        <div class="spacing-card-header-title">
          <d-badge [showDot]="true" [status]="getNodeStatus()"></d-badge>
          <span
            dClipboard
            class="font-color-name node-name"
            [content]="kubernetesNode.metadata.name"
            [title]="kubernetesNode.metadata.name"
          >
            &nbsp;{{ kubernetesNode.status.addresses['Hostname']['address'] | dSafeNullPipe }}
          </span>
          <span
            *ngIf="showNodeStatusConditions()"
            dPopover
            [position]="'right-top'"
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [content]="nodeStatusTemplate"
            [appendToBody]="true"
            [style.color]="'#cc6414'">
            <i class="fa-solid fa-triangle-exclamation"></i>
          </span>
          <ng-template #nodeStatusTemplate>
            <div *ngFor="let condition of kubernetesNode.status.conditions | keyvalue">
              <span>{{ condition.key }}: {{ condition.value.message }}({{ condition.value.status }})</span>
            </div>
          </ng-template>
          <span
            class="node-labels"
            dPopover
            [position]="'right-top'"
            [trigger]="'hover'"
            [controlled]="true"
            [mouseEnterDelay]="500"
            [content]="nodeLabelsTemplate"
          >
            <i class="fa-solid fa-tags"></i>
          </span>
          <ng-template #nodeLabelsTemplate>
            <div *ngFor="let label of kubernetesNode.metadata.labels | keyvalue">
              <span>{{ label.key }}: {{ label.value }}</span>
            </div>
          </ng-template>
        </div>
      </d-card-title>
      <d-card-subtitle>
        <div class="spacing-card-header-subtitle">
          <span class="font-color-comment">
            {{ kubernetesNode.metadata.creationTimestamp | dDatePipe: 'y/M/d HH:mm:ss z' }}
            <strong style="margin-left: 3px">
              {{ kubernetesNode.metadata.creationTimestamp | dRelativeTime: limit | async }}
            </strong>
          </span>
        </div>
      </d-card-subtitle>
    </d-card-header>
    <d-card-content style="margin: 0">
      <div class="spacing-card-content">
        <div>
          <span class="name">Node</span>
          <span class="value" >
            <span dClipboard [content]="kubernetesNode.status.addresses['InternalIP']['address']">
              {{ kubernetesNode.status.addresses['InternalIP']['address'] | dSafeNullPipe }}
            </span>
          </span>
        </div>

        <div>
          <span class="name">Arch</span>
          <span class="value">
            {{ kubernetesNode.metadata.labels['kubernetes.io/os'] | dSafeNullPipe }}
            {{ kubernetesNode.metadata.labels['kubernetes.io/arch'] | dSafeNullPipe }}
          </span>
        </div>

        <div>
          <span class="name">OS Image</span>
          <span class="value inline-value" [title]="kubernetesNode.status.nodeInfo.osImage">
            {{ kubernetesNode.status.nodeInfo.osImage | dSafeNullPipe }}
          </span>
        </div>

        <div style="line-height: 20px">
          <span class="name">Kubelet Version</span>
          <span class="value">
            <d-tag
              dPopover
              [position]="'right-top'"
              [trigger]="'hover'"
              [controlled]="true"
              [mouseEnterDelay]="500"
              [content]="'Container Runtime: ' + kubernetesNode.status.nodeInfo.containerRuntimeVersion"
              [tag]="kubernetesNode.status.nodeInfo.kubeletVersion"
              [labelStyle]="kubernetesNode.status.nodeInfo.kubeletVersion !== kubeletVersion?'red-w98':'green-w98'"
            ></d-tag>
          </span>
        </div>

        <div>
          <span class="name">Instance</span>
          <span class="value">
            {{ kubernetesNode.metadata.labels['node.kubernetes.io/instance-type'] | dSafeNullPipe }}
          </span>
        </div>

        <div>
          <span class="value progress-container circle-type">
            <i class="fa-solid fa-microchip"></i>
            cpu&nbsp;{{ kubernetesNode.attributes['status.capacity.cpu'] |stringReplace:'/':'' }}
            <d-progress [type]="'circle'" [percentage]="kubernetesNode.usage.cpuPercentage" [strokeWidth]="18"
                        [strokeColor]="'#50d4ab'" [showContent]="false"
                        style="display: inline-block"></d-progress>
            mem&nbsp;{{ kubernetesNode.attributes['status.capacity.memory'] | unitTran }}
            <d-progress [type]="'circle'" [percentage]="kubernetesNode.usage.memoryPercentage" [strokeWidth]="18"
                        [strokeColor]="'#50d4ab'" [showContent]="false"
                        style="display: inline-block"></d-progress>
            &nbsp;<i class="fa-solid fa-hard-drive"></i>
            {{ kubernetesNode.attributes['status.capacity.ephemeral-storage'] | unitTran }}
          </span>
        </div>
      </div>
    </d-card-content>
  </d-card>
</div>
