<div>
  <d-card style="padding: 6px 8px">
    <d-card-header class="spacing-card-header">
      <d-card-title>
        <div class="spacing-card-header-title">
          <h4 class="font-color-name" dClipboard [content]="kubernetesNode.metadata.name">
            {{ kubernetesNode.metadata.name | dSafeNullPipe }}
          </h4>
        </div>
      </d-card-title>
      <d-card-subtitle>
        <div class="spacing-card-header-subtitle">
          <div class="font-color-comment">
            {{kubernetesNode.status.addresses}}
          </div>
        </div>
      </d-card-subtitle>
    </d-card-header>
    <d-card-content style="margin: 0">
      <div class="spacing-card-content">
      </div>
    </d-card-content>
    <!--    <d-card-actions [align]="'end'" style="margin: 0">-->
    <!--      <div>-->
    <!--        <d-button bsStyle="text" style="margin-right: 8px">Login</d-button>-->
    <!--        <d-button bsStyle="text">Log</d-button>-->
    <!--      </div>-->
    <!--    </d-card-actions>-->
  </d-card>
</div>
