<section>
    <span *ngFor="let permission of permissionMap| keyvalue">
    <h3 style="margin: 5px 0" class="font-color-comment"> {{ permission.key }}</h3>
    <span *ngIf="JSON.stringify(permission.value) === '[]'">
      <d-tag [tag]="'No permissions'"></d-tag>
    </span>
    <span *ngFor="let item of permission.value">
      {{ item.name }}:
      <span *ngFor="let role of item.userPermissions">
        <d-tag
          style="margin-right: 5px;"
          [tag]="role.role"
          [labelStyle]="role.valid?'blue-w98':''"
        >
        </d-tag>
      </span>
      <span style="margin-right: 10px"></span>
    </span>
  </span>
</section>
