<app-work-order-base-ticket
  #workOrderBaseTicket
  [ticketDetails]="ticketDetails"
  [editTicketEntryTemplate]="editTicketEntryTemplate"
  [showTicketEntryTemplate]="showTicketEntryTemplate"
  (onGetTicket)="onGetTicketDetail($event)"
  (onHideDialog)="onCancel()"
></app-work-order-base-ticket>

<ng-template #editTicketEntryTemplate>
  <h3 *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    this work order only support one entry , you should remove entry first
  </h3>

  <form dForm ngForm [layout]="FormLayout.Vertical" *ngIf="JSON.stringify(ticketDetails.entries) === '[]'">
    <d-form-item>
      <d-form-label [required]="true">{{ 'workOrderTicket.aliyunDataworks.labels.instance' | translate }}</d-form-label>
      <d-form-control>
        <d-select
          name="instanceName"
          [filterKey]="'instanceName'"
          [appendToBody]="true"
          [(ngModel)]="instance"
          [searchFn]="onSearchInstance"
          [isSearch]="true"
          placeholder="Search and select instance"
        >
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-operation>
      <d-button bsStyle="primary" (click)="onRowAdd()">Add Entry</d-button>
    </d-form-operation>
  </form>
</ng-template>

<ng-template #showTicketEntryTemplate>
  <div *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    <d-data-table
      [dataSource]="ticketDetails.entries"
      [tableOverflowType]="'overlay'"
    >
      <d-column field="instance" [header]="'workOrderTicket.aliyunDataworks.headers.aliyunInstance' | translate">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <span>{{ rowItem['instance']?.instanceName | dSafeNullPipe }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="name" [header]="'workOrderTicket.aliyunDataworks.headers.akRamUser' | translate"></d-column>
      <d-column [header]="'workOrderTicket.aliyunDataworks.headers.actions' | translate" [width]="'80px'" *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.NEW">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-icon-group>
              <d-icon [icon]="'icon-delete'" [operable]="true" (click)="onRowRemove(rowItem)"></d-icon>
            </d-icon-group>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column
        [header]="'workOrderTicket.aliyunDataworks.headers.result' | translate"
        *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.COMPLETED
        || ticketDetails.ticket.ticketState === WorkOrderStatus.IN_PROGRESS"
      >
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <d-tag
              *ngIf="rowItem['success']"
              style="margin:0 5px 5px 0"
              [tag]="'success'"
              [labelStyle]="'green-w98'"
            ></d-tag>
            <span>{{ rowItem.result }}</span>
          </ng-template>
        </d-cell>
      </d-column>
    </d-data-table>
  </div>

</ng-template>
