<section>
  <form dForm ngForm [layout]="layoutDirection">
    <d-form-item>
      <d-form-label>Command</d-form-label>
      <d-form-control>
        <app-xterm-logs [logs]="formData.commandMask"></app-xterm-logs>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Stdout</d-form-label>
      <d-form-control>
        <app-xterm-logs [logs]="formData.outMsg"></app-xterm-logs>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Stderr</d-form-label>
      <d-form-control>
        <app-xterm-logs [logs]="formData.errorMsg"></app-xterm-logs>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Max Waiting Time (S)</d-form-label>
      <d-form-control>
        <span>{{ formData.execTarget.maxWaitingTime }}</span>
      </d-form-control>
    </d-form-item>
  </form>
</section>

