<section>
  <d-tabs [(activeTab)]="tabActiveId" type="pills" (activeTabChange)="onActiveTabChange($event)">
    <d-tab id="info" title="Info">
      <app-user-info-editor
        #userInfo
        [formData]="formData"
        [fromAssetId]="fromAssetId"
        [operationType]="operationType"
        (onUserAdded)="onUserAdded($event)"
      ></app-user-info-editor>
    </d-tab>
    <d-tab id="permissions" title="Permissions" [disabled]="!formData.id">
      <app-user-permissions-editor #userPermissions [formData]="formData"
                                   *ngIf="formData.id"></app-user-permissions-editor>
    </d-tab>
    <d-tab id="rbac" title="RBAC" [disabled]="!formData.id">
      <app-user-rbac-editor #userRbac [formData]="formData" *ngIf="formData.id"></app-user-rbac-editor>
    </d-tab>
    <d-tab id="sshkey" title="SSH Key" [disabled]="!formData.id">
      <app-user-ssh-key-editor #userSshKey [formData]="formData" *ngIf="formData.id"></app-user-ssh-key-editor>
    </d-tab>
    <d-tab id="identity" title="Identity" [disabled]="!formData.id">
      <app-user-identity-editor #userIdentity [formData]="formData" *ngIf="formData.id"></app-user-identity-editor>
    </d-tab>
  </d-tabs>
</section>

