<da-layout-row [daGutter]="[24, 24]">
  <da-col-item [daSpan]="24" [daXs]="24">
    <d-tabs type="pills" [(activeTab)]="tabActiveId" (activeTabChange)="onActiveTabChange($event)">
      <d-tab [id]="'work-order-group'" [title]="'Work Order Group'">
        <div class="app-data-table">
          <app-work-order-group-management-data-table #workOrderGroup></app-work-order-group-management-data-table>
        </div>
      </d-tab>
      <d-tab [id]="'work-order'" [title]="'Work Order'">
        <div class="app-data-table">
          <app-work-order-management-data-table #workOrder></app-work-order-management-data-table>
        </div>
      </d-tab>
      <d-tab [id]="'work-order-ticket'" [title]="'Work Order Ticket'">
      <div class="app-data-table">
        <app-work-order-ticket-management-data-table #workOrderTicket></app-work-order-ticket-management-data-table>
      </div>
      </d-tab>
    </d-tabs>
  </da-col-item>
</da-layout-row>
