<section>
  <div *ngFor="let impact of riskImpacts" style="margin-bottom: 10px">
    <d-status
      [type]="impact.sla? 'error':'invalid'">
       <span class="impact-title">
        {{ impact.startTime | dDatePipe: 'y/M/d HH:mm:ss z' | dSafeNullPipe: '?'}}
         - {{ impact.endTime | dDatePipe: 'y/M/d HH:mm:ss z' | dSafeNullPipe: '?' }}
      </span>
    </d-status>
    <d-tag
      style="margin-left: 15px;margin-right: 5px;"
      *ngIf="impact.costDetail?.costDesc"
      [tag]="getSla(impact)"
      [labelStyle]="'red-w98'"
    ></d-tag>
    <app-business-tags
      *ngIf="!impact.sla"
      style="margin-left: 15px"
      [businessTags]="impact.businessTags"></app-business-tags>
    <app-business-tags
      *ngIf="impact.sla"
      [businessTags]="impact.businessTags"></app-business-tags>
    <br>
    <div class="impact-content">{{ impact.content }}</div>
  </div>
</section>
