<section>
  <form
    dForm
    ngForm
    [dValidateRules]="formRules['rule']"
    [layout]="layoutDirection"
  >
    <d-form-item>
      <d-form-label [required]="true">{{ 'rbac.role.form.roleName' | translate }}</d-form-label>
      <d-form-control>
        <input
          dTextInput
          name="groupName"
          [(ngModel)]="formData.roleName"
          [placeholder]="'rbac.role.form.roleNamePlaceholder' | translate"
          [dValidateRules]="formRules['roleName']" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">{{ 'rbac.role.form.accessLevel' | translate }}</d-form-label>
      <d-form-control>
        <d-input-number
          name="accessLevel"
          [min]="1"
          [max]="99"
          [allowEmpty]="false"
          [(ngModel)]="formData.accessLevel"
          class="input-number"
        ></d-input-number>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>{{ 'rbac.role.form.workOrderVisible' | translate }}</d-form-label>
      <d-form-control>
        <d-toggle name="workOrderVisible" [(ngModel)]="formData.workOrderVisible"></d-toggle>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>{{ 'rbac.role.form.comment' | translate }}</d-form-label>
      <d-form-control>
        <textarea
          dTextarea
          name="comment"
          maxlength="200"
          style="height: 80px"
          [placeholder]="'rbac.role.form.commentPlaceholder' | translate"
          [(ngModel)]="formData.comment"
        ></textarea>
      </d-form-control>
    </d-form-item>
  </form>
</section>

