<d-data-table
  dLoading
  [dataSource]="tableData"
  [tableOverflowType]="'overlay'"
  [backdrop]="true"
  [scrollable]="true"
  [loadingStyle]="'infinity'"
>
  <d-column field="name" [header]="'kubernetes.service.headers.name' | translate"></d-column>
  <d-column field="selector" [header]="'kubernetes.service.headers.selector' | translate">
    <d-cell>
      <ng-template let-cellItem="cellItem">
        <p *ngFor="let item of cellItem | keyvalue">
          <span>{{ item.key }}: {{ item.value }}</span>
        </p>
      </ng-template>
    </d-cell>
  </d-column>
  <d-column field="type" [header]="'kubernetes.service.headers.type' | translate"></d-column>
  <d-column field="clusterIP" [header]="'kubernetes.service.headers.clusterIP' | translate">
    <d-cell>
      <ng-template let-cellItem="cellItem">
        <span>{{ cellItem | dSafeNullPipe: 'null' }}</span>
      </ng-template>
    </d-cell>
  </d-column>
  <d-column field="ports" [header]="'kubernetes.service.headers.ports' | translate">
    <d-cell>
      <ng-template let-cellItem="cellItem">
        <p *ngFor="let port of cellItem ">
          <span>{{ port.port }}:{{ port.targetPort }}/{{port.protocol}}</span>
        </p>
      </ng-template>
    </d-cell>
  </d-column>
  <ng-template #noResultTemplateRef>
    <div class="no-data">{{ 'kubernetes.messages.noData' | translate }}</div>
  </ng-template>
</d-data-table>
