/* You can add global styles to this file, and also import other style files */
/* 脚手架自带 */
@import 'ng-devui/styles-var/devui-var.less';

:root {
  --devui-z-index-dropdown: 2000;
}

@page-padding: 12px;

/* 按钮颜色 */
@query-button-color: @devui-waiting;
@edit-button-color: @devui-waiting;
@add-button-color: @devui-info;
@delete-button-color: @devui-danger;

/* input input-max-width */
@search-input-max-width: 150px;
/* 水平间距 */
@search-row-sm: 5px;
/* 垂直间距 */
@search-col-sm: 10px;

/* 卡片水平间距 */
@card-row-sm: 20px;
/* 卡片栏垂直间距 */
@card-col-sm: 20px;

.app-data-table {
  padding: @page-padding;
}

/* data table 通用布局*/
.spacing-search {
  margin-bottom: @search-col-sm;

  .search {
    margin-right: @search-row-sm;
  }

  .button {
    margin-right: @search-row-sm;
  }

  .right-button {
    float: right;
    padding: 3px 0
  }

  .category-search {
    .devui-category-search-container {
      height: 28px;
    }

    display: inline-block;
    vertical-align: top;
    margin-right: @search-row-sm;
    max-width: 680px;
    width: 480px;
  }

  .select {
    display: inline-block;
    margin-right: @search-row-sm;
    max-width: 180px;
    width: 180px
  }

  .cascader {
    display: inline-block;
    margin-right: @search-row-sm;
    max-width: 200px;
    width: 200px
  }

  .tabs {
    display: inline-block;
    margin-right: @search-row-sm;
    vertical-align: top;
  }
}

.spacing-table {
  .no-data {
    text-align: center;
    margin-top: 20px;
  }
}

.spacing-pagination {
  margin-top: @search-col-sm;

  .pagination {
    display: inline-block;
    float: right;
    padding: 3px 0;
  }

  .batch-button {
    margin-right: @search-row-sm;
    display: inline-block;
  }
}

.table-row-invalid {
  background: @devui-gray-20 !important;
}

.app-ace-editor {
  border: 2px solid #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.button-delete {
  color: @devui-contrast-hover !important;
}

.font-color-name {
  color: #409eff;
}

.font-color-comment {
  color: #909399;
}

.pane-content {
  padding: 0 12px;
}

li {
  list-style: disc outside none;
  ul {
    margin-left: 2em;
  }
}
