<div class="line-config" dLoading [loading]="loading">
  <d-data-table
    [dataSource]="lines"
    [tableOverflowType]="'overlay'"
    [scrollable]="true"
  >
    <d-column field="lineTag" header="Line Tag" [width]="'200px'"></d-column>
    <d-column field="actionType" header="Action Type" [width]="'200px'"></d-column>
    <d-column field="weight" header="Weight" [width]="'120px'"></d-column>
    <ng-template #noResultTemplateRef>
      <div class="no-data">No line</div>
    </ng-template>
  </d-data-table>

  <div class="add-line">
    <h4 class="add-title">Add Line</h4>
    <div class="add-row">
      <input dTextInput [(ngModel)]="newLine.lineTag" placeholder="Line Tag *" />
      <input dTextInput [(ngModel)]="newLine.actionType" placeholder="Action Type" />
      <d-input-number [(ngModel)]="newLine.weight" [min]="0" [step]="1" style="flex: 1;"></d-input-number>
      <d-button bsStyle="primary" [disabled]="saving" (click)="onAddLine()">Add</d-button>
    </div>
  </div>
</div>
