<div class="spacing-search">
  <d-select
    class="select"
    [filterKey]="'instanceName'"
    [width]="580"
    [appendToBody]="true"
    [(ngModel)]="KubernetesInstance"
    [searchFn]="onSearchKubernetesInstance"
    [isSearch]="true"
    placeholder="Select instance"
    (valueChange)="onKubernetesInstanceChange($event)"
  >
    <ng-template let-option="option">
      <span>{{ option.instanceName }}</span>
      <span style="float: right; padding: 3px 0">{{ option.comment }}</span>
    </ng-template>
  </d-select>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter
  </d-button>
</div>
<div class="spacing-table" dLoading [loading]="loading">
  <div *ngIf="show">
    <d-panel>
      <d-panel-header>
        <div>
          <strong style="margin-right: 5px">
            {{ kubernetesNodeDetailsVO.kubernetesInstance.instanceName }}
          </strong>
          <d-tag
            [tag]=kubernetesNodeDetailsVO.kubernetesInstance.version
            [labelStyle]="'blue-w98'"
          ></d-tag>
        </div>
      </d-panel-header>
      <d-panel-body style="padding: 0">
        <div *ngFor="let item of kubernetesNodes | keyvalue; let first = first">
          <app-kubernetes-nodes-panel
            [zone]="item.key"
            [kubernetesNodes]="item.value"
            [kubeletVersion]="kubernetesNodeDetailsVO.kubernetesInstance.version"
            [isCollapsed]="first"
          ></app-kubernetes-nodes-panel>
        </div>
      </d-panel-body>
    </d-panel>
  </div>
</div>
