<section>
  <d-tabs [activeTab]="editorTab" (activeTabChange)="editorTab = $any($event)">
    <d-tab id="basic" [title]="'Basic'"></d-tab>
    <d-tab id="nodeInfo" [title]="'Node Info'"></d-tab>
  </d-tabs>
  <form dForm ngForm [dValidateRules]="formRules['rule']" [layout]="layoutDirection" *ngIf="editorTab === 'basic'">
    <d-form-item>
      <d-form-label [required]="true">Name</d-form-label>
      <d-form-control>
        <input dTextInput name="name" [(ngModel)]="formData.name" [dValidateRules]="formRules['name']" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Channel</d-form-label>
      <d-form-control>
        <d-select
          [options]="channelOptions"
          [(ngModel)]="selectedChannel"
          name="channelId"
          [placeholder]="'Select Channel'"
          [filterKey]="'label'"
          [isSearch]="true"
          [allowClear]="true"
          [appendToBody]="true"
          (ngModelChange)="onChannelChange($event)"
        ></d-select>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Node Type</d-form-label>
      <d-form-control>
        <d-tabs type="options" [activeTab]="formData.nodeType" (activeTabChange)="formData.nodeType = $any($event)">
          <d-tab *ngFor="let item of nodeTypeOptions" [id]="item" [title]="item"></d-tab>
        </d-tabs>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Source Endpoint</d-form-label>
      <d-form-control>
        <input dTextInput name="sourceEndpoint" [(ngModel)]="formData.sourceEndpoint" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Monitor URL</d-form-label>
      <d-form-control>
        <input dTextInput name="monitorUrl" [(ngModel)]="formData.monitorUrl" />
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Seq</d-form-label>
      <d-form-control>
        <d-input-number name="seq" [(ngModel)]="formData.seq" [min]="0" [step]="1"></d-input-number>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Linked to Channel</d-form-label>
      <d-form-control>
        <d-checkbox name="linkedChannel" [(ngModel)]="formData.linkedChannel"></d-checkbox>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Description</d-form-label>
      <d-form-control>
        <textarea dTextarea name="comment" maxlength="200" style="height: 80px" [(ngModel)]="formData.comment"></textarea>
      </d-form-control>
    </d-form-item>
  </form>
  <div *ngIf="editorTab === 'nodeInfo'" style="padding-top: 12px;">
    <textarea dTextarea name="nodeInfo" style="width: 100%; height: 300px;" [(ngModel)]="formData.nodeInfo"></textarea>
  </div>
</section>
