<app-work-order-base-ticket
  #workOrderBaseTicketComponent
  [ticketDetails]="ticketDetails"
  [editTicketEntryTemplate]="editTicketEntryTemplate"
  [showTicketEntryTemplate]="showTicketEntryTemplate"
  (onGetTicket)="onGetTicketDetail($event)"
  (onHideDialog)="onCancel()"
></app-work-order-base-ticket>

<ng-template #editTicketEntryTemplate>
  <h3 *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    this work order only support one entry , you should remove entry first
  </h3>

  <form dForm ngForm [layout]="FormLayout.Vertical" *ngIf="JSON.stringify(ticketDetails.entries) === '[]'">
    <d-form-item>
      <d-form-label [required]="true">User</d-form-label>
      <d-form-control>
        <d-select
          name="user"
          [filterKey]="'username'"
          [appendToBody]="true"
          [(ngModel)]="user"
          [searchFn]="onSearchUser"
          [isSearch]="true"
          placeholder="Select user"
        >
          <ng-template let-option="option">
            <span>{{ option.username }} : {{ option.name }}</span>
            <span style="float: right; padding: 3px 0">{{ option.email }}</span>
          </ng-template>
        </d-select>
      </d-form-control>
    </d-form-item>
    <d-form-operation>
      <d-button
        bsStyle="primary"
        (click)="onRowAdd()"
      >Add Entry
      </d-button>
    </d-form-operation>
  </form>
</ng-template>

<ng-template #showTicketEntryTemplate>
  <div *ngIf="JSON.stringify(ticketDetails.entries) !== '[]'">
    <d-data-table
      [dataSource]="ticketDetails.entries"
      [tableOverflowType]="'overlay'"
    >
      <d-column field="businessType" header="Business Type"></d-column>
      <d-column field="subType" header="Sub Type"></d-column>
      <d-column field="instance" header="Instance">
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <span>{{ rowItem['instance']?.instanceName | dSafeNullPipe }}</span>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column field="name" header="Account"></d-column>
      <d-column header="Actions" [width]="'80px'" *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.NEW">
        <d-cell>
          <ng-template let-rowItem="rowItem" >
            <d-icon-group>
              <d-icon [icon]="'icon-delete'" [operable]="true" (click)="onRowRemove(rowItem)"></d-icon>
            </d-icon-group>
          </ng-template>
        </d-cell>
      </d-column>
      <d-column
        header="Result"
        *ngIf="ticketDetails.ticket.ticketState === WorkOrderStatus.COMPLETED
        || ticketDetails.ticket.ticketState === WorkOrderStatus.IN_PROGRESS"
      >
        <d-cell>
          <ng-template let-rowItem="rowItem">
            <span>{{ rowItem.result | dSafeNullPipe }}</span>
          </ng-template>
        </d-cell>
      </d-column>
    </d-data-table>
  </div>

</ng-template>
