<section>
  <h2>Edit Tags</h2>
  <d-splitter [orientation]="orientation">
    <d-splitter-pane
      [size]="size"
      [minSize]="minSize"
      [maxSize]="maxSize"
      [collapsible]="true"
    >
      <div class="pane-content">
        <h3>Bind</h3>
        <div>
          <form
            dForm
            ngForm
            [dValidateRules]="formRules['rule']"
            [layout]="layoutDirection"
            #businessTagForm="dValidateRules"
            (dSubmit)="submitForm($event)"
          >
            <d-form-item>
              <d-form-label [required]="true">Tag Key</d-form-label>
              <d-form-control>
                <d-select
                  name="tagKey"
                  [filterKey]="'tagKey'"
                  [appendToBody]="true"
                  [(ngModel)]="formData.tag"
                  [searchFn]="onSearchTag"
                  [isSearch]="true"
                  placeholder="Select tag"
                  [searchPlaceholder]="'Search tag'"
                  (valueChange)="onTagChange($event)"
                >
                </d-select>
              </d-form-control>
            </d-form-item>
            <d-form-item>
              <d-form-label [required]="true">Tag Value</d-form-label>
              <d-form-control>
                <input
                  dTextInput
                  [allowEmptyValueSearch]="true"
                  [delay]="1000"
                  [valueParser]="valueParser"
                  [appendToBody]="true"
                  name="tagValue"
                  [(ngModel)]="formData.tagValue"
                  placeholder="Enter a value of 1 to 15 characters"
                  [dValidateRules]="formRules['tagValue']"
                  dAutoComplete
                  [searchFn]="onSearchTagValue.bind(this)"
                />
              </d-form-control>
            </d-form-item>
            <d-form-operation>
              <d-button
                class="mr-element-spacing"
                [title]="businessTagForm.errorMessage || ''" circled="true"
                style="margin-right: 8px"
                dFormSubmit
              >Bind
              </d-button>
              <d-button bsStyle="common" circled="true" dFormReset>Reset</d-button>
            </d-form-operation>
          </form>
        </div>
      </div>
    </d-splitter-pane>
    <d-splitter-pane minSize="15%">
      <div class="pane-content">
        <h3>Tags</h3>
        <div dLoading [loadingStyle]="'infinity'" [loading]="loading">
            <d-tag
              *ngFor="let businessTag of businessTags"
              style="margin: 5px 5px 0 0"
              [tag]="businessTag"
              [customViewTemplate]="customTag"
              [maxWidth]="'100px'"
              [customColor]="businessTag.tag.color"
            >
            </d-tag>
        </div>
      </div>
    </d-splitter-pane>
  </d-splitter>
</section>
<ng-template #customTag let-tag="tag">
  <span>{{ tag.tag.tagKey }}:{{ tag.tagValue }}</span>
  <span class="icon-close" style="vertical-align: center; padding-left: 4px" (click)="onTagDelete(tag)"></span>
</ng-template>
