<div class="spacing-search">
  <d-button class="button" bsStyle="primary" (click)="onRowNew()">New</d-button>
  <d-category-search
    *ngIf="show"
    class="category-search"
    [category]="category"
    [selectedTags]="selectedTags"
    [tagMaxWidth]="200"
    [extendedConfig]="extendedConfig"
    [groupOrderConfig]="groupOrderConfig"
    [toggleScrollToTail]="true"
    [categoryInGroup]="true"
    (searchEvent)="searchEvent($event)"
    (selectedTagsChange)="selectedTagsChange($event)"
  ></d-category-search>
  <app-business-cascader [businessType]="businessType" (onChange)="onTagChanges($event)"></app-business-cascader>
  <d-button class="button" bsStyle="common" (click)="fetchData()">Filter</d-button>
</div>
<div class="spacing-table da-list-content" dLoading [loading]="table.loading">
  <app-risk-event-card
    *ngFor="let riskEvent of table.data"
    class="card-item"
    [riskEvent]="riskEvent"
    (onFetchData)="fetchData()"
  ></app-risk-event-card>
</div>
<div class="spacing-pagination">
  <d-pagination
    class="pagination"
    [total]="table.pager.total"
    [(pageSize)]="table.pager.pageSize"
    [(pageIndex)]="table.pager.pageIndex"
    [canViewTotal]="true"
    [maxItems]="5"
    (pageIndexChange)="pageIndexChange($event)"
  >
  </d-pagination>
</div>
