<section>
  <d-card style="padding: 5px 10px">
    <d-card-header style="position: relative;margin-bottom: 5px;height: 28px">
      <d-card-subtitle>
        <span class="font-color-name">{{ kubernetesPod.metadata.name }}</span>
        <d-button
          style="position: absolute;right: 0;top: 0"
          bsStyle="text"
          (click)="onRowExit()"
        >Exit
        </d-button>
      </d-card-subtitle>
    </d-card-header>
    <d-card-content>
      <app-xterm-logs #kubernetesPodLog [rows]="40"></app-xterm-logs>
    </d-card-content>
  </d-card>
</section>
