<section>
  <form
    dForm
    ngForm
    [dValidateRules]="formRules['rule']"
    [layout]="layoutDirection"
  >
    <d-form-item>
      <d-form-label [required]="true">Command</d-form-label>
      <d-form-control>
        <app-ace-editor
          [readonly]="true"
          [minLines]="10"
          [maxLines]="30"
          [mode]="'ace/mode/yaml'"
          [aceValue]="formData.commandMask"
        >
        </app-ace-editor>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">Max Waiting Time</d-form-label>
      <d-form-control>
        <div class="composite-slider slider-wrapper">
          <d-slider name="limit" [(ngModel)]="maxWaitingTime" [min]="min" [max]="max" class="slider"></d-slider>
          <div class="snapshot-value">
            <d-input-number
              name="limit"
              [min]="min"
              [max]="max"
              [allowEmpty]="false"
              [(ngModel)]="maxWaitingTime"
              class="input-number"
            ></d-input-number>
          </div>
          <span style="margin-top: 15px">{{ min }}</span>
          <span style="margin:15px 10px 0 0">{{ max }}</span>
        </div>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label>Remark</d-form-label>
      <d-form-control>
        <textarea
          [disabled]="true"
          dTextarea
          name="applyRemark"
          maxlength="200"
          [(ngModel)]="formData.applyRemark"
        ></textarea>
      </d-form-control>
    </d-form-item>
  </form>
</section>

